/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$_1_appl_1600-x: 0px;
$_1_appl_1600-y: 922px;
$_1_appl_1600-offset-x: 0px;
$_1_appl_1600-offset-y: -922px;
$_1_appl_1600-width: 119px;
$_1_appl_1600-height: 82px;
$_1_appl_1600-total-width: 1109px;
$_1_appl_1600-total-height: 1068px;
$_1_appl_1600-image: '../../../img/1600/sprites.png';
$_1_appl_1600: 0px 922px 0px -922px 119px 82px 1109px 1068px '../../../img/1600/sprites.png';
$_1_appl2_1600-x: 769px;
$_1_appl2_1600-y: 768px;
$_1_appl2_1600-offset-x: -769px;
$_1_appl2_1600-offset-y: -768px;
$_1_appl2_1600-width: 110px;
$_1_appl2_1600-height: 83px;
$_1_appl2_1600-total-width: 1109px;
$_1_appl2_1600-total-height: 1068px;
$_1_appl2_1600-image: '../../../img/1600/sprites.png';
$_1_appl2_1600: 769px 768px -769px -768px 110px 83px 1109px 1068px '../../../img/1600/sprites.png';
$_1_appl3_1600-x: 888px;
$_1_appl3_1600-y: 922px;
$_1_appl3_1600-offset-x: -888px;
$_1_appl3_1600-offset-y: -922px;
$_1_appl3_1600-width: 98px;
$_1_appl3_1600-height: 70px;
$_1_appl3_1600-total-width: 1109px;
$_1_appl3_1600-total-height: 1068px;
$_1_appl3_1600-image: '../../../img/1600/sprites.png';
$_1_appl3_1600: 888px 922px -888px -922px 98px 70px 1109px 1068px '../../../img/1600/sprites.png';
$_1_appl4_1600-x: 1011px;
$_1_appl4_1600-y: 266px;
$_1_appl4_1600-offset-x: -1011px;
$_1_appl4_1600-offset-y: -266px;
$_1_appl4_1600-width: 78px;
$_1_appl4_1600-height: 62px;
$_1_appl4_1600-total-width: 1109px;
$_1_appl4_1600-total-height: 1068px;
$_1_appl4_1600-image: '../../../img/1600/sprites.png';
$_1_appl4_1600: 1011px 266px -1011px -266px 78px 62px 1109px 1068px '../../../img/1600/sprites.png';
$_1_appl_half_1600-x: 1011px;
$_1_appl_half_1600-y: 70px;
$_1_appl_half_1600-offset-x: -1011px;
$_1_appl_half_1600-offset-y: -70px;
$_1_appl_half_1600-width: 77px;
$_1_appl_half_1600-height: 67px;
$_1_appl_half_1600-total-width: 1109px;
$_1_appl_half_1600-total-height: 1068px;
$_1_appl_half_1600-image: '../../../img/1600/sprites.png';
$_1_appl_half_1600: 1011px 70px -1011px -70px 77px 67px 1109px 1068px '../../../img/1600/sprites.png';
$_1_board_1600-x: 578px;
$_1_board_1600-y: 0px;
$_1_board_1600-offset-x: -578px;
$_1_board_1600-offset-y: 0px;
$_1_board_1600-width: 433px;
$_1_board_1600-height: 190px;
$_1_board_1600-total-width: 1109px;
$_1_board_1600-total-height: 1068px;
$_1_board_1600-image: '../../../img/1600/sprites.png';
$_1_board_1600: 578px 0px -578px 0px 433px 190px 1109px 1068px '../../../img/1600/sprites.png';
$_1_miniBottle_1600-x: 578px;
$_1_miniBottle_1600-y: 190px;
$_1_miniBottle_1600-offset-x: -578px;
$_1_miniBottle_1600-offset-y: -190px;
$_1_miniBottle_1600-width: 114px;
$_1_miniBottle_1600-height: 182px;
$_1_miniBottle_1600-total-width: 1109px;
$_1_miniBottle_1600-total-height: 1068px;
$_1_miniBottle_1600-image: '../../../img/1600/sprites.png';
$_1_miniBottle_1600: 578px 190px -578px -190px 114px 182px 1109px 1068px '../../../img/1600/sprites.png';
$_1_notebook_1600-x: 578px;
$_1_notebook_1600-y: 372px;
$_1_notebook_1600-offset-x: -578px;
$_1_notebook_1600-offset-y: -372px;
$_1_notebook_1600-width: 326px;
$_1_notebook_1600-height: 176px;
$_1_notebook_1600-total-width: 1109px;
$_1_notebook_1600-total-height: 1068px;
$_1_notebook_1600-image: '../../../img/1600/sprites.png';
$_1_notebook_1600: 578px 372px -578px -372px 326px 176px 1109px 1068px '../../../img/1600/sprites.png';
$_2_appl_1600-x: 407px;
$_2_appl_1600-y: 768px;
$_2_appl_1600-offset-x: -407px;
$_2_appl_1600-offset-y: -768px;
$_2_appl_1600-width: 104px;
$_2_appl_1600-height: 118px;
$_2_appl_1600-total-width: 1109px;
$_2_appl_1600-total-height: 1068px;
$_2_appl_1600-image: '../../../img/1600/sprites.png';
$_2_appl_1600: 407px 768px -407px -768px 104px 118px 1109px 1068px '../../../img/1600/sprites.png';
$_2_appl2_1600-x: 679px;
$_2_appl2_1600-y: 768px;
$_2_appl2_1600-offset-x: -679px;
$_2_appl2_1600-offset-y: -768px;
$_2_appl2_1600-width: 90px;
$_2_appl2_1600-height: 106px;
$_2_appl2_1600-total-width: 1109px;
$_2_appl2_1600-total-height: 1068px;
$_2_appl2_1600-image: '../../../img/1600/sprites.png';
$_2_appl2_1600: 679px 768px -679px -768px 90px 106px 1109px 1068px '../../../img/1600/sprites.png';
$_2_appl_half_1600-x: 307px;
$_2_appl_half_1600-y: 768px;
$_2_appl_half_1600-offset-x: -307px;
$_2_appl_half_1600-offset-y: -768px;
$_2_appl_half_1600-width: 100px;
$_2_appl_half_1600-height: 131px;
$_2_appl_half_1600-total-width: 1109px;
$_2_appl_half_1600-total-height: 1068px;
$_2_appl_half_1600-image: '../../../img/1600/sprites.png';
$_2_appl_half_1600: 307px 768px -307px -768px 100px 131px 1109px 1068px '../../../img/1600/sprites.png';
$_2_boardMen_1600-x: 0px;
$_2_boardMen_1600-y: 0px;
$_2_boardMen_1600-offset-x: 0px;
$_2_boardMen_1600-offset-y: 0px;
$_2_boardMen_1600-width: 578px;
$_2_boardMen_1600-height: 768px;
$_2_boardMen_1600-total-width: 1109px;
$_2_boardMen_1600-total-height: 1068px;
$_2_boardMen_1600-image: '../../../img/1600/sprites.png';
$_2_boardMen_1600: 0px 0px 0px 0px 578px 768px 1109px 1068px '../../../img/1600/sprites.png';
$_2_miniBottle_1600-x: 511px;
$_2_miniBottle_1600-y: 768px;
$_2_miniBottle_1600-offset-x: -511px;
$_2_miniBottle_1600-offset-y: -768px;
$_2_miniBottle_1600-width: 168px;
$_2_miniBottle_1600-height: 110px;
$_2_miniBottle_1600-total-width: 1109px;
$_2_miniBottle_1600-total-height: 1068px;
$_2_miniBottle_1600-image: '../../../img/1600/sprites.png';
$_2_miniBottle_1600: 511px 768px -511px -768px 168px 110px 1109px 1068px '../../../img/1600/sprites.png';
$_3_appl1_1600-x: 238px;
$_3_appl1_1600-y: 922px;
$_3_appl1_1600-offset-x: -238px;
$_3_appl1_1600-offset-y: -922px;
$_3_appl1_1600-width: 145px;
$_3_appl1_1600-height: 82px;
$_3_appl1_1600-total-width: 1109px;
$_3_appl1_1600-total-height: 1068px;
$_3_appl1_1600-image: '../../../img/1600/sprites.png';
$_3_appl1_1600: 238px 922px -238px -922px 145px 82px 1109px 1068px '../../../img/1600/sprites.png';
$_3_appl2_1600-x: 117px;
$_3_appl2_1600-y: 1004px;
$_3_appl2_1600-offset-x: -117px;
$_3_appl2_1600-offset-y: -1004px;
$_3_appl2_1600-width: 106px;
$_3_appl2_1600-height: 62px;
$_3_appl2_1600-total-width: 1109px;
$_3_appl2_1600-total-height: 1068px;
$_3_appl2_1600-image: '../../../img/1600/sprites.png';
$_3_appl2_1600: 117px 1004px -117px -1004px 106px 62px 1109px 1068px '../../../img/1600/sprites.png';
$_3_appl3_1600-x: 0px;
$_3_appl3_1600-y: 1004px;
$_3_appl3_1600-offset-x: 0px;
$_3_appl3_1600-offset-y: -1004px;
$_3_appl3_1600-width: 117px;
$_3_appl3_1600-height: 64px;
$_3_appl3_1600-total-width: 1109px;
$_3_appl3_1600-total-height: 1068px;
$_3_appl3_1600-image: '../../../img/1600/sprites.png';
$_3_appl3_1600: 0px 1004px 0px -1004px 117px 64px 1109px 1068px '../../../img/1600/sprites.png';
$_3_miniBottle_1600-x: 857px;
$_3_miniBottle_1600-y: 548px;
$_3_miniBottle_1600-offset-x: -857px;
$_3_miniBottle_1600-offset-y: -548px;
$_3_miniBottle_1600-width: 130px;
$_3_miniBottle_1600-height: 149px;
$_3_miniBottle_1600-total-width: 1109px;
$_3_miniBottle_1600-total-height: 1068px;
$_3_miniBottle_1600-image: '../../../img/1600/sprites.png';
$_3_miniBottle_1600: 857px 548px -857px -548px 130px 149px 1109px 1068px '../../../img/1600/sprites.png';
$_5_appl1_1600-x: 879px;
$_5_appl1_1600-y: 768px;
$_5_appl1_1600-offset-x: -879px;
$_5_appl1_1600-offset-y: -768px;
$_5_appl1_1600-width: 114px;
$_5_appl1_1600-height: 83px;
$_5_appl1_1600-total-width: 1109px;
$_5_appl1_1600-total-height: 1068px;
$_5_appl1_1600-image: '../../../img/1600/sprites.png';
$_5_appl1_1600: 879px 768px -879px -768px 114px 83px 1109px 1068px '../../../img/1600/sprites.png';
$_5_appl2_1600-x: 1011px;
$_5_appl2_1600-y: 137px;
$_5_appl2_1600-offset-x: -1011px;
$_5_appl2_1600-offset-y: -137px;
$_5_appl2_1600-width: 77px;
$_5_appl2_1600-height: 67px;
$_5_appl2_1600-total-width: 1109px;
$_5_appl2_1600-total-height: 1068px;
$_5_appl2_1600-image: '../../../img/1600/sprites.png';
$_5_appl2_1600: 1011px 137px -1011px -137px 77px 67px 1109px 1068px '../../../img/1600/sprites.png';
$_5_appl3_1600-x: 1011px;
$_5_appl3_1600-y: 204px;
$_5_appl3_1600-offset-x: -1011px;
$_5_appl3_1600-offset-y: -204px;
$_5_appl3_1600-width: 81px;
$_5_appl3_1600-height: 62px;
$_5_appl3_1600-total-width: 1109px;
$_5_appl3_1600-total-height: 1068px;
$_5_appl3_1600-image: '../../../img/1600/sprites.png';
$_5_appl3_1600: 1011px 204px -1011px -204px 81px 62px 1109px 1068px '../../../img/1600/sprites.png';
$_5_appl4_1600-x: 119px;
$_5_appl4_1600-y: 922px;
$_5_appl4_1600-offset-x: -119px;
$_5_appl4_1600-offset-y: -922px;
$_5_appl4_1600-width: 119px;
$_5_appl4_1600-height: 82px;
$_5_appl4_1600-total-width: 1109px;
$_5_appl4_1600-total-height: 1068px;
$_5_appl4_1600-image: '../../../img/1600/sprites.png';
$_5_appl4_1600: 119px 922px -119px -922px 119px 82px 1109px 1068px '../../../img/1600/sprites.png';
$_5_appl5_1600-x: 1011px;
$_5_appl5_1600-y: 0px;
$_5_appl5_1600-offset-x: -1011px;
$_5_appl5_1600-offset-y: 0px;
$_5_appl5_1600-width: 98px;
$_5_appl5_1600-height: 70px;
$_5_appl5_1600-total-width: 1109px;
$_5_appl5_1600-total-height: 1068px;
$_5_appl5_1600-image: '../../../img/1600/sprites.png';
$_5_appl5_1600: 1011px 0px -1011px 0px 98px 70px 1109px 1068px '../../../img/1600/sprites.png';
$_5_appl6_1600-x: 383px;
$_5_appl6_1600-y: 922px;
$_5_appl6_1600-offset-x: -383px;
$_5_appl6_1600-offset-y: -922px;
$_5_appl6_1600-width: 78px;
$_5_appl6_1600-height: 80px;
$_5_appl6_1600-total-width: 1109px;
$_5_appl6_1600-total-height: 1068px;
$_5_appl6_1600-image: '../../../img/1600/sprites.png';
$_5_appl6_1600: 383px 922px -383px -922px 78px 80px 1109px 1068px '../../../img/1600/sprites.png';
$_5_back_1600-x: 664px;
$_5_back_1600-y: 922px;
$_5_back_1600-offset-x: -664px;
$_5_back_1600-offset-y: -922px;
$_5_back_1600-width: 224px;
$_5_back_1600-height: 71px;
$_5_back_1600-total-width: 1109px;
$_5_back_1600-total-height: 1068px;
$_5_back_1600-image: '../../../img/1600/sprites.png';
$_5_back_1600: 664px 922px -664px -922px 224px 71px 1109px 1068px '../../../img/1600/sprites.png';
$_5_board_1600-x: 461px;
$_5_board_1600-y: 922px;
$_5_board_1600-offset-x: -461px;
$_5_board_1600-offset-y: -922px;
$_5_board_1600-width: 203px;
$_5_board_1600-height: 76px;
$_5_board_1600-total-width: 1109px;
$_5_board_1600-total-height: 1068px;
$_5_board_1600-image: '../../../img/1600/sprites.png';
$_5_board_1600: 461px 922px -461px -922px 203px 76px 1109px 1068px '../../../img/1600/sprites.png';
$_5_product1_1600-x: 692px;
$_5_product1_1600-y: 190px;
$_5_product1_1600-offset-x: -692px;
$_5_product1_1600-offset-y: -190px;
$_5_product1_1600-width: 209px;
$_5_product1_1600-height: 176px;
$_5_product1_1600-total-width: 1109px;
$_5_product1_1600-total-height: 1068px;
$_5_product1_1600-image: '../../../img/1600/sprites.png';
$_5_product1_1600: 692px 190px -692px -190px 209px 176px 1109px 1068px '../../../img/1600/sprites.png';
$_5_product2_1600-x: 904px;
$_5_product2_1600-y: 372px;
$_5_product2_1600-offset-x: -904px;
$_5_product2_1600-offset-y: -372px;
$_5_product2_1600-width: 94px;
$_5_product2_1600-height: 157px;
$_5_product2_1600-total-width: 1109px;
$_5_product2_1600-total-height: 1068px;
$_5_product2_1600-image: '../../../img/1600/sprites.png';
$_5_product2_1600: 904px 372px -904px -372px 94px 157px 1109px 1068px '../../../img/1600/sprites.png';
$_5_product3_1600-x: 748px;
$_5_product3_1600-y: 548px;
$_5_product3_1600-offset-x: -748px;
$_5_product3_1600-offset-y: -548px;
$_5_product3_1600-width: 109px;
$_5_product3_1600-height: 164px;
$_5_product3_1600-total-width: 1109px;
$_5_product3_1600-total-height: 1068px;
$_5_product3_1600-image: '../../../img/1600/sprites.png';
$_5_product3_1600: 748px 548px -748px -548px 109px 164px 1109px 1068px '../../../img/1600/sprites.png';
$_5_product4_1600-x: 578px;
$_5_product4_1600-y: 548px;
$_5_product4_1600-offset-x: -578px;
$_5_product4_1600-offset-y: -548px;
$_5_product4_1600-width: 170px;
$_5_product4_1600-height: 172px;
$_5_product4_1600-total-width: 1109px;
$_5_product4_1600-total-height: 1068px;
$_5_product4_1600-image: '../../../img/1600/sprites.png';
$_5_product4_1600: 578px 548px -578px -548px 170px 172px 1109px 1068px '../../../img/1600/sprites.png';
$book_1600-x: 901px;
$book_1600-y: 190px;
$book_1600-offset-x: -901px;
$book_1600-offset-y: -190px;
$book_1600-width: 57px;
$book_1600-height: 166px;
$book_1600-total-width: 1109px;
$book_1600-total-height: 1068px;
$book_1600-image: '../../../img/1600/sprites.png';
$book_1600: 901px 190px -901px -190px 57px 166px 1109px 1068px '../../../img/1600/sprites.png';
$close_1600-x: 1011px;
$close_1600-y: 436px;
$close_1600-offset-x: -1011px;
$close_1600-offset-y: -436px;
$close_1600-width: 50px;
$close_1600-height: 49px;
$close_1600-total-width: 1109px;
$close_1600-total-height: 1068px;
$close_1600-image: '../../../img/1600/sprites.png';
$close_1600: 1011px 436px -1011px -436px 50px 49px 1109px 1068px '../../../img/1600/sprites.png';
$drinkSens_1600-x: 1011px;
$drinkSens_1600-y: 328px;
$drinkSens_1600-offset-x: -1011px;
$drinkSens_1600-offset-y: -328px;
$drinkSens_1600-width: 60px;
$drinkSens_1600-height: 59px;
$drinkSens_1600-total-width: 1109px;
$drinkSens_1600-total-height: 1068px;
$drinkSens_1600-image: '../../../img/1600/sprites.png';
$drinkSens_1600: 1011px 328px -1011px -328px 60px 59px 1109px 1068px '../../../img/1600/sprites.png';
$fb_1600-x: 1011px;
$fb_1600-y: 387px;
$fb_1600-offset-x: -1011px;
$fb_1600-offset-y: -387px;
$fb_1600-width: 50px;
$fb_1600-height: 49px;
$fb_1600-total-width: 1109px;
$fb_1600-total-height: 1068px;
$fb_1600-image: '../../../img/1600/sprites.png';
$fb_1600: 1011px 387px -1011px -387px 50px 49px 1109px 1068px '../../../img/1600/sprites.png';
$logo_1600-x: 157px;
$logo_1600-y: 768px;
$logo_1600-offset-x: -157px;
$logo_1600-offset-y: -768px;
$logo_1600-width: 150px;
$logo_1600-height: 147px;
$logo_1600-total-width: 1109px;
$logo_1600-total-height: 1068px;
$logo_1600-image: '../../../img/1600/sprites.png';
$logo_1600: 157px 768px -157px -768px 150px 147px 1109px 1068px '../../../img/1600/sprites.png';
$logoBorder_1600-x: 0px;
$logoBorder_1600-y: 768px;
$logoBorder_1600-offset-x: 0px;
$logoBorder_1600-offset-y: -768px;
$logoBorder_1600-width: 157px;
$logoBorder_1600-height: 154px;
$logoBorder_1600-total-width: 1109px;
$logoBorder_1600-total-height: 1068px;
$logoBorder_1600-image: '../../../img/1600/sprites.png';
$logoBorder_1600: 0px 768px 0px -768px 157px 154px 1109px 1068px '../../../img/1600/sprites.png';
$nwProductsLogo_1600-x: 1011px;
$nwProductsLogo_1600-y: 583px;
$nwProductsLogo_1600-offset-x: -1011px;
$nwProductsLogo_1600-offset-y: -583px;
$nwProductsLogo_1600-width: 90px;
$nwProductsLogo_1600-height: 35px;
$nwProductsLogo_1600-total-width: 1109px;
$nwProductsLogo_1600-total-height: 1068px;
$nwProductsLogo_1600-image: '../../../img/1600/sprites.png';
$nwProductsLogo_1600: 1011px 583px -1011px -583px 90px 35px 1109px 1068px '../../../img/1600/sprites.png';
$nwProductsLogoH_1600-x: 1011px;
$nwProductsLogoH_1600-y: 618px;
$nwProductsLogoH_1600-offset-x: -1011px;
$nwProductsLogoH_1600-offset-y: -618px;
$nwProductsLogoH_1600-width: 96px;
$nwProductsLogoH_1600-height: 35px;
$nwProductsLogoH_1600-total-width: 1109px;
$nwProductsLogoH_1600-total-height: 1068px;
$nwProductsLogoH_1600-image: '../../../img/1600/sprites.png';
$nwProductsLogoH_1600: 1011px 618px -1011px -618px 96px 35px 1109px 1068px '../../../img/1600/sprites.png';
$vk_1600-x: 1011px;
$vk_1600-y: 485px;
$vk_1600-offset-x: -1011px;
$vk_1600-offset-y: -485px;
$vk_1600-width: 50px;
$vk_1600-height: 49px;
$vk_1600-total-width: 1109px;
$vk_1600-total-height: 1068px;
$vk_1600-image: '../../../img/1600/sprites.png';
$vk_1600: 1011px 485px -1011px -485px 50px 49px 1109px 1068px '../../../img/1600/sprites.png';
$yt_1600-x: 1011px;
$yt_1600-y: 534px;
$yt_1600-offset-x: -1011px;
$yt_1600-offset-y: -534px;
$yt_1600-width: 50px;
$yt_1600-height: 49px;
$yt_1600-total-width: 1109px;
$yt_1600-total-height: 1068px;
$yt_1600-image: '../../../img/1600/sprites.png';
$yt_1600: 1011px 534px -1011px -534px 50px 49px 1109px 1068px '../../../img/1600/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
