/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$_1_appl_1440-x: 130px;
$_1_appl_1440-y: 829px;
$_1_appl_1440-offset-x: -130px;
$_1_appl_1440-offset-y: -829px;
$_1_appl_1440-width: 107px;
$_1_appl_1440-height: 74px;
$_1_appl_1440-total-width: 999px;
$_1_appl_1440-total-height: 961px;
$_1_appl_1440-image: '../../../img/1440/sprites.png';
$_1_appl_1440: 130px 829px -130px -829px 107px 74px 999px 961px '../../../img/1440/sprites.png';
$_1_appl2_1440-x: 795px;
$_1_appl2_1440-y: 691px;
$_1_appl2_1440-offset-x: -795px;
$_1_appl2_1440-offset-y: -691px;
$_1_appl2_1440-width: 99px;
$_1_appl2_1440-height: 75px;
$_1_appl2_1440-total-width: 999px;
$_1_appl2_1440-total-height: 961px;
$_1_appl2_1440-image: '../../../img/1440/sprites.png';
$_1_appl2_1440: 795px 691px -795px -691px 99px 75px 999px 961px '../../../img/1440/sprites.png';
$_1_appl3_1440-x: 910px;
$_1_appl3_1440-y: 0px;
$_1_appl3_1440-offset-x: -910px;
$_1_appl3_1440-offset-y: 0px;
$_1_appl3_1440-width: 89px;
$_1_appl3_1440-height: 63px;
$_1_appl3_1440-total-width: 999px;
$_1_appl3_1440-total-height: 961px;
$_1_appl3_1440-image: '../../../img/1440/sprites.png';
$_1_appl3_1440: 910px 0px -910px 0px 89px 63px 999px 961px '../../../img/1440/sprites.png';
$_1_appl4_1440-x: 910px;
$_1_appl4_1440-y: 183px;
$_1_appl4_1440-offset-x: -910px;
$_1_appl4_1440-offset-y: -183px;
$_1_appl4_1440-width: 70px;
$_1_appl4_1440-height: 56px;
$_1_appl4_1440-total-width: 999px;
$_1_appl4_1440-total-height: 961px;
$_1_appl4_1440-image: '../../../img/1440/sprites.png';
$_1_appl4_1440: 910px 183px -910px -183px 70px 56px 999px 961px '../../../img/1440/sprites.png';
$_1_appl_half_1440-x: 910px;
$_1_appl_half_1440-y: 123px;
$_1_appl_half_1440-offset-x: -910px;
$_1_appl_half_1440-offset-y: -123px;
$_1_appl_half_1440-width: 69px;
$_1_appl_half_1440-height: 60px;
$_1_appl_half_1440-total-width: 999px;
$_1_appl_half_1440-total-height: 961px;
$_1_appl_half_1440-image: '../../../img/1440/sprites.png';
$_1_appl_half_1440: 910px 123px -910px -123px 69px 60px 999px 961px '../../../img/1440/sprites.png';
$_1_board_1440-x: 520px;
$_1_board_1440-y: 0px;
$_1_board_1440-offset-x: -520px;
$_1_board_1440-offset-y: 0px;
$_1_board_1440-width: 390px;
$_1_board_1440-height: 171px;
$_1_board_1440-total-width: 999px;
$_1_board_1440-total-height: 961px;
$_1_board_1440-image: '../../../img/1440/sprites.png';
$_1_board_1440: 520px 0px -520px 0px 390px 171px 999px 961px '../../../img/1440/sprites.png';
$_1_miniBottle_1440-x: 520px;
$_1_miniBottle_1440-y: 171px;
$_1_miniBottle_1440-offset-x: -520px;
$_1_miniBottle_1440-offset-y: -171px;
$_1_miniBottle_1440-width: 103px;
$_1_miniBottle_1440-height: 163px;
$_1_miniBottle_1440-total-width: 999px;
$_1_miniBottle_1440-total-height: 961px;
$_1_miniBottle_1440-image: '../../../img/1440/sprites.png';
$_1_miniBottle_1440: 520px 171px -520px -171px 103px 163px 999px 961px '../../../img/1440/sprites.png';
$_1_notebook_1440-x: 520px;
$_1_notebook_1440-y: 334px;
$_1_notebook_1440-offset-x: -520px;
$_1_notebook_1440-offset-y: -334px;
$_1_notebook_1440-width: 294px;
$_1_notebook_1440-height: 158px;
$_1_notebook_1440-total-width: 999px;
$_1_notebook_1440-total-height: 961px;
$_1_notebook_1440-image: '../../../img/1440/sprites.png';
$_1_notebook_1440: 520px 334px -520px -334px 294px 158px 999px 961px '../../../img/1440/sprites.png';
$_2_appl_1440-x: 366px;
$_2_appl_1440-y: 691px;
$_2_appl_1440-offset-x: -366px;
$_2_appl_1440-offset-y: -691px;
$_2_appl_1440-width: 94px;
$_2_appl_1440-height: 107px;
$_2_appl_1440-total-width: 999px;
$_2_appl_1440-total-height: 961px;
$_2_appl_1440-image: '../../../img/1440/sprites.png';
$_2_appl_1440: 366px 691px -366px -691px 94px 107px 999px 961px '../../../img/1440/sprites.png';
$_2_appl2_1440-x: 611px;
$_2_appl2_1440-y: 691px;
$_2_appl2_1440-offset-x: -611px;
$_2_appl2_1440-offset-y: -691px;
$_2_appl2_1440-width: 81px;
$_2_appl2_1440-height: 95px;
$_2_appl2_1440-total-width: 999px;
$_2_appl2_1440-total-height: 961px;
$_2_appl2_1440-image: '../../../img/1440/sprites.png';
$_2_appl2_1440: 611px 691px -611px -691px 81px 95px 999px 961px '../../../img/1440/sprites.png';
$_2_appl_half_1440-x: 276px;
$_2_appl_half_1440-y: 691px;
$_2_appl_half_1440-offset-x: -276px;
$_2_appl_half_1440-offset-y: -691px;
$_2_appl_half_1440-width: 90px;
$_2_appl_half_1440-height: 118px;
$_2_appl_half_1440-total-width: 999px;
$_2_appl_half_1440-total-height: 961px;
$_2_appl_half_1440-image: '../../../img/1440/sprites.png';
$_2_appl_half_1440: 276px 691px -276px -691px 90px 118px 999px 961px '../../../img/1440/sprites.png';
$_2_boardMen_1440-x: 0px;
$_2_boardMen_1440-y: 0px;
$_2_boardMen_1440-offset-x: 0px;
$_2_boardMen_1440-offset-y: 0px;
$_2_boardMen_1440-width: 520px;
$_2_boardMen_1440-height: 691px;
$_2_boardMen_1440-total-width: 999px;
$_2_boardMen_1440-total-height: 961px;
$_2_boardMen_1440-image: '../../../img/1440/sprites.png';
$_2_boardMen_1440: 0px 0px 0px 0px 520px 691px 999px 961px '../../../img/1440/sprites.png';
$_2_miniBottle_1440-x: 460px;
$_2_miniBottle_1440-y: 691px;
$_2_miniBottle_1440-offset-x: -460px;
$_2_miniBottle_1440-offset-y: -691px;
$_2_miniBottle_1440-width: 151px;
$_2_miniBottle_1440-height: 99px;
$_2_miniBottle_1440-total-width: 999px;
$_2_miniBottle_1440-total-height: 961px;
$_2_miniBottle_1440-image: '../../../img/1440/sprites.png';
$_2_miniBottle_1440: 460px 691px -460px -691px 151px 99px 999px 961px '../../../img/1440/sprites.png';
$_3_appl1_1440-x: 0px;
$_3_appl1_1440-y: 829px;
$_3_appl1_1440-offset-x: 0px;
$_3_appl1_1440-offset-y: -829px;
$_3_appl1_1440-width: 130px;
$_3_appl1_1440-height: 74px;
$_3_appl1_1440-total-width: 999px;
$_3_appl1_1440-total-height: 961px;
$_3_appl1_1440-image: '../../../img/1440/sprites.png';
$_3_appl1_1440: 0px 829px 0px -829px 130px 74px 999px 961px '../../../img/1440/sprites.png';
$_3_appl2_1440-x: 105px;
$_3_appl2_1440-y: 903px;
$_3_appl2_1440-offset-x: -105px;
$_3_appl2_1440-offset-y: -903px;
$_3_appl2_1440-width: 96px;
$_3_appl2_1440-height: 55px;
$_3_appl2_1440-total-width: 999px;
$_3_appl2_1440-total-height: 961px;
$_3_appl2_1440-image: '../../../img/1440/sprites.png';
$_3_appl2_1440: 105px 903px -105px -903px 96px 55px 999px 961px '../../../img/1440/sprites.png';
$_3_appl3_1440-x: 0px;
$_3_appl3_1440-y: 903px;
$_3_appl3_1440-offset-x: 0px;
$_3_appl3_1440-offset-y: -903px;
$_3_appl3_1440-width: 105px;
$_3_appl3_1440-height: 58px;
$_3_appl3_1440-total-width: 999px;
$_3_appl3_1440-total-height: 961px;
$_3_appl3_1440-image: '../../../img/1440/sprites.png';
$_3_appl3_1440: 0px 903px 0px -903px 105px 58px 999px 961px '../../../img/1440/sprites.png';
$_3_miniBottle_1440-x: 771px;
$_3_miniBottle_1440-y: 492px;
$_3_miniBottle_1440-offset-x: -771px;
$_3_miniBottle_1440-offset-y: -492px;
$_3_miniBottle_1440-width: 117px;
$_3_miniBottle_1440-height: 134px;
$_3_miniBottle_1440-total-width: 999px;
$_3_miniBottle_1440-total-height: 961px;
$_3_miniBottle_1440-image: '../../../img/1440/sprites.png';
$_3_miniBottle_1440: 771px 492px -771px -492px 117px 134px 999px 961px '../../../img/1440/sprites.png';
$_5_appl1_1440-x: 692px;
$_5_appl1_1440-y: 691px;
$_5_appl1_1440-offset-x: -692px;
$_5_appl1_1440-offset-y: -691px;
$_5_appl1_1440-width: 103px;
$_5_appl1_1440-height: 75px;
$_5_appl1_1440-total-width: 999px;
$_5_appl1_1440-total-height: 961px;
$_5_appl1_1440-image: '../../../img/1440/sprites.png';
$_5_appl1_1440: 692px 691px -692px -691px 103px 75px 999px 961px '../../../img/1440/sprites.png';
$_5_appl2_1440-x: 910px;
$_5_appl2_1440-y: 63px;
$_5_appl2_1440-offset-x: -910px;
$_5_appl2_1440-offset-y: -63px;
$_5_appl2_1440-width: 69px;
$_5_appl2_1440-height: 60px;
$_5_appl2_1440-total-width: 999px;
$_5_appl2_1440-total-height: 961px;
$_5_appl2_1440-image: '../../../img/1440/sprites.png';
$_5_appl2_1440: 910px 63px -910px -63px 69px 60px 999px 961px '../../../img/1440/sprites.png';
$_5_appl3_1440-x: 910px;
$_5_appl3_1440-y: 239px;
$_5_appl3_1440-offset-x: -910px;
$_5_appl3_1440-offset-y: -239px;
$_5_appl3_1440-width: 73px;
$_5_appl3_1440-height: 56px;
$_5_appl3_1440-total-width: 999px;
$_5_appl3_1440-total-height: 961px;
$_5_appl3_1440-image: '../../../img/1440/sprites.png';
$_5_appl3_1440: 910px 239px -910px -239px 73px 56px 999px 961px '../../../img/1440/sprites.png';
$_5_appl4_1440-x: 237px;
$_5_appl4_1440-y: 829px;
$_5_appl4_1440-offset-x: -237px;
$_5_appl4_1440-offset-y: -829px;
$_5_appl4_1440-width: 107px;
$_5_appl4_1440-height: 74px;
$_5_appl4_1440-total-width: 999px;
$_5_appl4_1440-total-height: 961px;
$_5_appl4_1440-image: '../../../img/1440/sprites.png';
$_5_appl4_1440: 237px 829px -237px -829px 107px 74px 999px 961px '../../../img/1440/sprites.png';
$_5_appl5_1440-x: 799px;
$_5_appl5_1440-y: 829px;
$_5_appl5_1440-offset-x: -799px;
$_5_appl5_1440-offset-y: -829px;
$_5_appl5_1440-width: 89px;
$_5_appl5_1440-height: 63px;
$_5_appl5_1440-total-width: 999px;
$_5_appl5_1440-total-height: 961px;
$_5_appl5_1440-image: '../../../img/1440/sprites.png';
$_5_appl5_1440: 799px 829px -799px -829px 89px 63px 999px 961px '../../../img/1440/sprites.png';
$_5_appl6_1440-x: 344px;
$_5_appl6_1440-y: 829px;
$_5_appl6_1440-offset-x: -344px;
$_5_appl6_1440-offset-y: -829px;
$_5_appl6_1440-width: 70px;
$_5_appl6_1440-height: 72px;
$_5_appl6_1440-total-width: 999px;
$_5_appl6_1440-total-height: 961px;
$_5_appl6_1440-image: '../../../img/1440/sprites.png';
$_5_appl6_1440: 344px 829px -344px -829px 70px 72px 999px 961px '../../../img/1440/sprites.png';
$_5_back_1440-x: 597px;
$_5_back_1440-y: 829px;
$_5_back_1440-offset-x: -597px;
$_5_back_1440-offset-y: -829px;
$_5_back_1440-width: 202px;
$_5_back_1440-height: 64px;
$_5_back_1440-total-width: 999px;
$_5_back_1440-total-height: 961px;
$_5_back_1440-image: '../../../img/1440/sprites.png';
$_5_back_1440: 597px 829px -597px -829px 202px 64px 999px 961px '../../../img/1440/sprites.png';
$_5_board_1440-x: 414px;
$_5_board_1440-y: 829px;
$_5_board_1440-offset-x: -414px;
$_5_board_1440-offset-y: -829px;
$_5_board_1440-width: 183px;
$_5_board_1440-height: 68px;
$_5_board_1440-total-width: 999px;
$_5_board_1440-total-height: 961px;
$_5_board_1440-image: '../../../img/1440/sprites.png';
$_5_board_1440: 414px 829px -414px -829px 183px 68px 999px 961px '../../../img/1440/sprites.png';
$_5_product1_1440-x: 623px;
$_5_product1_1440-y: 171px;
$_5_product1_1440-offset-x: -623px;
$_5_product1_1440-offset-y: -171px;
$_5_product1_1440-width: 188px;
$_5_product1_1440-height: 158px;
$_5_product1_1440-total-width: 999px;
$_5_product1_1440-total-height: 961px;
$_5_product1_1440-image: '../../../img/1440/sprites.png';
$_5_product1_1440: 623px 171px -623px -171px 188px 158px 999px 961px '../../../img/1440/sprites.png';
$_5_product2_1440-x: 814px;
$_5_product2_1440-y: 334px;
$_5_product2_1440-offset-x: -814px;
$_5_product2_1440-offset-y: -334px;
$_5_product2_1440-width: 84px;
$_5_product2_1440-height: 141px;
$_5_product2_1440-total-width: 999px;
$_5_product2_1440-total-height: 961px;
$_5_product2_1440-image: '../../../img/1440/sprites.png';
$_5_product2_1440: 814px 334px -814px -334px 84px 141px 999px 961px '../../../img/1440/sprites.png';
$_5_product3_1440-x: 673px;
$_5_product3_1440-y: 492px;
$_5_product3_1440-offset-x: -673px;
$_5_product3_1440-offset-y: -492px;
$_5_product3_1440-width: 98px;
$_5_product3_1440-height: 148px;
$_5_product3_1440-total-width: 999px;
$_5_product3_1440-total-height: 961px;
$_5_product3_1440-image: '../../../img/1440/sprites.png';
$_5_product3_1440: 673px 492px -673px -492px 98px 148px 999px 961px '../../../img/1440/sprites.png';
$_5_product4_1440-x: 520px;
$_5_product4_1440-y: 492px;
$_5_product4_1440-offset-x: -520px;
$_5_product4_1440-offset-y: -492px;
$_5_product4_1440-width: 153px;
$_5_product4_1440-height: 155px;
$_5_product4_1440-total-width: 999px;
$_5_product4_1440-total-height: 961px;
$_5_product4_1440-image: '../../../img/1440/sprites.png';
$_5_product4_1440: 520px 492px -520px -492px 153px 155px 999px 961px '../../../img/1440/sprites.png';
$book_1440-x: 811px;
$book_1440-y: 171px;
$book_1440-offset-x: -811px;
$book_1440-offset-y: -171px;
$book_1440-width: 51px;
$book_1440-height: 150px;
$book_1440-total-width: 999px;
$book_1440-total-height: 961px;
$book_1440-image: '../../../img/1440/sprites.png';
$book_1440: 811px 171px -811px -171px 51px 150px 999px 961px '../../../img/1440/sprites.png';
$close_1440-x: 910px;
$close_1440-y: 392px;
$close_1440-offset-x: -910px;
$close_1440-offset-y: -392px;
$close_1440-width: 45px;
$close_1440-height: 44px;
$close_1440-total-width: 999px;
$close_1440-total-height: 961px;
$close_1440-image: '../../../img/1440/sprites.png';
$close_1440: 910px 392px -910px -392px 45px 44px 999px 961px '../../../img/1440/sprites.png';
$drinkSens_1440-x: 910px;
$drinkSens_1440-y: 295px;
$drinkSens_1440-offset-x: -910px;
$drinkSens_1440-offset-y: -295px;
$drinkSens_1440-width: 54px;
$drinkSens_1440-height: 53px;
$drinkSens_1440-total-width: 999px;
$drinkSens_1440-total-height: 961px;
$drinkSens_1440-image: '../../../img/1440/sprites.png';
$drinkSens_1440: 910px 295px -910px -295px 54px 53px 999px 961px '../../../img/1440/sprites.png';
$fb_1440-x: 910px;
$fb_1440-y: 348px;
$fb_1440-offset-x: -910px;
$fb_1440-offset-y: -348px;
$fb_1440-width: 45px;
$fb_1440-height: 44px;
$fb_1440-total-width: 999px;
$fb_1440-total-height: 961px;
$fb_1440-image: '../../../img/1440/sprites.png';
$fb_1440: 910px 348px -910px -348px 45px 44px 999px 961px '../../../img/1440/sprites.png';
$logo_1440-x: 141px;
$logo_1440-y: 691px;
$logo_1440-offset-x: -141px;
$logo_1440-offset-y: -691px;
$logo_1440-width: 135px;
$logo_1440-height: 132px;
$logo_1440-total-width: 999px;
$logo_1440-total-height: 961px;
$logo_1440-image: '../../../img/1440/sprites.png';
$logo_1440: 141px 691px -141px -691px 135px 132px 999px 961px '../../../img/1440/sprites.png';
$logoBorder_1440-x: 0px;
$logoBorder_1440-y: 691px;
$logoBorder_1440-offset-x: 0px;
$logoBorder_1440-offset-y: -691px;
$logoBorder_1440-width: 141px;
$logoBorder_1440-height: 138px;
$logoBorder_1440-total-width: 999px;
$logoBorder_1440-total-height: 961px;
$logoBorder_1440-image: '../../../img/1440/sprites.png';
$logoBorder_1440: 0px 691px 0px -691px 141px 138px 999px 961px '../../../img/1440/sprites.png';
$nwProductsLogo_1440-x: 910px;
$nwProductsLogo_1440-y: 524px;
$nwProductsLogo_1440-offset-x: -910px;
$nwProductsLogo_1440-offset-y: -524px;
$nwProductsLogo_1440-width: 81px;
$nwProductsLogo_1440-height: 32px;
$nwProductsLogo_1440-total-width: 999px;
$nwProductsLogo_1440-total-height: 961px;
$nwProductsLogo_1440-image: '../../../img/1440/sprites.png';
$nwProductsLogo_1440: 910px 524px -910px -524px 81px 32px 999px 961px '../../../img/1440/sprites.png';
$nwProductsLogoH_1440-x: 910px;
$nwProductsLogoH_1440-y: 556px;
$nwProductsLogoH_1440-offset-x: -910px;
$nwProductsLogoH_1440-offset-y: -556px;
$nwProductsLogoH_1440-width: 86px;
$nwProductsLogoH_1440-height: 32px;
$nwProductsLogoH_1440-total-width: 999px;
$nwProductsLogoH_1440-total-height: 961px;
$nwProductsLogoH_1440-image: '../../../img/1440/sprites.png';
$nwProductsLogoH_1440: 910px 556px -910px -556px 86px 32px 999px 961px '../../../img/1440/sprites.png';
$vk_1440-x: 910px;
$vk_1440-y: 436px;
$vk_1440-offset-x: -910px;
$vk_1440-offset-y: -436px;
$vk_1440-width: 45px;
$vk_1440-height: 44px;
$vk_1440-total-width: 999px;
$vk_1440-total-height: 961px;
$vk_1440-image: '../../../img/1440/sprites.png';
$vk_1440: 910px 436px -910px -436px 45px 44px 999px 961px '../../../img/1440/sprites.png';
$yt_1440-x: 910px;
$yt_1440-y: 480px;
$yt_1440-offset-x: -910px;
$yt_1440-offset-y: -480px;
$yt_1440-width: 45px;
$yt_1440-height: 44px;
$yt_1440-total-width: 999px;
$yt_1440-total-height: 961px;
$yt_1440-image: '../../../img/1440/sprites.png';
$yt_1440: 910px 480px -910px -480px 45px 44px 999px 961px '../../../img/1440/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
