/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$_1_appl_1366-x: 0px;
$_1_appl_1366-y: 787px;
$_1_appl_1366-offset-x: 0px;
$_1_appl_1366-offset-y: -787px;
$_1_appl_1366-width: 102px;
$_1_appl_1366-height: 70px;
$_1_appl_1366-total-width: 947px;
$_1_appl_1366-total-height: 912px;
$_1_appl_1366-image: '../../../img/1366/sprites.png';
$_1_appl_1366: 0px 787px 0px -787px 102px 70px 947px 912px '../../../img/1366/sprites.png';
$_1_appl2_1366-x: 656px;
$_1_appl2_1366-y: 656px;
$_1_appl2_1366-offset-x: -656px;
$_1_appl2_1366-offset-y: -656px;
$_1_appl2_1366-width: 94px;
$_1_appl2_1366-height: 71px;
$_1_appl2_1366-total-width: 947px;
$_1_appl2_1366-total-height: 912px;
$_1_appl2_1366-image: '../../../img/1366/sprites.png';
$_1_appl2_1366: 656px 656px -656px -656px 94px 71px 947px 912px '../../../img/1366/sprites.png';
$_1_appl3_1366-x: 758px;
$_1_appl3_1366-y: 787px;
$_1_appl3_1366-offset-x: -758px;
$_1_appl3_1366-offset-y: -787px;
$_1_appl3_1366-width: 84px;
$_1_appl3_1366-height: 60px;
$_1_appl3_1366-total-width: 947px;
$_1_appl3_1366-total-height: 912px;
$_1_appl3_1366-image: '../../../img/1366/sprites.png';
$_1_appl3_1366: 758px 787px -758px -787px 84px 60px 947px 912px '../../../img/1366/sprites.png';
$_1_appl4_1366-x: 863px;
$_1_appl4_1366-y: 227px;
$_1_appl4_1366-offset-x: -863px;
$_1_appl4_1366-offset-y: -227px;
$_1_appl4_1366-width: 66px;
$_1_appl4_1366-height: 53px;
$_1_appl4_1366-total-width: 947px;
$_1_appl4_1366-total-height: 912px;
$_1_appl4_1366-image: '../../../img/1366/sprites.png';
$_1_appl4_1366: 863px 227px -863px -227px 66px 53px 947px 912px '../../../img/1366/sprites.png';
$_1_appl_half_1366-x: 863px;
$_1_appl_half_1366-y: 60px;
$_1_appl_half_1366-offset-x: -863px;
$_1_appl_half_1366-offset-y: -60px;
$_1_appl_half_1366-width: 66px;
$_1_appl_half_1366-height: 57px;
$_1_appl_half_1366-total-width: 947px;
$_1_appl_half_1366-total-height: 912px;
$_1_appl_half_1366-image: '../../../img/1366/sprites.png';
$_1_appl_half_1366: 863px 60px -863px -60px 66px 57px 947px 912px '../../../img/1366/sprites.png';
$_1_board_1366-x: 493px;
$_1_board_1366-y: 0px;
$_1_board_1366-offset-x: -493px;
$_1_board_1366-offset-y: 0px;
$_1_board_1366-width: 370px;
$_1_board_1366-height: 162px;
$_1_board_1366-total-width: 947px;
$_1_board_1366-total-height: 912px;
$_1_board_1366-image: '../../../img/1366/sprites.png';
$_1_board_1366: 493px 0px -493px 0px 370px 162px 947px 912px '../../../img/1366/sprites.png';
$_1_miniBottle_1366-x: 493px;
$_1_miniBottle_1366-y: 162px;
$_1_miniBottle_1366-offset-x: -493px;
$_1_miniBottle_1366-offset-y: -162px;
$_1_miniBottle_1366-width: 98px;
$_1_miniBottle_1366-height: 155px;
$_1_miniBottle_1366-total-width: 947px;
$_1_miniBottle_1366-total-height: 912px;
$_1_miniBottle_1366-image: '../../../img/1366/sprites.png';
$_1_miniBottle_1366: 493px 162px -493px -162px 98px 155px 947px 912px '../../../img/1366/sprites.png';
$_1_notebook_1366-x: 493px;
$_1_notebook_1366-y: 317px;
$_1_notebook_1366-offset-x: -493px;
$_1_notebook_1366-offset-y: -317px;
$_1_notebook_1366-width: 279px;
$_1_notebook_1366-height: 150px;
$_1_notebook_1366-total-width: 947px;
$_1_notebook_1366-total-height: 912px;
$_1_notebook_1366-image: '../../../img/1366/sprites.png';
$_1_notebook_1366: 493px 317px -493px -317px 279px 150px 947px 912px '../../../img/1366/sprites.png';
$_2_appl_1366-x: 347px;
$_2_appl_1366-y: 656px;
$_2_appl_1366-offset-x: -347px;
$_2_appl_1366-offset-y: -656px;
$_2_appl_1366-width: 89px;
$_2_appl_1366-height: 101px;
$_2_appl_1366-total-width: 947px;
$_2_appl_1366-total-height: 912px;
$_2_appl_1366-image: '../../../img/1366/sprites.png';
$_2_appl_1366: 347px 656px -347px -656px 89px 101px 947px 912px '../../../img/1366/sprites.png';
$_2_appl2_1366-x: 579px;
$_2_appl2_1366-y: 656px;
$_2_appl2_1366-offset-x: -579px;
$_2_appl2_1366-offset-y: -656px;
$_2_appl2_1366-width: 77px;
$_2_appl2_1366-height: 90px;
$_2_appl2_1366-total-width: 947px;
$_2_appl2_1366-total-height: 912px;
$_2_appl2_1366-image: '../../../img/1366/sprites.png';
$_2_appl2_1366: 579px 656px -579px -656px 77px 90px 947px 912px '../../../img/1366/sprites.png';
$_2_appl_half_1366-x: 262px;
$_2_appl_half_1366-y: 656px;
$_2_appl_half_1366-offset-x: -262px;
$_2_appl_half_1366-offset-y: -656px;
$_2_appl_half_1366-width: 85px;
$_2_appl_half_1366-height: 112px;
$_2_appl_half_1366-total-width: 947px;
$_2_appl_half_1366-total-height: 912px;
$_2_appl_half_1366-image: '../../../img/1366/sprites.png';
$_2_appl_half_1366: 262px 656px -262px -656px 85px 112px 947px 912px '../../../img/1366/sprites.png';
$_2_boardMen_1366-x: 0px;
$_2_boardMen_1366-y: 0px;
$_2_boardMen_1366-offset-x: 0px;
$_2_boardMen_1366-offset-y: 0px;
$_2_boardMen_1366-width: 493px;
$_2_boardMen_1366-height: 656px;
$_2_boardMen_1366-total-width: 947px;
$_2_boardMen_1366-total-height: 912px;
$_2_boardMen_1366-image: '../../../img/1366/sprites.png';
$_2_boardMen_1366: 0px 0px 0px 0px 493px 656px 947px 912px '../../../img/1366/sprites.png';
$_2_miniBottle_1366-x: 436px;
$_2_miniBottle_1366-y: 656px;
$_2_miniBottle_1366-offset-x: -436px;
$_2_miniBottle_1366-offset-y: -656px;
$_2_miniBottle_1366-width: 143px;
$_2_miniBottle_1366-height: 94px;
$_2_miniBottle_1366-total-width: 947px;
$_2_miniBottle_1366-total-height: 912px;
$_2_miniBottle_1366-image: '../../../img/1366/sprites.png';
$_2_miniBottle_1366: 436px 656px -436px -656px 143px 94px 947px 912px '../../../img/1366/sprites.png';
$_3_appl1_1366-x: 204px;
$_3_appl1_1366-y: 787px;
$_3_appl1_1366-offset-x: -204px;
$_3_appl1_1366-offset-y: -787px;
$_3_appl1_1366-width: 124px;
$_3_appl1_1366-height: 70px;
$_3_appl1_1366-total-width: 947px;
$_3_appl1_1366-total-height: 912px;
$_3_appl1_1366-image: '../../../img/1366/sprites.png';
$_3_appl1_1366: 204px 787px -204px -787px 124px 70px 947px 912px '../../../img/1366/sprites.png';
$_3_appl2_1366-x: 100px;
$_3_appl2_1366-y: 857px;
$_3_appl2_1366-offset-x: -100px;
$_3_appl2_1366-offset-y: -857px;
$_3_appl2_1366-width: 91px;
$_3_appl2_1366-height: 53px;
$_3_appl2_1366-total-width: 947px;
$_3_appl2_1366-total-height: 912px;
$_3_appl2_1366-image: '../../../img/1366/sprites.png';
$_3_appl2_1366: 100px 857px -100px -857px 91px 53px 947px 912px '../../../img/1366/sprites.png';
$_3_appl3_1366-x: 0px;
$_3_appl3_1366-y: 857px;
$_3_appl3_1366-offset-x: 0px;
$_3_appl3_1366-offset-y: -857px;
$_3_appl3_1366-width: 100px;
$_3_appl3_1366-height: 55px;
$_3_appl3_1366-total-width: 947px;
$_3_appl3_1366-total-height: 912px;
$_3_appl3_1366-image: '../../../img/1366/sprites.png';
$_3_appl3_1366: 0px 857px 0px -857px 100px 55px 947px 912px '../../../img/1366/sprites.png';
$_3_miniBottle_1366-x: 731px;
$_3_miniBottle_1366-y: 467px;
$_3_miniBottle_1366-offset-x: -731px;
$_3_miniBottle_1366-offset-y: -467px;
$_3_miniBottle_1366-width: 111px;
$_3_miniBottle_1366-height: 127px;
$_3_miniBottle_1366-total-width: 947px;
$_3_miniBottle_1366-total-height: 912px;
$_3_miniBottle_1366-image: '../../../img/1366/sprites.png';
$_3_miniBottle_1366: 731px 467px -731px -467px 111px 127px 947px 912px '../../../img/1366/sprites.png';
$_5_appl1_1366-x: 750px;
$_5_appl1_1366-y: 656px;
$_5_appl1_1366-offset-x: -750px;
$_5_appl1_1366-offset-y: -656px;
$_5_appl1_1366-width: 98px;
$_5_appl1_1366-height: 71px;
$_5_appl1_1366-total-width: 947px;
$_5_appl1_1366-total-height: 912px;
$_5_appl1_1366-image: '../../../img/1366/sprites.png';
$_5_appl1_1366: 750px 656px -750px -656px 98px 71px 947px 912px '../../../img/1366/sprites.png';
$_5_appl2_1366-x: 863px;
$_5_appl2_1366-y: 117px;
$_5_appl2_1366-offset-x: -863px;
$_5_appl2_1366-offset-y: -117px;
$_5_appl2_1366-width: 66px;
$_5_appl2_1366-height: 57px;
$_5_appl2_1366-total-width: 947px;
$_5_appl2_1366-total-height: 912px;
$_5_appl2_1366-image: '../../../img/1366/sprites.png';
$_5_appl2_1366: 863px 117px -863px -117px 66px 57px 947px 912px '../../../img/1366/sprites.png';
$_5_appl3_1366-x: 863px;
$_5_appl3_1366-y: 174px;
$_5_appl3_1366-offset-x: -863px;
$_5_appl3_1366-offset-y: -174px;
$_5_appl3_1366-width: 69px;
$_5_appl3_1366-height: 53px;
$_5_appl3_1366-total-width: 947px;
$_5_appl3_1366-total-height: 912px;
$_5_appl3_1366-image: '../../../img/1366/sprites.png';
$_5_appl3_1366: 863px 174px -863px -174px 69px 53px 947px 912px '../../../img/1366/sprites.png';
$_5_appl4_1366-x: 102px;
$_5_appl4_1366-y: 787px;
$_5_appl4_1366-offset-x: -102px;
$_5_appl4_1366-offset-y: -787px;
$_5_appl4_1366-width: 102px;
$_5_appl4_1366-height: 70px;
$_5_appl4_1366-total-width: 947px;
$_5_appl4_1366-total-height: 912px;
$_5_appl4_1366-image: '../../../img/1366/sprites.png';
$_5_appl4_1366: 102px 787px -102px -787px 102px 70px 947px 912px '../../../img/1366/sprites.png';
$_5_appl5_1366-x: 863px;
$_5_appl5_1366-y: 0px;
$_5_appl5_1366-offset-x: -863px;
$_5_appl5_1366-offset-y: 0px;
$_5_appl5_1366-width: 84px;
$_5_appl5_1366-height: 60px;
$_5_appl5_1366-total-width: 947px;
$_5_appl5_1366-total-height: 912px;
$_5_appl5_1366-image: '../../../img/1366/sprites.png';
$_5_appl5_1366: 863px 0px -863px 0px 84px 60px 947px 912px '../../../img/1366/sprites.png';
$_5_appl6_1366-x: 328px;
$_5_appl6_1366-y: 787px;
$_5_appl6_1366-offset-x: -328px;
$_5_appl6_1366-offset-y: -787px;
$_5_appl6_1366-width: 66px;
$_5_appl6_1366-height: 68px;
$_5_appl6_1366-total-width: 947px;
$_5_appl6_1366-total-height: 912px;
$_5_appl6_1366-image: '../../../img/1366/sprites.png';
$_5_appl6_1366: 328px 787px -328px -787px 66px 68px 947px 912px '../../../img/1366/sprites.png';
$_5_back_1366-x: 567px;
$_5_back_1366-y: 787px;
$_5_back_1366-offset-x: -567px;
$_5_back_1366-offset-y: -787px;
$_5_back_1366-width: 191px;
$_5_back_1366-height: 61px;
$_5_back_1366-total-width: 947px;
$_5_back_1366-total-height: 912px;
$_5_back_1366-image: '../../../img/1366/sprites.png';
$_5_back_1366: 567px 787px -567px -787px 191px 61px 947px 912px '../../../img/1366/sprites.png';
$_5_board_1366-x: 394px;
$_5_board_1366-y: 787px;
$_5_board_1366-offset-x: -394px;
$_5_board_1366-offset-y: -787px;
$_5_board_1366-width: 173px;
$_5_board_1366-height: 65px;
$_5_board_1366-total-width: 947px;
$_5_board_1366-total-height: 912px;
$_5_board_1366-image: '../../../img/1366/sprites.png';
$_5_board_1366: 394px 787px -394px -787px 173px 65px 947px 912px '../../../img/1366/sprites.png';
$_5_product1_1366-x: 591px;
$_5_product1_1366-y: 162px;
$_5_product1_1366-offset-x: -591px;
$_5_product1_1366-offset-y: -162px;
$_5_product1_1366-width: 178px;
$_5_product1_1366-height: 150px;
$_5_product1_1366-total-width: 947px;
$_5_product1_1366-total-height: 912px;
$_5_product1_1366-image: '../../../img/1366/sprites.png';
$_5_product1_1366: 591px 162px -591px -162px 178px 150px 947px 912px '../../../img/1366/sprites.png';
$_5_product2_1366-x: 772px;
$_5_product2_1366-y: 317px;
$_5_product2_1366-offset-x: -772px;
$_5_product2_1366-offset-y: -317px;
$_5_product2_1366-width: 80px;
$_5_product2_1366-height: 134px;
$_5_product2_1366-total-width: 947px;
$_5_product2_1366-total-height: 912px;
$_5_product2_1366-image: '../../../img/1366/sprites.png';
$_5_product2_1366: 772px 317px -772px -317px 80px 134px 947px 912px '../../../img/1366/sprites.png';
$_5_product3_1366-x: 638px;
$_5_product3_1366-y: 467px;
$_5_product3_1366-offset-x: -638px;
$_5_product3_1366-offset-y: -467px;
$_5_product3_1366-width: 93px;
$_5_product3_1366-height: 140px;
$_5_product3_1366-total-width: 947px;
$_5_product3_1366-total-height: 912px;
$_5_product3_1366-image: '../../../img/1366/sprites.png';
$_5_product3_1366: 638px 467px -638px -467px 93px 140px 947px 912px '../../../img/1366/sprites.png';
$_5_product4_1366-x: 493px;
$_5_product4_1366-y: 467px;
$_5_product4_1366-offset-x: -493px;
$_5_product4_1366-offset-y: -467px;
$_5_product4_1366-width: 145px;
$_5_product4_1366-height: 147px;
$_5_product4_1366-total-width: 947px;
$_5_product4_1366-total-height: 912px;
$_5_product4_1366-image: '../../../img/1366/sprites.png';
$_5_product4_1366: 493px 467px -493px -467px 145px 147px 947px 912px '../../../img/1366/sprites.png';
$book_1366-x: 769px;
$book_1366-y: 162px;
$book_1366-offset-x: -769px;
$book_1366-offset-y: -162px;
$book_1366-width: 48px;
$book_1366-height: 142px;
$book_1366-total-width: 947px;
$book_1366-total-height: 912px;
$book_1366-image: '../../../img/1366/sprites.png';
$book_1366: 769px 162px -769px -162px 48px 142px 947px 912px '../../../img/1366/sprites.png';
$close_1366-x: 905px;
$close_1366-y: 331px;
$close_1366-offset-x: -905px;
$close_1366-offset-y: -331px;
$close_1366-width: 42px;
$close_1366-height: 42px;
$close_1366-total-width: 947px;
$close_1366-total-height: 912px;
$close_1366-image: '../../../img/1366/sprites.png';
$close_1366: 905px 331px -905px -331px 42px 42px 947px 912px '../../../img/1366/sprites.png';
$drinkSens_1366-x: 863px;
$drinkSens_1366-y: 280px;
$drinkSens_1366-offset-x: -863px;
$drinkSens_1366-offset-y: -280px;
$drinkSens_1366-width: 51px;
$drinkSens_1366-height: 51px;
$drinkSens_1366-total-width: 947px;
$drinkSens_1366-total-height: 912px;
$drinkSens_1366-image: '../../../img/1366/sprites.png';
$drinkSens_1366: 863px 280px -863px -280px 51px 51px 947px 912px '../../../img/1366/sprites.png';
$fb_1366-x: 863px;
$fb_1366-y: 331px;
$fb_1366-offset-x: -863px;
$fb_1366-offset-y: -331px;
$fb_1366-width: 42px;
$fb_1366-height: 42px;
$fb_1366-total-width: 947px;
$fb_1366-total-height: 912px;
$fb_1366-image: '../../../img/1366/sprites.png';
$fb_1366: 863px 331px -863px -331px 42px 42px 947px 912px '../../../img/1366/sprites.png';
$logo_1366-x: 134px;
$logo_1366-y: 656px;
$logo_1366-offset-x: -134px;
$logo_1366-offset-y: -656px;
$logo_1366-width: 128px;
$logo_1366-height: 126px;
$logo_1366-total-width: 947px;
$logo_1366-total-height: 912px;
$logo_1366-image: '../../../img/1366/sprites.png';
$logo_1366: 134px 656px -134px -656px 128px 126px 947px 912px '../../../img/1366/sprites.png';
$logoBorder_1366-x: 0px;
$logoBorder_1366-y: 656px;
$logoBorder_1366-offset-x: 0px;
$logoBorder_1366-offset-y: -656px;
$logoBorder_1366-width: 134px;
$logoBorder_1366-height: 131px;
$logoBorder_1366-total-width: 947px;
$logoBorder_1366-total-height: 912px;
$logoBorder_1366-image: '../../../img/1366/sprites.png';
$logoBorder_1366: 0px 656px 0px -656px 134px 131px 947px 912px '../../../img/1366/sprites.png';
$nwProductsLogo_1366-x: 863px;
$nwProductsLogo_1366-y: 415px;
$nwProductsLogo_1366-offset-x: -863px;
$nwProductsLogo_1366-offset-y: -415px;
$nwProductsLogo_1366-width: 76px;
$nwProductsLogo_1366-height: 30px;
$nwProductsLogo_1366-total-width: 947px;
$nwProductsLogo_1366-total-height: 912px;
$nwProductsLogo_1366-image: '../../../img/1366/sprites.png';
$nwProductsLogo_1366: 863px 415px -863px -415px 76px 30px 947px 912px '../../../img/1366/sprites.png';
$nwProductsLogoH_1366-x: 863px;
$nwProductsLogoH_1366-y: 445px;
$nwProductsLogoH_1366-offset-x: -863px;
$nwProductsLogoH_1366-offset-y: -445px;
$nwProductsLogoH_1366-width: 82px;
$nwProductsLogoH_1366-height: 30px;
$nwProductsLogoH_1366-total-width: 947px;
$nwProductsLogoH_1366-total-height: 912px;
$nwProductsLogoH_1366-image: '../../../img/1366/sprites.png';
$nwProductsLogoH_1366: 863px 445px -863px -445px 82px 30px 947px 912px '../../../img/1366/sprites.png';
$vk_1366-x: 863px;
$vk_1366-y: 373px;
$vk_1366-offset-x: -863px;
$vk_1366-offset-y: -373px;
$vk_1366-width: 42px;
$vk_1366-height: 42px;
$vk_1366-total-width: 947px;
$vk_1366-total-height: 912px;
$vk_1366-image: '../../../img/1366/sprites.png';
$vk_1366: 863px 373px -863px -373px 42px 42px 947px 912px '../../../img/1366/sprites.png';
$yt_1366-x: 905px;
$yt_1366-y: 373px;
$yt_1366-offset-x: -905px;
$yt_1366-offset-y: -373px;
$yt_1366-width: 42px;
$yt_1366-height: 42px;
$yt_1366-total-width: 947px;
$yt_1366-total-height: 912px;
$yt_1366-image: '../../../img/1366/sprites.png';
$yt_1366: 905px 373px -905px -373px 42px 42px 947px 912px '../../../img/1366/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
