/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$_1_appl_1536-x: 139px;
$_1_appl_1536-y: 884px;
$_1_appl_1536-offset-x: -139px;
$_1_appl_1536-offset-y: -884px;
$_1_appl_1536-width: 114px;
$_1_appl_1536-height: 79px;
$_1_appl_1536-total-width: 1063px;
$_1_appl_1536-total-height: 1024px;
$_1_appl_1536-image: '../../../img/1536/sprites.png';
$_1_appl_1536: 139px 884px -139px -884px 114px 79px 1063px 1024px '../../../img/1536/sprites.png';
$_1_appl2_1536-x: 849px;
$_1_appl2_1536-y: 737px;
$_1_appl2_1536-offset-x: -849px;
$_1_appl2_1536-offset-y: -737px;
$_1_appl2_1536-width: 106px;
$_1_appl2_1536-height: 80px;
$_1_appl2_1536-total-width: 1063px;
$_1_appl2_1536-total-height: 1024px;
$_1_appl2_1536-image: '../../../img/1536/sprites.png';
$_1_appl2_1536: 849px 737px -849px -737px 106px 80px 1063px 1024px '../../../img/1536/sprites.png';
$_1_appl3_1536-x: 969px;
$_1_appl3_1536-y: 0px;
$_1_appl3_1536-offset-x: -969px;
$_1_appl3_1536-offset-y: 0px;
$_1_appl3_1536-width: 94px;
$_1_appl3_1536-height: 68px;
$_1_appl3_1536-total-width: 1063px;
$_1_appl3_1536-total-height: 1024px;
$_1_appl3_1536-image: '../../../img/1536/sprites.png';
$_1_appl3_1536: 969px 0px -969px 0px 94px 68px 1063px 1024px '../../../img/1536/sprites.png';
$_1_appl4_1536-x: 969px;
$_1_appl4_1536-y: 198px;
$_1_appl4_1536-offset-x: -969px;
$_1_appl4_1536-offset-y: -198px;
$_1_appl4_1536-width: 74px;
$_1_appl4_1536-height: 60px;
$_1_appl4_1536-total-width: 1063px;
$_1_appl4_1536-total-height: 1024px;
$_1_appl4_1536-image: '../../../img/1536/sprites.png';
$_1_appl4_1536: 969px 198px -969px -198px 74px 60px 1063px 1024px '../../../img/1536/sprites.png';
$_1_appl_half_1536-x: 969px;
$_1_appl_half_1536-y: 133px;
$_1_appl_half_1536-offset-x: -969px;
$_1_appl_half_1536-offset-y: -133px;
$_1_appl_half_1536-width: 74px;
$_1_appl_half_1536-height: 65px;
$_1_appl_half_1536-total-width: 1063px;
$_1_appl_half_1536-total-height: 1024px;
$_1_appl_half_1536-image: '../../../img/1536/sprites.png';
$_1_appl_half_1536: 969px 133px -969px -133px 74px 65px 1063px 1024px '../../../img/1536/sprites.png';
$_1_board_1536-x: 554px;
$_1_board_1536-y: 0px;
$_1_board_1536-offset-x: -554px;
$_1_board_1536-offset-y: 0px;
$_1_board_1536-width: 415px;
$_1_board_1536-height: 182px;
$_1_board_1536-total-width: 1063px;
$_1_board_1536-total-height: 1024px;
$_1_board_1536-image: '../../../img/1536/sprites.png';
$_1_board_1536: 554px 0px -554px 0px 415px 182px 1063px 1024px '../../../img/1536/sprites.png';
$_1_miniBottle_1536-x: 554px;
$_1_miniBottle_1536-y: 182px;
$_1_miniBottle_1536-offset-x: -554px;
$_1_miniBottle_1536-offset-y: -182px;
$_1_miniBottle_1536-width: 110px;
$_1_miniBottle_1536-height: 174px;
$_1_miniBottle_1536-total-width: 1063px;
$_1_miniBottle_1536-total-height: 1024px;
$_1_miniBottle_1536-image: '../../../img/1536/sprites.png';
$_1_miniBottle_1536: 554px 182px -554px -182px 110px 174px 1063px 1024px '../../../img/1536/sprites.png';
$_1_notebook_1536-x: 554px;
$_1_notebook_1536-y: 356px;
$_1_notebook_1536-offset-x: -554px;
$_1_notebook_1536-offset-y: -356px;
$_1_notebook_1536-width: 313px;
$_1_notebook_1536-height: 169px;
$_1_notebook_1536-total-width: 1063px;
$_1_notebook_1536-total-height: 1024px;
$_1_notebook_1536-image: '../../../img/1536/sprites.png';
$_1_notebook_1536: 554px 356px -554px -356px 313px 169px 1063px 1024px '../../../img/1536/sprites.png';
$_2_appl_1536-x: 391px;
$_2_appl_1536-y: 737px;
$_2_appl_1536-offset-x: -391px;
$_2_appl_1536-offset-y: -737px;
$_2_appl_1536-width: 100px;
$_2_appl_1536-height: 114px;
$_2_appl_1536-total-width: 1063px;
$_2_appl_1536-total-height: 1024px;
$_2_appl_1536-image: '../../../img/1536/sprites.png';
$_2_appl_1536: 391px 737px -391px -737px 100px 114px 1063px 1024px '../../../img/1536/sprites.png';
$_2_appl2_1536-x: 652px;
$_2_appl2_1536-y: 737px;
$_2_appl2_1536-offset-x: -652px;
$_2_appl2_1536-offset-y: -737px;
$_2_appl2_1536-width: 87px;
$_2_appl2_1536-height: 101px;
$_2_appl2_1536-total-width: 1063px;
$_2_appl2_1536-total-height: 1024px;
$_2_appl2_1536-image: '../../../img/1536/sprites.png';
$_2_appl2_1536: 652px 737px -652px -737px 87px 101px 1063px 1024px '../../../img/1536/sprites.png';
$_2_appl_half_1536-x: 295px;
$_2_appl_half_1536-y: 737px;
$_2_appl_half_1536-offset-x: -295px;
$_2_appl_half_1536-offset-y: -737px;
$_2_appl_half_1536-width: 96px;
$_2_appl_half_1536-height: 126px;
$_2_appl_half_1536-total-width: 1063px;
$_2_appl_half_1536-total-height: 1024px;
$_2_appl_half_1536-image: '../../../img/1536/sprites.png';
$_2_appl_half_1536: 295px 737px -295px -737px 96px 126px 1063px 1024px '../../../img/1536/sprites.png';
$_2_boardMen_1536-x: 0px;
$_2_boardMen_1536-y: 0px;
$_2_boardMen_1536-offset-x: 0px;
$_2_boardMen_1536-offset-y: 0px;
$_2_boardMen_1536-width: 554px;
$_2_boardMen_1536-height: 737px;
$_2_boardMen_1536-total-width: 1063px;
$_2_boardMen_1536-total-height: 1024px;
$_2_boardMen_1536-image: '../../../img/1536/sprites.png';
$_2_boardMen_1536: 0px 0px 0px 0px 554px 737px 1063px 1024px '../../../img/1536/sprites.png';
$_2_miniBottle_1536-x: 491px;
$_2_miniBottle_1536-y: 737px;
$_2_miniBottle_1536-offset-x: -491px;
$_2_miniBottle_1536-offset-y: -737px;
$_2_miniBottle_1536-width: 161px;
$_2_miniBottle_1536-height: 106px;
$_2_miniBottle_1536-total-width: 1063px;
$_2_miniBottle_1536-total-height: 1024px;
$_2_miniBottle_1536-image: '../../../img/1536/sprites.png';
$_2_miniBottle_1536: 491px 737px -491px -737px 161px 106px 1063px 1024px '../../../img/1536/sprites.png';
$_3_appl1_1536-x: 0px;
$_3_appl1_1536-y: 884px;
$_3_appl1_1536-offset-x: 0px;
$_3_appl1_1536-offset-y: -884px;
$_3_appl1_1536-width: 139px;
$_3_appl1_1536-height: 79px;
$_3_appl1_1536-total-width: 1063px;
$_3_appl1_1536-total-height: 1024px;
$_3_appl1_1536-image: '../../../img/1536/sprites.png';
$_3_appl1_1536: 0px 884px 0px -884px 139px 79px 1063px 1024px '../../../img/1536/sprites.png';
$_3_appl2_1536-x: 112px;
$_3_appl2_1536-y: 963px;
$_3_appl2_1536-offset-x: -112px;
$_3_appl2_1536-offset-y: -963px;
$_3_appl2_1536-width: 102px;
$_3_appl2_1536-height: 59px;
$_3_appl2_1536-total-width: 1063px;
$_3_appl2_1536-total-height: 1024px;
$_3_appl2_1536-image: '../../../img/1536/sprites.png';
$_3_appl2_1536: 112px 963px -112px -963px 102px 59px 1063px 1024px '../../../img/1536/sprites.png';
$_3_appl3_1536-x: 0px;
$_3_appl3_1536-y: 963px;
$_3_appl3_1536-offset-x: 0px;
$_3_appl3_1536-offset-y: -963px;
$_3_appl3_1536-width: 112px;
$_3_appl3_1536-height: 61px;
$_3_appl3_1536-total-width: 1063px;
$_3_appl3_1536-total-height: 1024px;
$_3_appl3_1536-image: '../../../img/1536/sprites.png';
$_3_appl3_1536: 0px 963px 0px -963px 112px 61px 1063px 1024px '../../../img/1536/sprites.png';
$_3_miniBottle_1536-x: 821px;
$_3_miniBottle_1536-y: 525px;
$_3_miniBottle_1536-offset-x: -821px;
$_3_miniBottle_1536-offset-y: -525px;
$_3_miniBottle_1536-width: 125px;
$_3_miniBottle_1536-height: 143px;
$_3_miniBottle_1536-total-width: 1063px;
$_3_miniBottle_1536-total-height: 1024px;
$_3_miniBottle_1536-image: '../../../img/1536/sprites.png';
$_3_miniBottle_1536: 821px 525px -821px -525px 125px 143px 1063px 1024px '../../../img/1536/sprites.png';
$_5_appl1_1536-x: 739px;
$_5_appl1_1536-y: 737px;
$_5_appl1_1536-offset-x: -739px;
$_5_appl1_1536-offset-y: -737px;
$_5_appl1_1536-width: 110px;
$_5_appl1_1536-height: 80px;
$_5_appl1_1536-total-width: 1063px;
$_5_appl1_1536-total-height: 1024px;
$_5_appl1_1536-image: '../../../img/1536/sprites.png';
$_5_appl1_1536: 739px 737px -739px -737px 110px 80px 1063px 1024px '../../../img/1536/sprites.png';
$_5_appl2_1536-x: 969px;
$_5_appl2_1536-y: 68px;
$_5_appl2_1536-offset-x: -969px;
$_5_appl2_1536-offset-y: -68px;
$_5_appl2_1536-width: 74px;
$_5_appl2_1536-height: 65px;
$_5_appl2_1536-total-width: 1063px;
$_5_appl2_1536-total-height: 1024px;
$_5_appl2_1536-image: '../../../img/1536/sprites.png';
$_5_appl2_1536: 969px 68px -969px -68px 74px 65px 1063px 1024px '../../../img/1536/sprites.png';
$_5_appl3_1536-x: 969px;
$_5_appl3_1536-y: 258px;
$_5_appl3_1536-offset-x: -969px;
$_5_appl3_1536-offset-y: -258px;
$_5_appl3_1536-width: 78px;
$_5_appl3_1536-height: 60px;
$_5_appl3_1536-total-width: 1063px;
$_5_appl3_1536-total-height: 1024px;
$_5_appl3_1536-image: '../../../img/1536/sprites.png';
$_5_appl3_1536: 969px 258px -969px -258px 78px 60px 1063px 1024px '../../../img/1536/sprites.png';
$_5_appl4_1536-x: 253px;
$_5_appl4_1536-y: 884px;
$_5_appl4_1536-offset-x: -253px;
$_5_appl4_1536-offset-y: -884px;
$_5_appl4_1536-width: 114px;
$_5_appl4_1536-height: 79px;
$_5_appl4_1536-total-width: 1063px;
$_5_appl4_1536-total-height: 1024px;
$_5_appl4_1536-image: '../../../img/1536/sprites.png';
$_5_appl4_1536: 253px 884px -253px -884px 114px 79px 1063px 1024px '../../../img/1536/sprites.png';
$_5_appl5_1536-x: 851px;
$_5_appl5_1536-y: 884px;
$_5_appl5_1536-offset-x: -851px;
$_5_appl5_1536-offset-y: -884px;
$_5_appl5_1536-width: 94px;
$_5_appl5_1536-height: 68px;
$_5_appl5_1536-total-width: 1063px;
$_5_appl5_1536-total-height: 1024px;
$_5_appl5_1536-image: '../../../img/1536/sprites.png';
$_5_appl5_1536: 851px 884px -851px -884px 94px 68px 1063px 1024px '../../../img/1536/sprites.png';
$_5_appl6_1536-x: 367px;
$_5_appl6_1536-y: 884px;
$_5_appl6_1536-offset-x: -367px;
$_5_appl6_1536-offset-y: -884px;
$_5_appl6_1536-width: 74px;
$_5_appl6_1536-height: 77px;
$_5_appl6_1536-total-width: 1063px;
$_5_appl6_1536-total-height: 1024px;
$_5_appl6_1536-image: '../../../img/1536/sprites.png';
$_5_appl6_1536: 367px 884px -367px -884px 74px 77px 1063px 1024px '../../../img/1536/sprites.png';
$_5_back_1536-x: 636px;
$_5_back_1536-y: 884px;
$_5_back_1536-offset-x: -636px;
$_5_back_1536-offset-y: -884px;
$_5_back_1536-width: 215px;
$_5_back_1536-height: 68px;
$_5_back_1536-total-width: 1063px;
$_5_back_1536-total-height: 1024px;
$_5_back_1536-image: '../../../img/1536/sprites.png';
$_5_back_1536: 636px 884px -636px -884px 215px 68px 1063px 1024px '../../../img/1536/sprites.png';
$_5_board_1536-x: 441px;
$_5_board_1536-y: 884px;
$_5_board_1536-offset-x: -441px;
$_5_board_1536-offset-y: -884px;
$_5_board_1536-width: 195px;
$_5_board_1536-height: 73px;
$_5_board_1536-total-width: 1063px;
$_5_board_1536-total-height: 1024px;
$_5_board_1536-image: '../../../img/1536/sprites.png';
$_5_board_1536: 441px 884px -441px -884px 195px 73px 1063px 1024px '../../../img/1536/sprites.png';
$_5_product1_1536-x: 664px;
$_5_product1_1536-y: 182px;
$_5_product1_1536-offset-x: -664px;
$_5_product1_1536-offset-y: -182px;
$_5_product1_1536-width: 200px;
$_5_product1_1536-height: 169px;
$_5_product1_1536-total-width: 1063px;
$_5_product1_1536-total-height: 1024px;
$_5_product1_1536-image: '../../../img/1536/sprites.png';
$_5_product1_1536: 664px 182px -664px -182px 200px 169px 1063px 1024px '../../../img/1536/sprites.png';
$_5_product2_1536-x: 867px;
$_5_product2_1536-y: 356px;
$_5_product2_1536-offset-x: -867px;
$_5_product2_1536-offset-y: -356px;
$_5_product2_1536-width: 90px;
$_5_product2_1536-height: 151px;
$_5_product2_1536-total-width: 1063px;
$_5_product2_1536-total-height: 1024px;
$_5_product2_1536-image: '../../../img/1536/sprites.png';
$_5_product2_1536: 867px 356px -867px -356px 90px 151px 1063px 1024px '../../../img/1536/sprites.png';
$_5_product3_1536-x: 717px;
$_5_product3_1536-y: 525px;
$_5_product3_1536-offset-x: -717px;
$_5_product3_1536-offset-y: -525px;
$_5_product3_1536-width: 104px;
$_5_product3_1536-height: 157px;
$_5_product3_1536-total-width: 1063px;
$_5_product3_1536-total-height: 1024px;
$_5_product3_1536-image: '../../../img/1536/sprites.png';
$_5_product3_1536: 717px 525px -717px -525px 104px 157px 1063px 1024px '../../../img/1536/sprites.png';
$_5_product4_1536-x: 554px;
$_5_product4_1536-y: 525px;
$_5_product4_1536-offset-x: -554px;
$_5_product4_1536-offset-y: -525px;
$_5_product4_1536-width: 163px;
$_5_product4_1536-height: 165px;
$_5_product4_1536-total-width: 1063px;
$_5_product4_1536-total-height: 1024px;
$_5_product4_1536-image: '../../../img/1536/sprites.png';
$_5_product4_1536: 554px 525px -554px -525px 163px 165px 1063px 1024px '../../../img/1536/sprites.png';
$book_1536-x: 864px;
$book_1536-y: 182px;
$book_1536-offset-x: -864px;
$book_1536-offset-y: -182px;
$book_1536-width: 55px;
$book_1536-height: 160px;
$book_1536-total-width: 1063px;
$book_1536-total-height: 1024px;
$book_1536-image: '../../../img/1536/sprites.png';
$book_1536: 864px 182px -864px -182px 55px 160px 1063px 1024px '../../../img/1536/sprites.png';
$close_1536-x: 969px;
$close_1536-y: 422px;
$close_1536-offset-x: -969px;
$close_1536-offset-y: -422px;
$close_1536-width: 48px;
$close_1536-height: 47px;
$close_1536-total-width: 1063px;
$close_1536-total-height: 1024px;
$close_1536-image: '../../../img/1536/sprites.png';
$close_1536: 969px 422px -969px -422px 48px 47px 1063px 1024px '../../../img/1536/sprites.png';
$drinkSens_1536-x: 969px;
$drinkSens_1536-y: 318px;
$drinkSens_1536-offset-x: -969px;
$drinkSens_1536-offset-y: -318px;
$drinkSens_1536-width: 58px;
$drinkSens_1536-height: 57px;
$drinkSens_1536-total-width: 1063px;
$drinkSens_1536-total-height: 1024px;
$drinkSens_1536-image: '../../../img/1536/sprites.png';
$drinkSens_1536: 969px 318px -969px -318px 58px 57px 1063px 1024px '../../../img/1536/sprites.png';
$fb_1536-x: 969px;
$fb_1536-y: 375px;
$fb_1536-offset-x: -969px;
$fb_1536-offset-y: -375px;
$fb_1536-width: 48px;
$fb_1536-height: 47px;
$fb_1536-total-width: 1063px;
$fb_1536-total-height: 1024px;
$fb_1536-image: '../../../img/1536/sprites.png';
$fb_1536: 969px 375px -969px -375px 48px 47px 1063px 1024px '../../../img/1536/sprites.png';
$logo_1536-x: 151px;
$logo_1536-y: 737px;
$logo_1536-offset-x: -151px;
$logo_1536-offset-y: -737px;
$logo_1536-width: 144px;
$logo_1536-height: 141px;
$logo_1536-total-width: 1063px;
$logo_1536-total-height: 1024px;
$logo_1536-image: '../../../img/1536/sprites.png';
$logo_1536: 151px 737px -151px -737px 144px 141px 1063px 1024px '../../../img/1536/sprites.png';
$logoBorder_1536-x: 0px;
$logoBorder_1536-y: 737px;
$logoBorder_1536-offset-x: 0px;
$logoBorder_1536-offset-y: -737px;
$logoBorder_1536-width: 151px;
$logoBorder_1536-height: 147px;
$logoBorder_1536-total-width: 1063px;
$logoBorder_1536-total-height: 1024px;
$logoBorder_1536-image: '../../../img/1536/sprites.png';
$logoBorder_1536: 0px 737px 0px -737px 151px 147px 1063px 1024px '../../../img/1536/sprites.png';
$nwProductsLogo_1536-x: 969px;
$nwProductsLogo_1536-y: 563px;
$nwProductsLogo_1536-offset-x: -969px;
$nwProductsLogo_1536-offset-y: -563px;
$nwProductsLogo_1536-width: 86px;
$nwProductsLogo_1536-height: 34px;
$nwProductsLogo_1536-total-width: 1063px;
$nwProductsLogo_1536-total-height: 1024px;
$nwProductsLogo_1536-image: '../../../img/1536/sprites.png';
$nwProductsLogo_1536: 969px 563px -969px -563px 86px 34px 1063px 1024px '../../../img/1536/sprites.png';
$nwProductsLogoH_1536-x: 969px;
$nwProductsLogoH_1536-y: 597px;
$nwProductsLogoH_1536-offset-x: -969px;
$nwProductsLogoH_1536-offset-y: -597px;
$nwProductsLogoH_1536-width: 92px;
$nwProductsLogoH_1536-height: 34px;
$nwProductsLogoH_1536-total-width: 1063px;
$nwProductsLogoH_1536-total-height: 1024px;
$nwProductsLogoH_1536-image: '../../../img/1536/sprites.png';
$nwProductsLogoH_1536: 969px 597px -969px -597px 92px 34px 1063px 1024px '../../../img/1536/sprites.png';
$vk_1536-x: 969px;
$vk_1536-y: 469px;
$vk_1536-offset-x: -969px;
$vk_1536-offset-y: -469px;
$vk_1536-width: 48px;
$vk_1536-height: 47px;
$vk_1536-total-width: 1063px;
$vk_1536-total-height: 1024px;
$vk_1536-image: '../../../img/1536/sprites.png';
$vk_1536: 969px 469px -969px -469px 48px 47px 1063px 1024px '../../../img/1536/sprites.png';
$yt_1536-x: 969px;
$yt_1536-y: 516px;
$yt_1536-offset-x: -969px;
$yt_1536-offset-y: -516px;
$yt_1536-width: 48px;
$yt_1536-height: 47px;
$yt_1536-total-width: 1063px;
$yt_1536-total-height: 1024px;
$yt_1536-image: '../../../img/1536/sprites.png';
$yt_1536: 969px 516px -969px -516px 48px 47px 1063px 1024px '../../../img/1536/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
