/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$_1_appl_1400-x: 127px;
$_1_appl_1400-y: 806px;
$_1_appl_1400-offset-x: -127px;
$_1_appl_1400-offset-y: -806px;
$_1_appl_1400-width: 104px;
$_1_appl_1400-height: 72px;
$_1_appl_1400-total-width: 970px;
$_1_appl_1400-total-height: 934px;
$_1_appl_1400-image: '../../../img/1400/sprites.png';
$_1_appl_1400: 127px 806px -127px -806px 104px 72px 970px 934px '../../../img/1400/sprites.png';
$_1_appl2_1400-x: 774px;
$_1_appl2_1400-y: 672px;
$_1_appl2_1400-offset-x: -774px;
$_1_appl2_1400-offset-y: -672px;
$_1_appl2_1400-width: 97px;
$_1_appl2_1400-height: 73px;
$_1_appl2_1400-total-width: 970px;
$_1_appl2_1400-total-height: 934px;
$_1_appl2_1400-image: '../../../img/1400/sprites.png';
$_1_appl2_1400: 774px 672px -774px -672px 97px 73px 970px 934px '../../../img/1400/sprites.png';
$_1_appl3_1400-x: 884px;
$_1_appl3_1400-y: 0px;
$_1_appl3_1400-offset-x: -884px;
$_1_appl3_1400-offset-y: 0px;
$_1_appl3_1400-width: 86px;
$_1_appl3_1400-height: 62px;
$_1_appl3_1400-total-width: 970px;
$_1_appl3_1400-total-height: 934px;
$_1_appl3_1400-image: '../../../img/1400/sprites.png';
$_1_appl3_1400: 884px 0px -884px 0px 86px 62px 970px 934px '../../../img/1400/sprites.png';
$_1_appl4_1400-x: 884px;
$_1_appl4_1400-y: 180px;
$_1_appl4_1400-offset-x: -884px;
$_1_appl4_1400-offset-y: -180px;
$_1_appl4_1400-width: 68px;
$_1_appl4_1400-height: 55px;
$_1_appl4_1400-total-width: 970px;
$_1_appl4_1400-total-height: 934px;
$_1_appl4_1400-image: '../../../img/1400/sprites.png';
$_1_appl4_1400: 884px 180px -884px -180px 68px 55px 970px 934px '../../../img/1400/sprites.png';
$_1_appl_half_1400-x: 884px;
$_1_appl_half_1400-y: 121px;
$_1_appl_half_1400-offset-x: -884px;
$_1_appl_half_1400-offset-y: -121px;
$_1_appl_half_1400-width: 67px;
$_1_appl_half_1400-height: 59px;
$_1_appl_half_1400-total-width: 970px;
$_1_appl_half_1400-total-height: 934px;
$_1_appl_half_1400-image: '../../../img/1400/sprites.png';
$_1_appl_half_1400: 884px 121px -884px -121px 67px 59px 970px 934px '../../../img/1400/sprites.png';
$_1_board_1400-x: 505px;
$_1_board_1400-y: 0px;
$_1_board_1400-offset-x: -505px;
$_1_board_1400-offset-y: 0px;
$_1_board_1400-width: 379px;
$_1_board_1400-height: 166px;
$_1_board_1400-total-width: 970px;
$_1_board_1400-total-height: 934px;
$_1_board_1400-image: '../../../img/1400/sprites.png';
$_1_board_1400: 505px 0px -505px 0px 379px 166px 970px 934px '../../../img/1400/sprites.png';
$_1_miniBottle_1400-x: 505px;
$_1_miniBottle_1400-y: 166px;
$_1_miniBottle_1400-offset-x: -505px;
$_1_miniBottle_1400-offset-y: -166px;
$_1_miniBottle_1400-width: 100px;
$_1_miniBottle_1400-height: 159px;
$_1_miniBottle_1400-total-width: 970px;
$_1_miniBottle_1400-total-height: 934px;
$_1_miniBottle_1400-image: '../../../img/1400/sprites.png';
$_1_miniBottle_1400: 505px 166px -505px -166px 100px 159px 970px 934px '../../../img/1400/sprites.png';
$_1_notebook_1400-x: 505px;
$_1_notebook_1400-y: 325px;
$_1_notebook_1400-offset-x: -505px;
$_1_notebook_1400-offset-y: -325px;
$_1_notebook_1400-width: 286px;
$_1_notebook_1400-height: 154px;
$_1_notebook_1400-total-width: 970px;
$_1_notebook_1400-total-height: 934px;
$_1_notebook_1400-image: '../../../img/1400/sprites.png';
$_1_notebook_1400: 505px 325px -505px -325px 286px 154px 970px 934px '../../../img/1400/sprites.png';
$_2_appl_1400-x: 357px;
$_2_appl_1400-y: 672px;
$_2_appl_1400-offset-x: -357px;
$_2_appl_1400-offset-y: -672px;
$_2_appl_1400-width: 91px;
$_2_appl_1400-height: 104px;
$_2_appl_1400-total-width: 970px;
$_2_appl_1400-total-height: 934px;
$_2_appl_1400-image: '../../../img/1400/sprites.png';
$_2_appl_1400: 357px 672px -357px -672px 91px 104px 970px 934px '../../../img/1400/sprites.png';
$_2_appl2_1400-x: 595px;
$_2_appl2_1400-y: 672px;
$_2_appl2_1400-offset-x: -595px;
$_2_appl2_1400-offset-y: -672px;
$_2_appl2_1400-width: 79px;
$_2_appl2_1400-height: 92px;
$_2_appl2_1400-total-width: 970px;
$_2_appl2_1400-total-height: 934px;
$_2_appl2_1400-image: '../../../img/1400/sprites.png';
$_2_appl2_1400: 595px 672px -595px -672px 79px 92px 970px 934px '../../../img/1400/sprites.png';
$_2_appl_half_1400-x: 269px;
$_2_appl_half_1400-y: 672px;
$_2_appl_half_1400-offset-x: -269px;
$_2_appl_half_1400-offset-y: -672px;
$_2_appl_half_1400-width: 88px;
$_2_appl_half_1400-height: 115px;
$_2_appl_half_1400-total-width: 970px;
$_2_appl_half_1400-total-height: 934px;
$_2_appl_half_1400-image: '../../../img/1400/sprites.png';
$_2_appl_half_1400: 269px 672px -269px -672px 88px 115px 970px 934px '../../../img/1400/sprites.png';
$_2_boardMen_1400-x: 0px;
$_2_boardMen_1400-y: 0px;
$_2_boardMen_1400-offset-x: 0px;
$_2_boardMen_1400-offset-y: 0px;
$_2_boardMen_1400-width: 505px;
$_2_boardMen_1400-height: 672px;
$_2_boardMen_1400-total-width: 970px;
$_2_boardMen_1400-total-height: 934px;
$_2_boardMen_1400-image: '../../../img/1400/sprites.png';
$_2_boardMen_1400: 0px 0px 0px 0px 505px 672px 970px 934px '../../../img/1400/sprites.png';
$_2_miniBottle_1400-x: 448px;
$_2_miniBottle_1400-y: 672px;
$_2_miniBottle_1400-offset-x: -448px;
$_2_miniBottle_1400-offset-y: -672px;
$_2_miniBottle_1400-width: 147px;
$_2_miniBottle_1400-height: 97px;
$_2_miniBottle_1400-total-width: 970px;
$_2_miniBottle_1400-total-height: 934px;
$_2_miniBottle_1400-image: '../../../img/1400/sprites.png';
$_2_miniBottle_1400: 448px 672px -448px -672px 147px 97px 970px 934px '../../../img/1400/sprites.png';
$_3_appl1_1400-x: 0px;
$_3_appl1_1400-y: 806px;
$_3_appl1_1400-offset-x: 0px;
$_3_appl1_1400-offset-y: -806px;
$_3_appl1_1400-width: 127px;
$_3_appl1_1400-height: 72px;
$_3_appl1_1400-total-width: 970px;
$_3_appl1_1400-total-height: 934px;
$_3_appl1_1400-image: '../../../img/1400/sprites.png';
$_3_appl1_1400: 0px 806px 0px -806px 127px 72px 970px 934px '../../../img/1400/sprites.png';
$_3_appl2_1400-x: 102px;
$_3_appl2_1400-y: 878px;
$_3_appl2_1400-offset-x: -102px;
$_3_appl2_1400-offset-y: -878px;
$_3_appl2_1400-width: 93px;
$_3_appl2_1400-height: 54px;
$_3_appl2_1400-total-width: 970px;
$_3_appl2_1400-total-height: 934px;
$_3_appl2_1400-image: '../../../img/1400/sprites.png';
$_3_appl2_1400: 102px 878px -102px -878px 93px 54px 970px 934px '../../../img/1400/sprites.png';
$_3_appl3_1400-x: 0px;
$_3_appl3_1400-y: 878px;
$_3_appl3_1400-offset-x: 0px;
$_3_appl3_1400-offset-y: -878px;
$_3_appl3_1400-width: 102px;
$_3_appl3_1400-height: 56px;
$_3_appl3_1400-total-width: 970px;
$_3_appl3_1400-total-height: 934px;
$_3_appl3_1400-image: '../../../img/1400/sprites.png';
$_3_appl3_1400: 0px 878px 0px -878px 102px 56px 970px 934px '../../../img/1400/sprites.png';
$_3_miniBottle_1400-x: 748px;
$_3_miniBottle_1400-y: 479px;
$_3_miniBottle_1400-offset-x: -748px;
$_3_miniBottle_1400-offset-y: -479px;
$_3_miniBottle_1400-width: 114px;
$_3_miniBottle_1400-height: 130px;
$_3_miniBottle_1400-total-width: 970px;
$_3_miniBottle_1400-total-height: 934px;
$_3_miniBottle_1400-image: '../../../img/1400/sprites.png';
$_3_miniBottle_1400: 748px 479px -748px -479px 114px 130px 970px 934px '../../../img/1400/sprites.png';
$_5_appl1_1400-x: 674px;
$_5_appl1_1400-y: 672px;
$_5_appl1_1400-offset-x: -674px;
$_5_appl1_1400-offset-y: -672px;
$_5_appl1_1400-width: 100px;
$_5_appl1_1400-height: 73px;
$_5_appl1_1400-total-width: 970px;
$_5_appl1_1400-total-height: 934px;
$_5_appl1_1400-image: '../../../img/1400/sprites.png';
$_5_appl1_1400: 674px 672px -674px -672px 100px 73px 970px 934px '../../../img/1400/sprites.png';
$_5_appl2_1400-x: 884px;
$_5_appl2_1400-y: 62px;
$_5_appl2_1400-offset-x: -884px;
$_5_appl2_1400-offset-y: -62px;
$_5_appl2_1400-width: 67px;
$_5_appl2_1400-height: 59px;
$_5_appl2_1400-total-width: 970px;
$_5_appl2_1400-total-height: 934px;
$_5_appl2_1400-image: '../../../img/1400/sprites.png';
$_5_appl2_1400: 884px 62px -884px -62px 67px 59px 970px 934px '../../../img/1400/sprites.png';
$_5_appl3_1400-x: 884px;
$_5_appl3_1400-y: 235px;
$_5_appl3_1400-offset-x: -884px;
$_5_appl3_1400-offset-y: -235px;
$_5_appl3_1400-width: 71px;
$_5_appl3_1400-height: 55px;
$_5_appl3_1400-total-width: 970px;
$_5_appl3_1400-total-height: 934px;
$_5_appl3_1400-image: '../../../img/1400/sprites.png';
$_5_appl3_1400: 884px 235px -884px -235px 71px 55px 970px 934px '../../../img/1400/sprites.png';
$_5_appl4_1400-x: 231px;
$_5_appl4_1400-y: 806px;
$_5_appl4_1400-offset-x: -231px;
$_5_appl4_1400-offset-y: -806px;
$_5_appl4_1400-width: 104px;
$_5_appl4_1400-height: 72px;
$_5_appl4_1400-total-width: 970px;
$_5_appl4_1400-total-height: 934px;
$_5_appl4_1400-image: '../../../img/1400/sprites.png';
$_5_appl4_1400: 231px 806px -231px -806px 104px 72px 970px 934px '../../../img/1400/sprites.png';
$_5_appl5_1400-x: 777px;
$_5_appl5_1400-y: 806px;
$_5_appl5_1400-offset-x: -777px;
$_5_appl5_1400-offset-y: -806px;
$_5_appl5_1400-width: 86px;
$_5_appl5_1400-height: 62px;
$_5_appl5_1400-total-width: 970px;
$_5_appl5_1400-total-height: 934px;
$_5_appl5_1400-image: '../../../img/1400/sprites.png';
$_5_appl5_1400: 777px 806px -777px -806px 86px 62px 970px 934px '../../../img/1400/sprites.png';
$_5_appl6_1400-x: 335px;
$_5_appl6_1400-y: 806px;
$_5_appl6_1400-offset-x: -335px;
$_5_appl6_1400-offset-y: -806px;
$_5_appl6_1400-width: 68px;
$_5_appl6_1400-height: 70px;
$_5_appl6_1400-total-width: 970px;
$_5_appl6_1400-total-height: 934px;
$_5_appl6_1400-image: '../../../img/1400/sprites.png';
$_5_appl6_1400: 335px 806px -335px -806px 68px 70px 970px 934px '../../../img/1400/sprites.png';
$_5_back_1400-x: 581px;
$_5_back_1400-y: 806px;
$_5_back_1400-offset-x: -581px;
$_5_back_1400-offset-y: -806px;
$_5_back_1400-width: 196px;
$_5_back_1400-height: 62px;
$_5_back_1400-total-width: 970px;
$_5_back_1400-total-height: 934px;
$_5_back_1400-image: '../../../img/1400/sprites.png';
$_5_back_1400: 581px 806px -581px -806px 196px 62px 970px 934px '../../../img/1400/sprites.png';
$_5_board_1400-x: 403px;
$_5_board_1400-y: 806px;
$_5_board_1400-offset-x: -403px;
$_5_board_1400-offset-y: -806px;
$_5_board_1400-width: 178px;
$_5_board_1400-height: 67px;
$_5_board_1400-total-width: 970px;
$_5_board_1400-total-height: 934px;
$_5_board_1400-image: '../../../img/1400/sprites.png';
$_5_board_1400: 403px 806px -403px -806px 178px 67px 970px 934px '../../../img/1400/sprites.png';
$_5_product1_1400-x: 605px;
$_5_product1_1400-y: 166px;
$_5_product1_1400-offset-x: -605px;
$_5_product1_1400-offset-y: -166px;
$_5_product1_1400-width: 183px;
$_5_product1_1400-height: 154px;
$_5_product1_1400-total-width: 970px;
$_5_product1_1400-total-height: 934px;
$_5_product1_1400-image: '../../../img/1400/sprites.png';
$_5_product1_1400: 605px 166px -605px -166px 183px 154px 970px 934px '../../../img/1400/sprites.png';
$_5_product2_1400-x: 791px;
$_5_product2_1400-y: 325px;
$_5_product2_1400-offset-x: -791px;
$_5_product2_1400-offset-y: -325px;
$_5_product2_1400-width: 82px;
$_5_product2_1400-height: 137px;
$_5_product2_1400-total-width: 970px;
$_5_product2_1400-total-height: 934px;
$_5_product2_1400-image: '../../../img/1400/sprites.png';
$_5_product2_1400: 791px 325px -791px -325px 82px 137px 970px 934px '../../../img/1400/sprites.png';
$_5_product3_1400-x: 653px;
$_5_product3_1400-y: 479px;
$_5_product3_1400-offset-x: -653px;
$_5_product3_1400-offset-y: -479px;
$_5_product3_1400-width: 95px;
$_5_product3_1400-height: 144px;
$_5_product3_1400-total-width: 970px;
$_5_product3_1400-total-height: 934px;
$_5_product3_1400-image: '../../../img/1400/sprites.png';
$_5_product3_1400: 653px 479px -653px -479px 95px 144px 970px 934px '../../../img/1400/sprites.png';
$_5_product4_1400-x: 505px;
$_5_product4_1400-y: 479px;
$_5_product4_1400-offset-x: -505px;
$_5_product4_1400-offset-y: -479px;
$_5_product4_1400-width: 148px;
$_5_product4_1400-height: 151px;
$_5_product4_1400-total-width: 970px;
$_5_product4_1400-total-height: 934px;
$_5_product4_1400-image: '../../../img/1400/sprites.png';
$_5_product4_1400: 505px 479px -505px -479px 148px 151px 970px 934px '../../../img/1400/sprites.png';
$book_1400-x: 788px;
$book_1400-y: 166px;
$book_1400-offset-x: -788px;
$book_1400-offset-y: -166px;
$book_1400-width: 50px;
$book_1400-height: 146px;
$book_1400-total-width: 970px;
$book_1400-total-height: 934px;
$book_1400-image: '../../../img/1400/sprites.png';
$book_1400: 788px 166px -788px -166px 50px 146px 970px 934px '../../../img/1400/sprites.png';
$close_1400-x: 927px;
$close_1400-y: 342px;
$close_1400-offset-x: -927px;
$close_1400-offset-y: -342px;
$close_1400-width: 43px;
$close_1400-height: 43px;
$close_1400-total-width: 970px;
$close_1400-total-height: 934px;
$close_1400-image: '../../../img/1400/sprites.png';
$close_1400: 927px 342px -927px -342px 43px 43px 970px 934px '../../../img/1400/sprites.png';
$drinkSens_1400-x: 884px;
$drinkSens_1400-y: 290px;
$drinkSens_1400-offset-x: -884px;
$drinkSens_1400-offset-y: -290px;
$drinkSens_1400-width: 53px;
$drinkSens_1400-height: 52px;
$drinkSens_1400-total-width: 970px;
$drinkSens_1400-total-height: 934px;
$drinkSens_1400-image: '../../../img/1400/sprites.png';
$drinkSens_1400: 884px 290px -884px -290px 53px 52px 970px 934px '../../../img/1400/sprites.png';
$fb_1400-x: 884px;
$fb_1400-y: 342px;
$fb_1400-offset-x: -884px;
$fb_1400-offset-y: -342px;
$fb_1400-width: 43px;
$fb_1400-height: 43px;
$fb_1400-total-width: 970px;
$fb_1400-total-height: 934px;
$fb_1400-image: '../../../img/1400/sprites.png';
$fb_1400: 884px 342px -884px -342px 43px 43px 970px 934px '../../../img/1400/sprites.png';
$logo_1400-x: 137px;
$logo_1400-y: 672px;
$logo_1400-offset-x: -137px;
$logo_1400-offset-y: -672px;
$logo_1400-width: 132px;
$logo_1400-height: 129px;
$logo_1400-total-width: 970px;
$logo_1400-total-height: 934px;
$logo_1400-image: '../../../img/1400/sprites.png';
$logo_1400: 137px 672px -137px -672px 132px 129px 970px 934px '../../../img/1400/sprites.png';
$logoBorder_1400-x: 0px;
$logoBorder_1400-y: 672px;
$logoBorder_1400-offset-x: 0px;
$logoBorder_1400-offset-y: -672px;
$logoBorder_1400-width: 137px;
$logoBorder_1400-height: 134px;
$logoBorder_1400-total-width: 970px;
$logoBorder_1400-total-height: 934px;
$logoBorder_1400-image: '../../../img/1400/sprites.png';
$logoBorder_1400: 0px 672px 0px -672px 137px 134px 970px 934px '../../../img/1400/sprites.png';
$nwProductsLogo_1400-x: 884px;
$nwProductsLogo_1400-y: 428px;
$nwProductsLogo_1400-offset-x: -884px;
$nwProductsLogo_1400-offset-y: -428px;
$nwProductsLogo_1400-width: 78px;
$nwProductsLogo_1400-height: 31px;
$nwProductsLogo_1400-total-width: 970px;
$nwProductsLogo_1400-total-height: 934px;
$nwProductsLogo_1400-image: '../../../img/1400/sprites.png';
$nwProductsLogo_1400: 884px 428px -884px -428px 78px 31px 970px 934px '../../../img/1400/sprites.png';
$nwProductsLogoH_1400-x: 884px;
$nwProductsLogoH_1400-y: 459px;
$nwProductsLogoH_1400-offset-x: -884px;
$nwProductsLogoH_1400-offset-y: -459px;
$nwProductsLogoH_1400-width: 84px;
$nwProductsLogoH_1400-height: 31px;
$nwProductsLogoH_1400-total-width: 970px;
$nwProductsLogoH_1400-total-height: 934px;
$nwProductsLogoH_1400-image: '../../../img/1400/sprites.png';
$nwProductsLogoH_1400: 884px 459px -884px -459px 84px 31px 970px 934px '../../../img/1400/sprites.png';
$vk_1400-x: 884px;
$vk_1400-y: 385px;
$vk_1400-offset-x: -884px;
$vk_1400-offset-y: -385px;
$vk_1400-width: 43px;
$vk_1400-height: 43px;
$vk_1400-total-width: 970px;
$vk_1400-total-height: 934px;
$vk_1400-image: '../../../img/1400/sprites.png';
$vk_1400: 884px 385px -884px -385px 43px 43px 970px 934px '../../../img/1400/sprites.png';
$yt_1400-x: 927px;
$yt_1400-y: 385px;
$yt_1400-offset-x: -927px;
$yt_1400-offset-y: -385px;
$yt_1400-width: 43px;
$yt_1400-height: 43px;
$yt_1400-total-width: 970px;
$yt_1400-total-height: 934px;
$yt_1400-image: '../../../img/1400/sprites.png';
$yt_1400: 927px 385px -927px -385px 43px 43px 970px 934px '../../../img/1400/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
