/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$_1_appl_1980-x: 179px;
$_1_appl_1980-y: 1140px;
$_1_appl_1980-offset-x: -179px;
$_1_appl_1980-offset-y: -1140px;
$_1_appl_1980-width: 148px;
$_1_appl_1980-height: 102px;
$_1_appl_1980-total-width: 1373px;
$_1_appl_1980-total-height: 1321px;
$_1_appl_1980-image: '../../../img/1980/sprites.png';
$_1_appl_1980: 179px 1140px -179px -1140px 148px 102px 1373px 1321px '../../../img/1980/sprites.png';
$_1_appl2_1980-x: 1095px;
$_1_appl2_1980-y: 950px;
$_1_appl2_1980-offset-x: -1095px;
$_1_appl2_1980-offset-y: -950px;
$_1_appl2_1980-width: 137px;
$_1_appl2_1980-height: 103px;
$_1_appl2_1980-total-width: 1373px;
$_1_appl2_1980-total-height: 1321px;
$_1_appl2_1980-image: '../../../img/1980/sprites.png';
$_1_appl2_1980: 1095px 950px -1095px -950px 137px 103px 1373px 1321px '../../../img/1980/sprites.png';
$_1_appl3_1980-x: 1251px;
$_1_appl3_1980-y: 0px;
$_1_appl3_1980-offset-x: -1251px;
$_1_appl3_1980-offset-y: 0px;
$_1_appl3_1980-width: 122px;
$_1_appl3_1980-height: 87px;
$_1_appl3_1980-total-width: 1373px;
$_1_appl3_1980-total-height: 1321px;
$_1_appl3_1980-image: '../../../img/1980/sprites.png';
$_1_appl3_1980: 1251px 0px -1251px 0px 122px 87px 1373px 1321px '../../../img/1980/sprites.png';
$_1_appl4_1980-x: 1251px;
$_1_appl4_1980-y: 253px;
$_1_appl4_1980-offset-x: -1251px;
$_1_appl4_1980-offset-y: -253px;
$_1_appl4_1980-width: 96px;
$_1_appl4_1980-height: 77px;
$_1_appl4_1980-total-width: 1373px;
$_1_appl4_1980-total-height: 1321px;
$_1_appl4_1980-image: '../../../img/1980/sprites.png';
$_1_appl4_1980: 1251px 253px -1251px -253px 96px 77px 1373px 1321px '../../../img/1980/sprites.png';
$_1_appl_half_1980-x: 1251px;
$_1_appl_half_1980-y: 170px;
$_1_appl_half_1980-offset-x: -1251px;
$_1_appl_half_1980-offset-y: -170px;
$_1_appl_half_1980-width: 95px;
$_1_appl_half_1980-height: 83px;
$_1_appl_half_1980-total-width: 1373px;
$_1_appl_half_1980-total-height: 1321px;
$_1_appl_half_1980-image: '../../../img/1980/sprites.png';
$_1_appl_half_1980: 1251px 170px -1251px -170px 95px 83px 1373px 1321px '../../../img/1980/sprites.png';
$_1_board_1980-x: 715px;
$_1_board_1980-y: 0px;
$_1_board_1980-offset-x: -715px;
$_1_board_1980-offset-y: 0px;
$_1_board_1980-width: 536px;
$_1_board_1980-height: 235px;
$_1_board_1980-total-width: 1373px;
$_1_board_1980-total-height: 1321px;
$_1_board_1980-image: '../../../img/1980/sprites.png';
$_1_board_1980: 715px 0px -715px 0px 536px 235px 1373px 1321px '../../../img/1980/sprites.png';
$_1_miniBottle_1980-x: 715px;
$_1_miniBottle_1980-y: 235px;
$_1_miniBottle_1980-offset-x: -715px;
$_1_miniBottle_1980-offset-y: -235px;
$_1_miniBottle_1980-width: 142px;
$_1_miniBottle_1980-height: 225px;
$_1_miniBottle_1980-total-width: 1373px;
$_1_miniBottle_1980-total-height: 1321px;
$_1_miniBottle_1980-image: '../../../img/1980/sprites.png';
$_1_miniBottle_1980: 715px 235px -715px -235px 142px 225px 1373px 1321px '../../../img/1980/sprites.png';
$_1_notebook_1980-x: 715px;
$_1_notebook_1980-y: 460px;
$_1_notebook_1980-offset-x: -715px;
$_1_notebook_1980-offset-y: -460px;
$_1_notebook_1980-width: 404px;
$_1_notebook_1980-height: 218px;
$_1_notebook_1980-total-width: 1373px;
$_1_notebook_1980-total-height: 1321px;
$_1_notebook_1980-image: '../../../img/1980/sprites.png';
$_1_notebook_1980: 715px 460px -715px -460px 404px 218px 1373px 1321px '../../../img/1980/sprites.png';
$_2_appl_1980-x: 504px;
$_2_appl_1980-y: 950px;
$_2_appl_1980-offset-x: -504px;
$_2_appl_1980-offset-y: -950px;
$_2_appl_1980-width: 129px;
$_2_appl_1980-height: 147px;
$_2_appl_1980-total-width: 1373px;
$_2_appl_1980-total-height: 1321px;
$_2_appl_1980-image: '../../../img/1980/sprites.png';
$_2_appl_1980: 504px 950px -504px -950px 129px 147px 1373px 1321px '../../../img/1980/sprites.png';
$_2_appl2_1980-x: 841px;
$_2_appl2_1980-y: 950px;
$_2_appl2_1980-offset-x: -841px;
$_2_appl2_1980-offset-y: -950px;
$_2_appl2_1980-width: 112px;
$_2_appl2_1980-height: 131px;
$_2_appl2_1980-total-width: 1373px;
$_2_appl2_1980-total-height: 1321px;
$_2_appl2_1980-image: '../../../img/1980/sprites.png';
$_2_appl2_1980: 841px 950px -841px -950px 112px 131px 1373px 1321px '../../../img/1980/sprites.png';
$_2_appl_half_1980-x: 380px;
$_2_appl_half_1980-y: 950px;
$_2_appl_half_1980-offset-x: -380px;
$_2_appl_half_1980-offset-y: -950px;
$_2_appl_half_1980-width: 124px;
$_2_appl_half_1980-height: 162px;
$_2_appl_half_1980-total-width: 1373px;
$_2_appl_half_1980-total-height: 1321px;
$_2_appl_half_1980-image: '../../../img/1980/sprites.png';
$_2_appl_half_1980: 380px 950px -380px -950px 124px 162px 1373px 1321px '../../../img/1980/sprites.png';
$_2_boardMen_1980-x: 0px;
$_2_boardMen_1980-y: 0px;
$_2_boardMen_1980-offset-x: 0px;
$_2_boardMen_1980-offset-y: 0px;
$_2_boardMen_1980-width: 715px;
$_2_boardMen_1980-height: 950px;
$_2_boardMen_1980-total-width: 1373px;
$_2_boardMen_1980-total-height: 1321px;
$_2_boardMen_1980-image: '../../../img/1980/sprites.png';
$_2_boardMen_1980: 0px 0px 0px 0px 715px 950px 1373px 1321px '../../../img/1980/sprites.png';
$_2_miniBottle_1980-x: 633px;
$_2_miniBottle_1980-y: 950px;
$_2_miniBottle_1980-offset-x: -633px;
$_2_miniBottle_1980-offset-y: -950px;
$_2_miniBottle_1980-width: 208px;
$_2_miniBottle_1980-height: 137px;
$_2_miniBottle_1980-total-width: 1373px;
$_2_miniBottle_1980-total-height: 1321px;
$_2_miniBottle_1980-image: '../../../img/1980/sprites.png';
$_2_miniBottle_1980: 633px 950px -633px -950px 208px 137px 1373px 1321px '../../../img/1980/sprites.png';
$_3_appl1_1980-x: 0px;
$_3_appl1_1980-y: 1140px;
$_3_appl1_1980-offset-x: 0px;
$_3_appl1_1980-offset-y: -1140px;
$_3_appl1_1980-width: 179px;
$_3_appl1_1980-height: 102px;
$_3_appl1_1980-total-width: 1373px;
$_3_appl1_1980-total-height: 1321px;
$_3_appl1_1980-image: '../../../img/1980/sprites.png';
$_3_appl1_1980: 0px 1140px 0px -1140px 179px 102px 1373px 1321px '../../../img/1980/sprites.png';
$_3_appl2_1980-x: 145px;
$_3_appl2_1980-y: 1242px;
$_3_appl2_1980-offset-x: -145px;
$_3_appl2_1980-offset-y: -1242px;
$_3_appl2_1980-width: 132px;
$_3_appl2_1980-height: 76px;
$_3_appl2_1980-total-width: 1373px;
$_3_appl2_1980-total-height: 1321px;
$_3_appl2_1980-image: '../../../img/1980/sprites.png';
$_3_appl2_1980: 145px 1242px -145px -1242px 132px 76px 1373px 1321px '../../../img/1980/sprites.png';
$_3_appl3_1980-x: 0px;
$_3_appl3_1980-y: 1242px;
$_3_appl3_1980-offset-x: 0px;
$_3_appl3_1980-offset-y: -1242px;
$_3_appl3_1980-width: 145px;
$_3_appl3_1980-height: 79px;
$_3_appl3_1980-total-width: 1373px;
$_3_appl3_1980-total-height: 1321px;
$_3_appl3_1980-image: '../../../img/1980/sprites.png';
$_3_appl3_1980: 0px 1242px 0px -1242px 145px 79px 1373px 1321px '../../../img/1980/sprites.png';
$_3_miniBottle_1980-x: 1060px;
$_3_miniBottle_1980-y: 678px;
$_3_miniBottle_1980-offset-x: -1060px;
$_3_miniBottle_1980-offset-y: -678px;
$_3_miniBottle_1980-width: 161px;
$_3_miniBottle_1980-height: 184px;
$_3_miniBottle_1980-total-width: 1373px;
$_3_miniBottle_1980-total-height: 1321px;
$_3_miniBottle_1980-image: '../../../img/1980/sprites.png';
$_3_miniBottle_1980: 1060px 678px -1060px -678px 161px 184px 1373px 1321px '../../../img/1980/sprites.png';
$_5_appl1_1980-x: 953px;
$_5_appl1_1980-y: 950px;
$_5_appl1_1980-offset-x: -953px;
$_5_appl1_1980-offset-y: -950px;
$_5_appl1_1980-width: 142px;
$_5_appl1_1980-height: 103px;
$_5_appl1_1980-total-width: 1373px;
$_5_appl1_1980-total-height: 1321px;
$_5_appl1_1980-image: '../../../img/1980/sprites.png';
$_5_appl1_1980: 953px 950px -953px -950px 142px 103px 1373px 1321px '../../../img/1980/sprites.png';
$_5_appl2_1980-x: 1251px;
$_5_appl2_1980-y: 87px;
$_5_appl2_1980-offset-x: -1251px;
$_5_appl2_1980-offset-y: -87px;
$_5_appl2_1980-width: 95px;
$_5_appl2_1980-height: 83px;
$_5_appl2_1980-total-width: 1373px;
$_5_appl2_1980-total-height: 1321px;
$_5_appl2_1980-image: '../../../img/1980/sprites.png';
$_5_appl2_1980: 1251px 87px -1251px -87px 95px 83px 1373px 1321px '../../../img/1980/sprites.png';
$_5_appl3_1980-x: 1251px;
$_5_appl3_1980-y: 330px;
$_5_appl3_1980-offset-x: -1251px;
$_5_appl3_1980-offset-y: -330px;
$_5_appl3_1980-width: 100px;
$_5_appl3_1980-height: 77px;
$_5_appl3_1980-total-width: 1373px;
$_5_appl3_1980-total-height: 1321px;
$_5_appl3_1980-image: '../../../img/1980/sprites.png';
$_5_appl3_1980: 1251px 330px -1251px -330px 100px 77px 1373px 1321px '../../../img/1980/sprites.png';
$_5_appl4_1980-x: 327px;
$_5_appl4_1980-y: 1140px;
$_5_appl4_1980-offset-x: -327px;
$_5_appl4_1980-offset-y: -1140px;
$_5_appl4_1980-width: 148px;
$_5_appl4_1980-height: 102px;
$_5_appl4_1980-total-width: 1373px;
$_5_appl4_1980-total-height: 1321px;
$_5_appl4_1980-image: '../../../img/1980/sprites.png';
$_5_appl4_1980: 327px 1140px -327px -1140px 148px 102px 1373px 1321px '../../../img/1980/sprites.png';
$_5_appl5_1980-x: 1099px;
$_5_appl5_1980-y: 1140px;
$_5_appl5_1980-offset-x: -1099px;
$_5_appl5_1980-offset-y: -1140px;
$_5_appl5_1980-width: 122px;
$_5_appl5_1980-height: 87px;
$_5_appl5_1980-total-width: 1373px;
$_5_appl5_1980-total-height: 1321px;
$_5_appl5_1980-image: '../../../img/1980/sprites.png';
$_5_appl5_1980: 1099px 1140px -1099px -1140px 122px 87px 1373px 1321px '../../../img/1980/sprites.png';
$_5_appl6_1980-x: 475px;
$_5_appl6_1980-y: 1140px;
$_5_appl6_1980-offset-x: -475px;
$_5_appl6_1980-offset-y: -1140px;
$_5_appl6_1980-width: 96px;
$_5_appl6_1980-height: 99px;
$_5_appl6_1980-total-width: 1373px;
$_5_appl6_1980-total-height: 1321px;
$_5_appl6_1980-image: '../../../img/1980/sprites.png';
$_5_appl6_1980: 475px 1140px -475px -1140px 96px 99px 1373px 1321px '../../../img/1980/sprites.png';
$_5_back_1980-x: 822px;
$_5_back_1980-y: 1140px;
$_5_back_1980-offset-x: -822px;
$_5_back_1980-offset-y: -1140px;
$_5_back_1980-width: 277px;
$_5_back_1980-height: 88px;
$_5_back_1980-total-width: 1373px;
$_5_back_1980-total-height: 1321px;
$_5_back_1980-image: '../../../img/1980/sprites.png';
$_5_back_1980: 822px 1140px -822px -1140px 277px 88px 1373px 1321px '../../../img/1980/sprites.png';
$_5_board_1980-x: 571px;
$_5_board_1980-y: 1140px;
$_5_board_1980-offset-x: -571px;
$_5_board_1980-offset-y: -1140px;
$_5_board_1980-width: 251px;
$_5_board_1980-height: 94px;
$_5_board_1980-total-width: 1373px;
$_5_board_1980-total-height: 1321px;
$_5_board_1980-image: '../../../img/1980/sprites.png';
$_5_board_1980: 571px 1140px -571px -1140px 251px 94px 1373px 1321px '../../../img/1980/sprites.png';
$_5_product1_1980-x: 857px;
$_5_product1_1980-y: 235px;
$_5_product1_1980-offset-x: -857px;
$_5_product1_1980-offset-y: -235px;
$_5_product1_1980-width: 258px;
$_5_product1_1980-height: 218px;
$_5_product1_1980-total-width: 1373px;
$_5_product1_1980-total-height: 1321px;
$_5_product1_1980-image: '../../../img/1980/sprites.png';
$_5_product1_1980: 857px 235px -857px -235px 258px 218px 1373px 1321px '../../../img/1980/sprites.png';
$_5_product2_1980-x: 1119px;
$_5_product2_1980-y: 460px;
$_5_product2_1980-offset-x: -1119px;
$_5_product2_1980-offset-y: -460px;
$_5_product2_1980-width: 116px;
$_5_product2_1980-height: 194px;
$_5_product2_1980-total-width: 1373px;
$_5_product2_1980-total-height: 1321px;
$_5_product2_1980-image: '../../../img/1980/sprites.png';
$_5_product2_1980: 1119px 460px -1119px -460px 116px 194px 1373px 1321px '../../../img/1980/sprites.png';
$_5_product3_1980-x: 925px;
$_5_product3_1980-y: 678px;
$_5_product3_1980-offset-x: -925px;
$_5_product3_1980-offset-y: -678px;
$_5_product3_1980-width: 135px;
$_5_product3_1980-height: 203px;
$_5_product3_1980-total-width: 1373px;
$_5_product3_1980-total-height: 1321px;
$_5_product3_1980-image: '../../../img/1980/sprites.png';
$_5_product3_1980: 925px 678px -925px -678px 135px 203px 1373px 1321px '../../../img/1980/sprites.png';
$_5_product4_1980-x: 715px;
$_5_product4_1980-y: 678px;
$_5_product4_1980-offset-x: -715px;
$_5_product4_1980-offset-y: -678px;
$_5_product4_1980-width: 210px;
$_5_product4_1980-height: 213px;
$_5_product4_1980-total-width: 1373px;
$_5_product4_1980-total-height: 1321px;
$_5_product4_1980-image: '../../../img/1980/sprites.png';
$_5_product4_1980: 715px 678px -715px -678px 210px 213px 1373px 1321px '../../../img/1980/sprites.png';
$book_1980-x: 1115px;
$book_1980-y: 235px;
$book_1980-offset-x: -1115px;
$book_1980-offset-y: -235px;
$book_1980-width: 70px;
$book_1980-height: 206px;
$book_1980-total-width: 1373px;
$book_1980-total-height: 1321px;
$book_1980-image: '../../../img/1980/sprites.png';
$book_1980: 1115px 235px -1115px -235px 70px 206px 1373px 1321px '../../../img/1980/sprites.png';
$close_1980-x: 1312px;
$close_1980-y: 480px;
$close_1980-offset-x: -1312px;
$close_1980-offset-y: -480px;
$close_1980-width: 61px;
$close_1980-height: 60px;
$close_1980-total-width: 1373px;
$close_1980-total-height: 1321px;
$close_1980-image: '../../../img/1980/sprites.png';
$close_1980: 1312px 480px -1312px -480px 61px 60px 1373px 1321px '../../../img/1980/sprites.png';
$drinkSens_1980-x: 1251px;
$drinkSens_1980-y: 407px;
$drinkSens_1980-offset-x: -1251px;
$drinkSens_1980-offset-y: -407px;
$drinkSens_1980-width: 74px;
$drinkSens_1980-height: 73px;
$drinkSens_1980-total-width: 1373px;
$drinkSens_1980-total-height: 1321px;
$drinkSens_1980-image: '../../../img/1980/sprites.png';
$drinkSens_1980: 1251px 407px -1251px -407px 74px 73px 1373px 1321px '../../../img/1980/sprites.png';
$fb_1980-x: 1251px;
$fb_1980-y: 480px;
$fb_1980-offset-x: -1251px;
$fb_1980-offset-y: -480px;
$fb_1980-width: 61px;
$fb_1980-height: 60px;
$fb_1980-total-width: 1373px;
$fb_1980-total-height: 1321px;
$fb_1980-image: '../../../img/1980/sprites.png';
$fb_1980: 1251px 480px -1251px -480px 61px 60px 1373px 1321px '../../../img/1980/sprites.png';
$logo_1980-x: 194px;
$logo_1980-y: 950px;
$logo_1980-offset-x: -194px;
$logo_1980-offset-y: -950px;
$logo_1980-width: 186px;
$logo_1980-height: 182px;
$logo_1980-total-width: 1373px;
$logo_1980-total-height: 1321px;
$logo_1980-image: '../../../img/1980/sprites.png';
$logo_1980: 194px 950px -194px -950px 186px 182px 1373px 1321px '../../../img/1980/sprites.png';
$logoBorder_1980-x: 0px;
$logoBorder_1980-y: 950px;
$logoBorder_1980-offset-x: 0px;
$logoBorder_1980-offset-y: -950px;
$logoBorder_1980-width: 194px;
$logoBorder_1980-height: 190px;
$logoBorder_1980-total-width: 1373px;
$logoBorder_1980-total-height: 1321px;
$logoBorder_1980-image: '../../../img/1980/sprites.png';
$logoBorder_1980: 0px 950px 0px -950px 194px 190px 1373px 1321px '../../../img/1980/sprites.png';
$nwProductsLogo_1980-x: 1251px;
$nwProductsLogo_1980-y: 600px;
$nwProductsLogo_1980-offset-x: -1251px;
$nwProductsLogo_1980-offset-y: -600px;
$nwProductsLogo_1980-width: 111px;
$nwProductsLogo_1980-height: 44px;
$nwProductsLogo_1980-total-width: 1373px;
$nwProductsLogo_1980-total-height: 1321px;
$nwProductsLogo_1980-image: '../../../img/1980/sprites.png';
$nwProductsLogo_1980: 1251px 600px -1251px -600px 111px 44px 1373px 1321px '../../../img/1980/sprites.png';
$nwProductsLogoH_1980-x: 1251px;
$nwProductsLogoH_1980-y: 644px;
$nwProductsLogoH_1980-offset-x: -1251px;
$nwProductsLogoH_1980-offset-y: -644px;
$nwProductsLogoH_1980-width: 119px;
$nwProductsLogoH_1980-height: 44px;
$nwProductsLogoH_1980-total-width: 1373px;
$nwProductsLogoH_1980-total-height: 1321px;
$nwProductsLogoH_1980-image: '../../../img/1980/sprites.png';
$nwProductsLogoH_1980: 1251px 644px -1251px -644px 119px 44px 1373px 1321px '../../../img/1980/sprites.png';
$vk_1980-x: 1251px;
$vk_1980-y: 540px;
$vk_1980-offset-x: -1251px;
$vk_1980-offset-y: -540px;
$vk_1980-width: 61px;
$vk_1980-height: 60px;
$vk_1980-total-width: 1373px;
$vk_1980-total-height: 1321px;
$vk_1980-image: '../../../img/1980/sprites.png';
$vk_1980: 1251px 540px -1251px -540px 61px 60px 1373px 1321px '../../../img/1980/sprites.png';
$yt_1980-x: 1312px;
$yt_1980-y: 540px;
$yt_1980-offset-x: -1312px;
$yt_1980-offset-y: -540px;
$yt_1980-width: 61px;
$yt_1980-height: 60px;
$yt_1980-total-width: 1373px;
$yt_1980-total-height: 1321px;
$yt_1980-image: '../../../img/1980/sprites.png';
$yt_1980: 1312px 540px -1312px -540px 61px 60px 1373px 1321px '../../../img/1980/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
