/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$_1_appl_1024-x: 220px;
$_1_appl_1024-y: 590px;
$_1_appl_1024-offset-x: -220px;
$_1_appl_1024-offset-y: -590px;
$_1_appl_1024-width: 76px;
$_1_appl_1024-height: 53px;
$_1_appl_1024-total-width: 710px;
$_1_appl_1024-total-height: 684px;
$_1_appl_1024-image: '../../../img/1024/sprites.png';
$_1_appl_1024: 220px 590px -220px -590px 76px 53px 710px 684px '../../../img/1024/sprites.png';
$_1_appl2_1024-x: 0px;
$_1_appl2_1024-y: 590px;
$_1_appl2_1024-offset-x: 0px;
$_1_appl2_1024-offset-y: -590px;
$_1_appl2_1024-width: 71px;
$_1_appl2_1024-height: 53px;
$_1_appl2_1024-total-width: 710px;
$_1_appl2_1024-total-height: 684px;
$_1_appl2_1024-image: '../../../img/1024/sprites.png';
$_1_appl2_1024: 0px 590px 0px -590px 71px 53px 710px 684px '../../../img/1024/sprites.png';
$_1_appl3_1024-x: 647px;
$_1_appl3_1024-y: 0px;
$_1_appl3_1024-offset-x: -647px;
$_1_appl3_1024-offset-y: 0px;
$_1_appl3_1024-width: 63px;
$_1_appl3_1024-height: 45px;
$_1_appl3_1024-total-width: 710px;
$_1_appl3_1024-total-height: 684px;
$_1_appl3_1024-image: '../../../img/1024/sprites.png';
$_1_appl3_1024: 647px 0px -647px 0px 63px 45px 710px 684px '../../../img/1024/sprites.png';
$_1_appl4_1024-x: 647px;
$_1_appl4_1024-y: 131px;
$_1_appl4_1024-offset-x: -647px;
$_1_appl4_1024-offset-y: -131px;
$_1_appl4_1024-width: 50px;
$_1_appl4_1024-height: 40px;
$_1_appl4_1024-total-width: 710px;
$_1_appl4_1024-total-height: 684px;
$_1_appl4_1024-image: '../../../img/1024/sprites.png';
$_1_appl4_1024: 647px 131px -647px -131px 50px 40px 710px 684px '../../../img/1024/sprites.png';
$_1_appl_half_1024-x: 647px;
$_1_appl_half_1024-y: 88px;
$_1_appl_half_1024-offset-x: -647px;
$_1_appl_half_1024-offset-y: -88px;
$_1_appl_half_1024-width: 49px;
$_1_appl_half_1024-height: 43px;
$_1_appl_half_1024-total-width: 710px;
$_1_appl_half_1024-total-height: 684px;
$_1_appl_half_1024-image: '../../../img/1024/sprites.png';
$_1_appl_half_1024: 647px 88px -647px -88px 49px 43px 710px 684px '../../../img/1024/sprites.png';
$_1_board_1024-x: 370px;
$_1_board_1024-y: 0px;
$_1_board_1024-offset-x: -370px;
$_1_board_1024-offset-y: 0px;
$_1_board_1024-width: 277px;
$_1_board_1024-height: 121px;
$_1_board_1024-total-width: 710px;
$_1_board_1024-total-height: 684px;
$_1_board_1024-image: '../../../img/1024/sprites.png';
$_1_board_1024: 370px 0px -370px 0px 277px 121px 710px 684px '../../../img/1024/sprites.png';
$_1_miniBottle_1024-x: 370px;
$_1_miniBottle_1024-y: 121px;
$_1_miniBottle_1024-offset-x: -370px;
$_1_miniBottle_1024-offset-y: -121px;
$_1_miniBottle_1024-width: 73px;
$_1_miniBottle_1024-height: 116px;
$_1_miniBottle_1024-total-width: 710px;
$_1_miniBottle_1024-total-height: 684px;
$_1_miniBottle_1024-image: '../../../img/1024/sprites.png';
$_1_miniBottle_1024: 370px 121px -370px -121px 73px 116px 710px 684px '../../../img/1024/sprites.png';
$_1_notebook_1024-x: 370px;
$_1_notebook_1024-y: 237px;
$_1_notebook_1024-offset-x: -370px;
$_1_notebook_1024-offset-y: -237px;
$_1_notebook_1024-width: 209px;
$_1_notebook_1024-height: 113px;
$_1_notebook_1024-total-width: 710px;
$_1_notebook_1024-total-height: 684px;
$_1_notebook_1024-image: '../../../img/1024/sprites.png';
$_1_notebook_1024: 370px 237px -370px -237px 209px 113px 710px 684px '../../../img/1024/sprites.png';
$_2_appl_1024-x: 260px;
$_2_appl_1024-y: 492px;
$_2_appl_1024-offset-x: -260px;
$_2_appl_1024-offset-y: -492px;
$_2_appl_1024-width: 67px;
$_2_appl_1024-height: 76px;
$_2_appl_1024-total-width: 710px;
$_2_appl_1024-total-height: 684px;
$_2_appl_1024-image: '../../../img/1024/sprites.png';
$_2_appl_1024: 260px 492px -260px -492px 67px 76px 710px 684px '../../../img/1024/sprites.png';
$_2_appl2_1024-x: 435px;
$_2_appl2_1024-y: 492px;
$_2_appl2_1024-offset-x: -435px;
$_2_appl2_1024-offset-y: -492px;
$_2_appl2_1024-width: 58px;
$_2_appl2_1024-height: 68px;
$_2_appl2_1024-total-width: 710px;
$_2_appl2_1024-total-height: 684px;
$_2_appl2_1024-image: '../../../img/1024/sprites.png';
$_2_appl2_1024: 435px 492px -435px -492px 58px 68px 710px 684px '../../../img/1024/sprites.png';
$_2_appl_half_1024-x: 196px;
$_2_appl_half_1024-y: 492px;
$_2_appl_half_1024-offset-x: -196px;
$_2_appl_half_1024-offset-y: -492px;
$_2_appl_half_1024-width: 64px;
$_2_appl_half_1024-height: 84px;
$_2_appl_half_1024-total-width: 710px;
$_2_appl_half_1024-total-height: 684px;
$_2_appl_half_1024-image: '../../../img/1024/sprites.png';
$_2_appl_half_1024: 196px 492px -196px -492px 64px 84px 710px 684px '../../../img/1024/sprites.png';
$_2_boardMen_1024-x: 0px;
$_2_boardMen_1024-y: 0px;
$_2_boardMen_1024-offset-x: 0px;
$_2_boardMen_1024-offset-y: 0px;
$_2_boardMen_1024-width: 370px;
$_2_boardMen_1024-height: 492px;
$_2_boardMen_1024-total-width: 710px;
$_2_boardMen_1024-total-height: 684px;
$_2_boardMen_1024-image: '../../../img/1024/sprites.png';
$_2_boardMen_1024: 0px 0px 0px 0px 370px 492px 710px 684px '../../../img/1024/sprites.png';
$_2_miniBottle_1024-x: 327px;
$_2_miniBottle_1024-y: 492px;
$_2_miniBottle_1024-offset-x: -327px;
$_2_miniBottle_1024-offset-y: -492px;
$_2_miniBottle_1024-width: 108px;
$_2_miniBottle_1024-height: 71px;
$_2_miniBottle_1024-total-width: 710px;
$_2_miniBottle_1024-total-height: 684px;
$_2_miniBottle_1024-image: '../../../img/1024/sprites.png';
$_2_miniBottle_1024: 327px 492px -327px -492px 108px 71px 710px 684px '../../../img/1024/sprites.png';
$_3_appl1_1024-x: 493px;
$_3_appl1_1024-y: 492px;
$_3_appl1_1024-offset-x: -493px;
$_3_appl1_1024-offset-y: -492px;
$_3_appl1_1024-width: 93px;
$_3_appl1_1024-height: 53px;
$_3_appl1_1024-total-width: 710px;
$_3_appl1_1024-total-height: 684px;
$_3_appl1_1024-image: '../../../img/1024/sprites.png';
$_3_appl1_1024: 493px 492px -493px -492px 93px 53px 710px 684px '../../../img/1024/sprites.png';
$_3_appl2_1024-x: 75px;
$_3_appl2_1024-y: 643px;
$_3_appl2_1024-offset-x: -75px;
$_3_appl2_1024-offset-y: -643px;
$_3_appl2_1024-width: 68px;
$_3_appl2_1024-height: 39px;
$_3_appl2_1024-total-width: 710px;
$_3_appl2_1024-total-height: 684px;
$_3_appl2_1024-image: '../../../img/1024/sprites.png';
$_3_appl2_1024: 75px 643px -75px -643px 68px 39px 710px 684px '../../../img/1024/sprites.png';
$_3_appl3_1024-x: 0px;
$_3_appl3_1024-y: 643px;
$_3_appl3_1024-offset-x: 0px;
$_3_appl3_1024-offset-y: -643px;
$_3_appl3_1024-width: 75px;
$_3_appl3_1024-height: 41px;
$_3_appl3_1024-total-width: 710px;
$_3_appl3_1024-total-height: 684px;
$_3_appl3_1024-image: '../../../img/1024/sprites.png';
$_3_appl3_1024: 0px 643px 0px -643px 75px 41px 710px 684px '../../../img/1024/sprites.png';
$_3_miniBottle_1024-x: 549px;
$_3_miniBottle_1024-y: 350px;
$_3_miniBottle_1024-offset-x: -549px;
$_3_miniBottle_1024-offset-y: -350px;
$_3_miniBottle_1024-width: 83px;
$_3_miniBottle_1024-height: 95px;
$_3_miniBottle_1024-total-width: 710px;
$_3_miniBottle_1024-total-height: 684px;
$_3_miniBottle_1024-image: '../../../img/1024/sprites.png';
$_3_miniBottle_1024: 549px 350px -549px -350px 83px 95px 710px 684px '../../../img/1024/sprites.png';
$_5_appl1_1024-x: 147px;
$_5_appl1_1024-y: 590px;
$_5_appl1_1024-offset-x: -147px;
$_5_appl1_1024-offset-y: -590px;
$_5_appl1_1024-width: 73px;
$_5_appl1_1024-height: 53px;
$_5_appl1_1024-total-width: 710px;
$_5_appl1_1024-total-height: 684px;
$_5_appl1_1024-image: '../../../img/1024/sprites.png';
$_5_appl1_1024: 147px 590px -147px -590px 73px 53px 710px 684px '../../../img/1024/sprites.png';
$_5_appl2_1024-x: 647px;
$_5_appl2_1024-y: 45px;
$_5_appl2_1024-offset-x: -647px;
$_5_appl2_1024-offset-y: -45px;
$_5_appl2_1024-width: 49px;
$_5_appl2_1024-height: 43px;
$_5_appl2_1024-total-width: 710px;
$_5_appl2_1024-total-height: 684px;
$_5_appl2_1024-image: '../../../img/1024/sprites.png';
$_5_appl2_1024: 647px 45px -647px -45px 49px 43px 710px 684px '../../../img/1024/sprites.png';
$_5_appl3_1024-x: 647px;
$_5_appl3_1024-y: 171px;
$_5_appl3_1024-offset-x: -647px;
$_5_appl3_1024-offset-y: -171px;
$_5_appl3_1024-width: 52px;
$_5_appl3_1024-height: 40px;
$_5_appl3_1024-total-width: 710px;
$_5_appl3_1024-total-height: 684px;
$_5_appl3_1024-image: '../../../img/1024/sprites.png';
$_5_appl3_1024: 647px 171px -647px -171px 52px 40px 710px 684px '../../../img/1024/sprites.png';
$_5_appl4_1024-x: 71px;
$_5_appl4_1024-y: 590px;
$_5_appl4_1024-offset-x: -71px;
$_5_appl4_1024-offset-y: -590px;
$_5_appl4_1024-width: 76px;
$_5_appl4_1024-height: 53px;
$_5_appl4_1024-total-width: 710px;
$_5_appl4_1024-total-height: 684px;
$_5_appl4_1024-image: '../../../img/1024/sprites.png';
$_5_appl4_1024: 71px 590px -71px -590px 76px 53px 710px 684px '../../../img/1024/sprites.png';
$_5_appl5_1024-x: 569px;
$_5_appl5_1024-y: 590px;
$_5_appl5_1024-offset-x: -569px;
$_5_appl5_1024-offset-y: -590px;
$_5_appl5_1024-width: 63px;
$_5_appl5_1024-height: 45px;
$_5_appl5_1024-total-width: 710px;
$_5_appl5_1024-total-height: 684px;
$_5_appl5_1024-image: '../../../img/1024/sprites.png';
$_5_appl5_1024: 569px 590px -569px -590px 63px 45px 710px 684px '../../../img/1024/sprites.png';
$_5_appl6_1024-x: 586px;
$_5_appl6_1024-y: 492px;
$_5_appl6_1024-offset-x: -586px;
$_5_appl6_1024-offset-y: -492px;
$_5_appl6_1024-width: 50px;
$_5_appl6_1024-height: 51px;
$_5_appl6_1024-total-width: 710px;
$_5_appl6_1024-total-height: 684px;
$_5_appl6_1024-image: '../../../img/1024/sprites.png';
$_5_appl6_1024: 586px 492px -586px -492px 50px 51px 710px 684px '../../../img/1024/sprites.png';
$_5_back_1024-x: 426px;
$_5_back_1024-y: 590px;
$_5_back_1024-offset-x: -426px;
$_5_back_1024-offset-y: -590px;
$_5_back_1024-width: 143px;
$_5_back_1024-height: 46px;
$_5_back_1024-total-width: 710px;
$_5_back_1024-total-height: 684px;
$_5_back_1024-image: '../../../img/1024/sprites.png';
$_5_back_1024: 426px 590px -426px -590px 143px 46px 710px 684px '../../../img/1024/sprites.png';
$_5_board_1024-x: 296px;
$_5_board_1024-y: 590px;
$_5_board_1024-offset-x: -296px;
$_5_board_1024-offset-y: -590px;
$_5_board_1024-width: 130px;
$_5_board_1024-height: 49px;
$_5_board_1024-total-width: 710px;
$_5_board_1024-total-height: 684px;
$_5_board_1024-image: '../../../img/1024/sprites.png';
$_5_board_1024: 296px 590px -296px -590px 130px 49px 710px 684px '../../../img/1024/sprites.png';
$_5_product1_1024-x: 443px;
$_5_product1_1024-y: 121px;
$_5_product1_1024-offset-x: -443px;
$_5_product1_1024-offset-y: -121px;
$_5_product1_1024-width: 134px;
$_5_product1_1024-height: 113px;
$_5_product1_1024-total-width: 710px;
$_5_product1_1024-total-height: 684px;
$_5_product1_1024-image: '../../../img/1024/sprites.png';
$_5_product1_1024: 443px 121px -443px -121px 134px 113px 710px 684px '../../../img/1024/sprites.png';
$_5_product2_1024-x: 579px;
$_5_product2_1024-y: 237px;
$_5_product2_1024-offset-x: -579px;
$_5_product2_1024-offset-y: -237px;
$_5_product2_1024-width: 60px;
$_5_product2_1024-height: 100px;
$_5_product2_1024-total-width: 710px;
$_5_product2_1024-total-height: 684px;
$_5_product2_1024-image: '../../../img/1024/sprites.png';
$_5_product2_1024: 579px 237px -579px -237px 60px 100px 710px 684px '../../../img/1024/sprites.png';
$_5_product3_1024-x: 479px;
$_5_product3_1024-y: 350px;
$_5_product3_1024-offset-x: -479px;
$_5_product3_1024-offset-y: -350px;
$_5_product3_1024-width: 70px;
$_5_product3_1024-height: 105px;
$_5_product3_1024-total-width: 710px;
$_5_product3_1024-total-height: 684px;
$_5_product3_1024-image: '../../../img/1024/sprites.png';
$_5_product3_1024: 479px 350px -479px -350px 70px 105px 710px 684px '../../../img/1024/sprites.png';
$_5_product4_1024-x: 370px;
$_5_product4_1024-y: 350px;
$_5_product4_1024-offset-x: -370px;
$_5_product4_1024-offset-y: -350px;
$_5_product4_1024-width: 109px;
$_5_product4_1024-height: 110px;
$_5_product4_1024-total-width: 710px;
$_5_product4_1024-total-height: 684px;
$_5_product4_1024-image: '../../../img/1024/sprites.png';
$_5_product4_1024: 370px 350px -370px -350px 109px 110px 710px 684px '../../../img/1024/sprites.png';
$book_1024-x: 577px;
$book_1024-y: 121px;
$book_1024-offset-x: -577px;
$book_1024-offset-y: -121px;
$book_1024-width: 36px;
$book_1024-height: 106px;
$book_1024-total-width: 710px;
$book_1024-total-height: 684px;
$book_1024-image: '../../../img/1024/sprites.png';
$book_1024: 577px 121px -577px -121px 36px 106px 710px 684px '../../../img/1024/sprites.png';
$close_1024-x: 647px;
$close_1024-y: 280px;
$close_1024-offset-x: -647px;
$close_1024-offset-y: -280px;
$close_1024-width: 32px;
$close_1024-height: 31px;
$close_1024-total-width: 710px;
$close_1024-total-height: 684px;
$close_1024-image: '../../../img/1024/sprites.png';
$close_1024: 647px 280px -647px -280px 32px 31px 710px 684px '../../../img/1024/sprites.png';
$drinkSens_1024-x: 647px;
$drinkSens_1024-y: 211px;
$drinkSens_1024-offset-x: -647px;
$drinkSens_1024-offset-y: -211px;
$drinkSens_1024-width: 38px;
$drinkSens_1024-height: 38px;
$drinkSens_1024-total-width: 710px;
$drinkSens_1024-total-height: 684px;
$drinkSens_1024-image: '../../../img/1024/sprites.png';
$drinkSens_1024: 647px 211px -647px -211px 38px 38px 710px 684px '../../../img/1024/sprites.png';
$fb_1024-x: 647px;
$fb_1024-y: 249px;
$fb_1024-offset-x: -647px;
$fb_1024-offset-y: -249px;
$fb_1024-width: 32px;
$fb_1024-height: 31px;
$fb_1024-total-width: 710px;
$fb_1024-total-height: 684px;
$fb_1024-image: '../../../img/1024/sprites.png';
$fb_1024: 647px 249px -647px -249px 32px 31px 710px 684px '../../../img/1024/sprites.png';
$logo_1024-x: 100px;
$logo_1024-y: 492px;
$logo_1024-offset-x: -100px;
$logo_1024-offset-y: -492px;
$logo_1024-width: 96px;
$logo_1024-height: 94px;
$logo_1024-total-width: 710px;
$logo_1024-total-height: 684px;
$logo_1024-image: '../../../img/1024/sprites.png';
$logo_1024: 100px 492px -100px -492px 96px 94px 710px 684px '../../../img/1024/sprites.png';
$logoBorder_1024-x: 0px;
$logoBorder_1024-y: 492px;
$logoBorder_1024-offset-x: 0px;
$logoBorder_1024-offset-y: -492px;
$logoBorder_1024-width: 100px;
$logoBorder_1024-height: 98px;
$logoBorder_1024-total-width: 710px;
$logoBorder_1024-total-height: 684px;
$logoBorder_1024-image: '../../../img/1024/sprites.png';
$logoBorder_1024: 0px 492px 0px -492px 100px 98px 710px 684px '../../../img/1024/sprites.png';
$nwProductsLogo_1024-x: 647px;
$nwProductsLogo_1024-y: 373px;
$nwProductsLogo_1024-offset-x: -647px;
$nwProductsLogo_1024-offset-y: -373px;
$nwProductsLogo_1024-width: 57px;
$nwProductsLogo_1024-height: 23px;
$nwProductsLogo_1024-total-width: 710px;
$nwProductsLogo_1024-total-height: 684px;
$nwProductsLogo_1024-image: '../../../img/1024/sprites.png';
$nwProductsLogo_1024: 647px 373px -647px -373px 57px 23px 710px 684px '../../../img/1024/sprites.png';
$nwProductsLogoH_1024-x: 647px;
$nwProductsLogoH_1024-y: 396px;
$nwProductsLogoH_1024-offset-x: -647px;
$nwProductsLogoH_1024-offset-y: -396px;
$nwProductsLogoH_1024-width: 61px;
$nwProductsLogoH_1024-height: 23px;
$nwProductsLogoH_1024-total-width: 710px;
$nwProductsLogoH_1024-total-height: 684px;
$nwProductsLogoH_1024-image: '../../../img/1024/sprites.png';
$nwProductsLogoH_1024: 647px 396px -647px -396px 61px 23px 710px 684px '../../../img/1024/sprites.png';
$vk_1024-x: 647px;
$vk_1024-y: 311px;
$vk_1024-offset-x: -647px;
$vk_1024-offset-y: -311px;
$vk_1024-width: 32px;
$vk_1024-height: 31px;
$vk_1024-total-width: 710px;
$vk_1024-total-height: 684px;
$vk_1024-image: '../../../img/1024/sprites.png';
$vk_1024: 647px 311px -647px -311px 32px 31px 710px 684px '../../../img/1024/sprites.png';
$yt_1024-x: 647px;
$yt_1024-y: 342px;
$yt_1024-offset-x: -647px;
$yt_1024-offset-y: -342px;
$yt_1024-width: 32px;
$yt_1024-height: 31px;
$yt_1024-total-width: 710px;
$yt_1024-total-height: 684px;
$yt_1024-image: '../../../img/1024/sprites.png';
$yt_1024: 647px 342px -647px -342px 32px 31px 710px 684px '../../../img/1024/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
