/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$_1_appl_1680-x: 152px;
$_1_appl_1680-y: 967px;
$_1_appl_1680-offset-x: -152px;
$_1_appl_1680-offset-y: -967px;
$_1_appl_1680-width: 125px;
$_1_appl_1680-height: 87px;
$_1_appl_1680-total-width: 1163px;
$_1_appl_1680-total-height: 1121px;
$_1_appl_1680-image: '../../../img/1680/sprites.png';
$_1_appl_1680: 152px 967px -152px -967px 125px 87px 1163px 1121px '../../../img/1680/sprites.png';
$_1_appl2_1680-x: 277px;
$_1_appl2_1680-y: 967px;
$_1_appl2_1680-offset-x: -277px;
$_1_appl2_1680-offset-y: -967px;
$_1_appl2_1680-width: 116px;
$_1_appl2_1680-height: 87px;
$_1_appl2_1680-total-width: 1163px;
$_1_appl2_1680-total-height: 1121px;
$_1_appl2_1680-image: '../../../img/1680/sprites.png';
$_1_appl2_1680: 277px 967px -277px -967px 116px 87px 1163px 1121px '../../../img/1680/sprites.png';
$_1_appl3_1680-x: 1060px;
$_1_appl3_1680-y: 0px;
$_1_appl3_1680-offset-x: -1060px;
$_1_appl3_1680-offset-y: 0px;
$_1_appl3_1680-width: 103px;
$_1_appl3_1680-height: 74px;
$_1_appl3_1680-total-width: 1163px;
$_1_appl3_1680-total-height: 1121px;
$_1_appl3_1680-image: '../../../img/1680/sprites.png';
$_1_appl3_1680: 1060px 0px -1060px 0px 103px 74px 1163px 1121px '../../../img/1680/sprites.png';
$_1_appl4_1680-x: 1060px;
$_1_appl4_1680-y: 282px;
$_1_appl4_1680-offset-x: -1060px;
$_1_appl4_1680-offset-y: -282px;
$_1_appl4_1680-width: 81px;
$_1_appl4_1680-height: 66px;
$_1_appl4_1680-total-width: 1163px;
$_1_appl4_1680-total-height: 1121px;
$_1_appl4_1680-image: '../../../img/1680/sprites.png';
$_1_appl4_1680: 1060px 282px -1060px -282px 81px 66px 1163px 1121px '../../../img/1680/sprites.png';
$_1_appl_half_1680-x: 1060px;
$_1_appl_half_1680-y: 145px;
$_1_appl_half_1680-offset-x: -1060px;
$_1_appl_half_1680-offset-y: -145px;
$_1_appl_half_1680-width: 81px;
$_1_appl_half_1680-height: 71px;
$_1_appl_half_1680-total-width: 1163px;
$_1_appl_half_1680-total-height: 1121px;
$_1_appl_half_1680-image: '../../../img/1680/sprites.png';
$_1_appl_half_1680: 1060px 145px -1060px -145px 81px 71px 1163px 1121px '../../../img/1680/sprites.png';
$_1_board_1680-x: 606px;
$_1_board_1680-y: 0px;
$_1_board_1680-offset-x: -606px;
$_1_board_1680-offset-y: 0px;
$_1_board_1680-width: 454px;
$_1_board_1680-height: 199px;
$_1_board_1680-total-width: 1163px;
$_1_board_1680-total-height: 1121px;
$_1_board_1680-image: '../../../img/1680/sprites.png';
$_1_board_1680: 606px 0px -606px 0px 454px 199px 1163px 1121px '../../../img/1680/sprites.png';
$_1_miniBottle_1680-x: 606px;
$_1_miniBottle_1680-y: 199px;
$_1_miniBottle_1680-offset-x: -606px;
$_1_miniBottle_1680-offset-y: -199px;
$_1_miniBottle_1680-width: 120px;
$_1_miniBottle_1680-height: 191px;
$_1_miniBottle_1680-total-width: 1163px;
$_1_miniBottle_1680-total-height: 1121px;
$_1_miniBottle_1680-image: '../../../img/1680/sprites.png';
$_1_miniBottle_1680: 606px 199px -606px -199px 120px 191px 1163px 1121px '../../../img/1680/sprites.png';
$_1_notebook_1680-x: 606px;
$_1_notebook_1680-y: 390px;
$_1_notebook_1680-offset-x: -606px;
$_1_notebook_1680-offset-y: -390px;
$_1_notebook_1680-width: 343px;
$_1_notebook_1680-height: 185px;
$_1_notebook_1680-total-width: 1163px;
$_1_notebook_1680-total-height: 1121px;
$_1_notebook_1680-image: '../../../img/1680/sprites.png';
$_1_notebook_1680: 606px 390px -606px -390px 343px 185px 1163px 1121px '../../../img/1680/sprites.png';
$_2_appl_1680-x: 428px;
$_2_appl_1680-y: 806px;
$_2_appl_1680-offset-x: -428px;
$_2_appl_1680-offset-y: -806px;
$_2_appl_1680-width: 109px;
$_2_appl_1680-height: 124px;
$_2_appl_1680-total-width: 1163px;
$_2_appl_1680-total-height: 1121px;
$_2_appl_1680-image: '../../../img/1680/sprites.png';
$_2_appl_1680: 428px 806px -428px -806px 109px 124px 1163px 1121px '../../../img/1680/sprites.png';
$_2_appl2_1680-x: 713px;
$_2_appl2_1680-y: 806px;
$_2_appl2_1680-offset-x: -713px;
$_2_appl2_1680-offset-y: -806px;
$_2_appl2_1680-width: 95px;
$_2_appl2_1680-height: 111px;
$_2_appl2_1680-total-width: 1163px;
$_2_appl2_1680-total-height: 1121px;
$_2_appl2_1680-image: '../../../img/1680/sprites.png';
$_2_appl2_1680: 713px 806px -713px -806px 95px 111px 1163px 1121px '../../../img/1680/sprites.png';
$_2_appl_half_1680-x: 323px;
$_2_appl_half_1680-y: 806px;
$_2_appl_half_1680-offset-x: -323px;
$_2_appl_half_1680-offset-y: -806px;
$_2_appl_half_1680-width: 105px;
$_2_appl_half_1680-height: 138px;
$_2_appl_half_1680-total-width: 1163px;
$_2_appl_half_1680-total-height: 1121px;
$_2_appl_half_1680-image: '../../../img/1680/sprites.png';
$_2_appl_half_1680: 323px 806px -323px -806px 105px 138px 1163px 1121px '../../../img/1680/sprites.png';
$_2_boardMen_1680-x: 0px;
$_2_boardMen_1680-y: 0px;
$_2_boardMen_1680-offset-x: 0px;
$_2_boardMen_1680-offset-y: 0px;
$_2_boardMen_1680-width: 606px;
$_2_boardMen_1680-height: 806px;
$_2_boardMen_1680-total-width: 1163px;
$_2_boardMen_1680-total-height: 1121px;
$_2_boardMen_1680-image: '../../../img/1680/sprites.png';
$_2_boardMen_1680: 0px 0px 0px 0px 606px 806px 1163px 1121px '../../../img/1680/sprites.png';
$_2_miniBottle_1680-x: 537px;
$_2_miniBottle_1680-y: 806px;
$_2_miniBottle_1680-offset-x: -537px;
$_2_miniBottle_1680-offset-y: -806px;
$_2_miniBottle_1680-width: 176px;
$_2_miniBottle_1680-height: 116px;
$_2_miniBottle_1680-total-width: 1163px;
$_2_miniBottle_1680-total-height: 1121px;
$_2_miniBottle_1680-image: '../../../img/1680/sprites.png';
$_2_miniBottle_1680: 537px 806px -537px -806px 176px 116px 1163px 1121px '../../../img/1680/sprites.png';
$_3_appl1_1680-x: 0px;
$_3_appl1_1680-y: 967px;
$_3_appl1_1680-offset-x: 0px;
$_3_appl1_1680-offset-y: -967px;
$_3_appl1_1680-width: 152px;
$_3_appl1_1680-height: 87px;
$_3_appl1_1680-total-width: 1163px;
$_3_appl1_1680-total-height: 1121px;
$_3_appl1_1680-image: '../../../img/1680/sprites.png';
$_3_appl1_1680: 0px 967px 0px -967px 152px 87px 1163px 1121px '../../../img/1680/sprites.png';
$_3_appl2_1680-x: 123px;
$_3_appl2_1680-y: 1054px;
$_3_appl2_1680-offset-x: -123px;
$_3_appl2_1680-offset-y: -1054px;
$_3_appl2_1680-width: 112px;
$_3_appl2_1680-height: 65px;
$_3_appl2_1680-total-width: 1163px;
$_3_appl2_1680-total-height: 1121px;
$_3_appl2_1680-image: '../../../img/1680/sprites.png';
$_3_appl2_1680: 123px 1054px -123px -1054px 112px 65px 1163px 1121px '../../../img/1680/sprites.png';
$_3_appl3_1680-x: 0px;
$_3_appl3_1680-y: 1054px;
$_3_appl3_1680-offset-x: 0px;
$_3_appl3_1680-offset-y: -1054px;
$_3_appl3_1680-width: 123px;
$_3_appl3_1680-height: 67px;
$_3_appl3_1680-total-width: 1163px;
$_3_appl3_1680-total-height: 1121px;
$_3_appl3_1680-image: '../../../img/1680/sprites.png';
$_3_appl3_1680: 0px 1054px 0px -1054px 123px 67px 1163px 1121px '../../../img/1680/sprites.png';
$_3_miniBottle_1680-x: 898px;
$_3_miniBottle_1680-y: 575px;
$_3_miniBottle_1680-offset-x: -898px;
$_3_miniBottle_1680-offset-y: -575px;
$_3_miniBottle_1680-width: 137px;
$_3_miniBottle_1680-height: 156px;
$_3_miniBottle_1680-total-width: 1163px;
$_3_miniBottle_1680-total-height: 1121px;
$_3_miniBottle_1680-image: '../../../img/1680/sprites.png';
$_3_miniBottle_1680: 898px 575px -898px -575px 137px 156px 1163px 1121px '../../../img/1680/sprites.png';
$_5_appl1_1680-x: 933px;
$_5_appl1_1680-y: 806px;
$_5_appl1_1680-offset-x: -933px;
$_5_appl1_1680-offset-y: -806px;
$_5_appl1_1680-width: 120px;
$_5_appl1_1680-height: 87px;
$_5_appl1_1680-total-width: 1163px;
$_5_appl1_1680-total-height: 1121px;
$_5_appl1_1680-image: '../../../img/1680/sprites.png';
$_5_appl1_1680: 933px 806px -933px -806px 120px 87px 1163px 1121px '../../../img/1680/sprites.png';
$_5_appl2_1680-x: 1060px;
$_5_appl2_1680-y: 74px;
$_5_appl2_1680-offset-x: -1060px;
$_5_appl2_1680-offset-y: -74px;
$_5_appl2_1680-width: 81px;
$_5_appl2_1680-height: 71px;
$_5_appl2_1680-total-width: 1163px;
$_5_appl2_1680-total-height: 1121px;
$_5_appl2_1680-image: '../../../img/1680/sprites.png';
$_5_appl2_1680: 1060px 74px -1060px -74px 81px 71px 1163px 1121px '../../../img/1680/sprites.png';
$_5_appl3_1680-x: 1060px;
$_5_appl3_1680-y: 216px;
$_5_appl3_1680-offset-x: -1060px;
$_5_appl3_1680-offset-y: -216px;
$_5_appl3_1680-width: 85px;
$_5_appl3_1680-height: 66px;
$_5_appl3_1680-total-width: 1163px;
$_5_appl3_1680-total-height: 1121px;
$_5_appl3_1680-image: '../../../img/1680/sprites.png';
$_5_appl3_1680: 1060px 216px -1060px -216px 85px 66px 1163px 1121px '../../../img/1680/sprites.png';
$_5_appl4_1680-x: 808px;
$_5_appl4_1680-y: 806px;
$_5_appl4_1680-offset-x: -808px;
$_5_appl4_1680-offset-y: -806px;
$_5_appl4_1680-width: 125px;
$_5_appl4_1680-height: 87px;
$_5_appl4_1680-total-width: 1163px;
$_5_appl4_1680-total-height: 1121px;
$_5_appl4_1680-image: '../../../img/1680/sprites.png';
$_5_appl4_1680: 808px 806px -808px -806px 125px 87px 1163px 1121px '../../../img/1680/sprites.png';
$_5_appl5_1680-x: 922px;
$_5_appl5_1680-y: 967px;
$_5_appl5_1680-offset-x: -922px;
$_5_appl5_1680-offset-y: -967px;
$_5_appl5_1680-width: 103px;
$_5_appl5_1680-height: 74px;
$_5_appl5_1680-total-width: 1163px;
$_5_appl5_1680-total-height: 1121px;
$_5_appl5_1680-image: '../../../img/1680/sprites.png';
$_5_appl5_1680: 922px 967px -922px -967px 103px 74px 1163px 1121px '../../../img/1680/sprites.png';
$_5_appl6_1680-x: 393px;
$_5_appl6_1680-y: 967px;
$_5_appl6_1680-offset-x: -393px;
$_5_appl6_1680-offset-y: -967px;
$_5_appl6_1680-width: 81px;
$_5_appl6_1680-height: 84px;
$_5_appl6_1680-total-width: 1163px;
$_5_appl6_1680-total-height: 1121px;
$_5_appl6_1680-image: '../../../img/1680/sprites.png';
$_5_appl6_1680: 393px 967px -393px -967px 81px 84px 1163px 1121px '../../../img/1680/sprites.png';
$_5_back_1680-x: 687px;
$_5_back_1680-y: 967px;
$_5_back_1680-offset-x: -687px;
$_5_back_1680-offset-y: -967px;
$_5_back_1680-width: 235px;
$_5_back_1680-height: 75px;
$_5_back_1680-total-width: 1163px;
$_5_back_1680-total-height: 1121px;
$_5_back_1680-image: '../../../img/1680/sprites.png';
$_5_back_1680: 687px 967px -687px -967px 235px 75px 1163px 1121px '../../../img/1680/sprites.png';
$_5_board_1680-x: 474px;
$_5_board_1680-y: 967px;
$_5_board_1680-offset-x: -474px;
$_5_board_1680-offset-y: -967px;
$_5_board_1680-width: 213px;
$_5_board_1680-height: 80px;
$_5_board_1680-total-width: 1163px;
$_5_board_1680-total-height: 1121px;
$_5_board_1680-image: '../../../img/1680/sprites.png';
$_5_board_1680: 474px 967px -474px -967px 213px 80px 1163px 1121px '../../../img/1680/sprites.png';
$_5_product1_1680-x: 726px;
$_5_product1_1680-y: 199px;
$_5_product1_1680-offset-x: -726px;
$_5_product1_1680-offset-y: -199px;
$_5_product1_1680-width: 219px;
$_5_product1_1680-height: 185px;
$_5_product1_1680-total-width: 1163px;
$_5_product1_1680-total-height: 1121px;
$_5_product1_1680-image: '../../../img/1680/sprites.png';
$_5_product1_1680: 726px 199px -726px -199px 219px 185px 1163px 1121px '../../../img/1680/sprites.png';
$_5_product2_1680-x: 949px;
$_5_product2_1680-y: 390px;
$_5_product2_1680-offset-x: -949px;
$_5_product2_1680-offset-y: -390px;
$_5_product2_1680-width: 98px;
$_5_product2_1680-height: 165px;
$_5_product2_1680-total-width: 1163px;
$_5_product2_1680-total-height: 1121px;
$_5_product2_1680-image: '../../../img/1680/sprites.png';
$_5_product2_1680: 949px 390px -949px -390px 98px 165px 1163px 1121px '../../../img/1680/sprites.png';
$_5_product3_1680-x: 784px;
$_5_product3_1680-y: 575px;
$_5_product3_1680-offset-x: -784px;
$_5_product3_1680-offset-y: -575px;
$_5_product3_1680-width: 114px;
$_5_product3_1680-height: 172px;
$_5_product3_1680-total-width: 1163px;
$_5_product3_1680-total-height: 1121px;
$_5_product3_1680-image: '../../../img/1680/sprites.png';
$_5_product3_1680: 784px 575px -784px -575px 114px 172px 1163px 1121px '../../../img/1680/sprites.png';
$_5_product4_1680-x: 606px;
$_5_product4_1680-y: 575px;
$_5_product4_1680-offset-x: -606px;
$_5_product4_1680-offset-y: -575px;
$_5_product4_1680-width: 178px;
$_5_product4_1680-height: 181px;
$_5_product4_1680-total-width: 1163px;
$_5_product4_1680-total-height: 1121px;
$_5_product4_1680-image: '../../../img/1680/sprites.png';
$_5_product4_1680: 606px 575px -606px -575px 178px 181px 1163px 1121px '../../../img/1680/sprites.png';
$book_1680-x: 945px;
$book_1680-y: 199px;
$book_1680-offset-x: -945px;
$book_1680-offset-y: -199px;
$book_1680-width: 60px;
$book_1680-height: 175px;
$book_1680-total-width: 1163px;
$book_1680-total-height: 1121px;
$book_1680-image: '../../../img/1680/sprites.png';
$book_1680: 945px 199px -945px -199px 60px 175px 1163px 1121px '../../../img/1680/sprites.png';
$close_1680-x: 1060px;
$close_1680-y: 410px;
$close_1680-offset-x: -1060px;
$close_1680-offset-y: -410px;
$close_1680-width: 52px;
$close_1680-height: 51px;
$close_1680-total-width: 1163px;
$close_1680-total-height: 1121px;
$close_1680-image: '../../../img/1680/sprites.png';
$close_1680: 1060px 410px -1060px -410px 52px 51px 1163px 1121px '../../../img/1680/sprites.png';
$drinkSens_1680-x: 1060px;
$drinkSens_1680-y: 348px;
$drinkSens_1680-offset-x: -1060px;
$drinkSens_1680-offset-y: -348px;
$drinkSens_1680-width: 63px;
$drinkSens_1680-height: 62px;
$drinkSens_1680-total-width: 1163px;
$drinkSens_1680-total-height: 1121px;
$drinkSens_1680-image: '../../../img/1680/sprites.png';
$drinkSens_1680: 1060px 348px -1060px -348px 63px 62px 1163px 1121px '../../../img/1680/sprites.png';
$fb_1680-x: 1141px;
$fb_1680-y: 74px;
$fb_1680-offset-x: -1141px;
$fb_1680-offset-y: -74px;
$fb_1680-width: 14px;
$fb_1680-height: 31px;
$fb_1680-total-width: 1163px;
$fb_1680-total-height: 1121px;
$fb_1680-image: '../../../img/1680/sprites.png';
$fb_1680: 1141px 74px -1141px -74px 14px 31px 1163px 1121px '../../../img/1680/sprites.png';
$logo_1680-x: 165px;
$logo_1680-y: 806px;
$logo_1680-offset-x: -165px;
$logo_1680-offset-y: -806px;
$logo_1680-width: 158px;
$logo_1680-height: 155px;
$logo_1680-total-width: 1163px;
$logo_1680-total-height: 1121px;
$logo_1680-image: '../../../img/1680/sprites.png';
$logo_1680: 165px 806px -165px -806px 158px 155px 1163px 1121px '../../../img/1680/sprites.png';
$logoBorder_1680-x: 0px;
$logoBorder_1680-y: 806px;
$logoBorder_1680-offset-x: 0px;
$logoBorder_1680-offset-y: -806px;
$logoBorder_1680-width: 165px;
$logoBorder_1680-height: 161px;
$logoBorder_1680-total-width: 1163px;
$logoBorder_1680-total-height: 1121px;
$logoBorder_1680-image: '../../../img/1680/sprites.png';
$logoBorder_1680: 0px 806px 0px -806px 165px 161px 1163px 1121px '../../../img/1680/sprites.png';
$nwProductsLogo_1680-x: 1060px;
$nwProductsLogo_1680-y: 512px;
$nwProductsLogo_1680-offset-x: -1060px;
$nwProductsLogo_1680-offset-y: -512px;
$nwProductsLogo_1680-width: 94px;
$nwProductsLogo_1680-height: 37px;
$nwProductsLogo_1680-total-width: 1163px;
$nwProductsLogo_1680-total-height: 1121px;
$nwProductsLogo_1680-image: '../../../img/1680/sprites.png';
$nwProductsLogo_1680: 1060px 512px -1060px -512px 94px 37px 1163px 1121px '../../../img/1680/sprites.png';
$nwProductsLogoH_1680-x: 1060px;
$nwProductsLogoH_1680-y: 549px;
$nwProductsLogoH_1680-offset-x: -1060px;
$nwProductsLogoH_1680-offset-y: -549px;
$nwProductsLogoH_1680-width: 101px;
$nwProductsLogoH_1680-height: 37px;
$nwProductsLogoH_1680-total-width: 1163px;
$nwProductsLogoH_1680-total-height: 1121px;
$nwProductsLogoH_1680-image: '../../../img/1680/sprites.png';
$nwProductsLogoH_1680: 1060px 549px -1060px -549px 101px 37px 1163px 1121px '../../../img/1680/sprites.png';
$soc-border_1680-x: 1060px;
$soc-border_1680-y: 461px;
$soc-border_1680-offset-x: -1060px;
$soc-border_1680-offset-y: -461px;
$soc-border_1680-width: 52px;
$soc-border_1680-height: 51px;
$soc-border_1680-total-width: 1163px;
$soc-border_1680-total-height: 1121px;
$soc-border_1680-image: '../../../img/1680/sprites.png';
$soc-border_1680: 1060px 461px -1060px -461px 52px 51px 1163px 1121px '../../../img/1680/sprites.png';
$vk_1680-x: 1141px;
$vk_1680-y: 105px;
$vk_1680-offset-x: -1141px;
$vk_1680-offset-y: -105px;
$vk_1680-width: 19px;
$vk_1680-height: 21px;
$vk_1680-total-width: 1163px;
$vk_1680-total-height: 1121px;
$vk_1680-image: '../../../img/1680/sprites.png';
$vk_1680: 1141px 105px -1141px -105px 19px 21px 1163px 1121px '../../../img/1680/sprites.png';
$yt_1680-x: 1123px;
$yt_1680-y: 348px;
$yt_1680-offset-x: -1123px;
$yt_1680-offset-y: -348px;
$yt_1680-width: 24px;
$yt_1680-height: 29px;
$yt_1680-total-width: 1163px;
$yt_1680-total-height: 1121px;
$yt_1680-image: '../../../img/1680/sprites.png';
$yt_1680: 1123px 348px -1123px -348px 24px 29px 1163px 1121px '../../../img/1680/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
