/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$_1_appl_1152-x: 104px;
$_1_appl_1152-y: 664px;
$_1_appl_1152-offset-x: -104px;
$_1_appl_1152-offset-y: -664px;
$_1_appl_1152-width: 86px;
$_1_appl_1152-height: 59px;
$_1_appl_1152-total-width: 799px;
$_1_appl_1152-total-height: 769px;
$_1_appl_1152-image: '../../../img/1152/sprites.png';
$_1_appl_1152: 104px 664px -104px -664px 86px 59px 799px 769px '../../../img/1152/sprites.png';
$_1_appl2_1152-x: 636px;
$_1_appl2_1152-y: 553px;
$_1_appl2_1152-offset-x: -636px;
$_1_appl2_1152-offset-y: -553px;
$_1_appl2_1152-width: 79px;
$_1_appl2_1152-height: 60px;
$_1_appl2_1152-total-width: 799px;
$_1_appl2_1152-total-height: 769px;
$_1_appl2_1152-image: '../../../img/1152/sprites.png';
$_1_appl2_1152: 636px 553px -636px -553px 79px 60px 799px 769px '../../../img/1152/sprites.png';
$_1_appl3_1152-x: 728px;
$_1_appl3_1152-y: 0px;
$_1_appl3_1152-offset-x: -728px;
$_1_appl3_1152-offset-y: 0px;
$_1_appl3_1152-width: 71px;
$_1_appl3_1152-height: 51px;
$_1_appl3_1152-total-width: 799px;
$_1_appl3_1152-total-height: 769px;
$_1_appl3_1152-image: '../../../img/1152/sprites.png';
$_1_appl3_1152: 728px 0px -728px 0px 71px 51px 799px 769px '../../../img/1152/sprites.png';
$_1_appl4_1152-x: 728px;
$_1_appl4_1152-y: 147px;
$_1_appl4_1152-offset-x: -728px;
$_1_appl4_1152-offset-y: -147px;
$_1_appl4_1152-width: 56px;
$_1_appl4_1152-height: 45px;
$_1_appl4_1152-total-width: 799px;
$_1_appl4_1152-total-height: 769px;
$_1_appl4_1152-image: '../../../img/1152/sprites.png';
$_1_appl4_1152: 728px 147px -728px -147px 56px 45px 799px 769px '../../../img/1152/sprites.png';
$_1_appl_half_1152-x: 728px;
$_1_appl_half_1152-y: 99px;
$_1_appl_half_1152-offset-x: -728px;
$_1_appl_half_1152-offset-y: -99px;
$_1_appl_half_1152-width: 55px;
$_1_appl_half_1152-height: 48px;
$_1_appl_half_1152-total-width: 799px;
$_1_appl_half_1152-total-height: 769px;
$_1_appl_half_1152-image: '../../../img/1152/sprites.png';
$_1_appl_half_1152: 728px 99px -728px -99px 55px 48px 799px 769px '../../../img/1152/sprites.png';
$_1_board_1152-x: 416px;
$_1_board_1152-y: 0px;
$_1_board_1152-offset-x: -416px;
$_1_board_1152-offset-y: 0px;
$_1_board_1152-width: 312px;
$_1_board_1152-height: 137px;
$_1_board_1152-total-width: 799px;
$_1_board_1152-total-height: 769px;
$_1_board_1152-image: '../../../img/1152/sprites.png';
$_1_board_1152: 416px 0px -416px 0px 312px 137px 799px 769px '../../../img/1152/sprites.png';
$_1_miniBottle_1152-x: 416px;
$_1_miniBottle_1152-y: 137px;
$_1_miniBottle_1152-offset-x: -416px;
$_1_miniBottle_1152-offset-y: -137px;
$_1_miniBottle_1152-width: 82px;
$_1_miniBottle_1152-height: 131px;
$_1_miniBottle_1152-total-width: 799px;
$_1_miniBottle_1152-total-height: 769px;
$_1_miniBottle_1152-image: '../../../img/1152/sprites.png';
$_1_miniBottle_1152: 416px 137px -416px -137px 82px 131px 799px 769px '../../../img/1152/sprites.png';
$_1_notebook_1152-x: 416px;
$_1_notebook_1152-y: 268px;
$_1_notebook_1152-offset-x: -416px;
$_1_notebook_1152-offset-y: -268px;
$_1_notebook_1152-width: 235px;
$_1_notebook_1152-height: 127px;
$_1_notebook_1152-total-width: 799px;
$_1_notebook_1152-total-height: 769px;
$_1_notebook_1152-image: '../../../img/1152/sprites.png';
$_1_notebook_1152: 416px 268px -416px -268px 235px 127px 799px 769px '../../../img/1152/sprites.png';
$_2_appl_1152-x: 293px;
$_2_appl_1152-y: 553px;
$_2_appl_1152-offset-x: -293px;
$_2_appl_1152-offset-y: -553px;
$_2_appl_1152-width: 75px;
$_2_appl_1152-height: 85px;
$_2_appl_1152-total-width: 799px;
$_2_appl_1152-total-height: 769px;
$_2_appl_1152-image: '../../../img/1152/sprites.png';
$_2_appl_1152: 293px 553px -293px -553px 75px 85px 799px 769px '../../../img/1152/sprites.png';
$_2_appl2_1152-x: 489px;
$_2_appl2_1152-y: 553px;
$_2_appl2_1152-offset-x: -489px;
$_2_appl2_1152-offset-y: -553px;
$_2_appl2_1152-width: 65px;
$_2_appl2_1152-height: 76px;
$_2_appl2_1152-total-width: 799px;
$_2_appl2_1152-total-height: 769px;
$_2_appl2_1152-image: '../../../img/1152/sprites.png';
$_2_appl2_1152: 489px 553px -489px -553px 65px 76px 799px 769px '../../../img/1152/sprites.png';
$_2_appl_half_1152-x: 221px;
$_2_appl_half_1152-y: 553px;
$_2_appl_half_1152-offset-x: -221px;
$_2_appl_half_1152-offset-y: -553px;
$_2_appl_half_1152-width: 72px;
$_2_appl_half_1152-height: 94px;
$_2_appl_half_1152-total-width: 799px;
$_2_appl_half_1152-total-height: 769px;
$_2_appl_half_1152-image: '../../../img/1152/sprites.png';
$_2_appl_half_1152: 221px 553px -221px -553px 72px 94px 799px 769px '../../../img/1152/sprites.png';
$_2_boardMen_1152-x: 0px;
$_2_boardMen_1152-y: 0px;
$_2_boardMen_1152-offset-x: 0px;
$_2_boardMen_1152-offset-y: 0px;
$_2_boardMen_1152-width: 416px;
$_2_boardMen_1152-height: 553px;
$_2_boardMen_1152-total-width: 799px;
$_2_boardMen_1152-total-height: 769px;
$_2_boardMen_1152-image: '../../../img/1152/sprites.png';
$_2_boardMen_1152: 0px 0px 0px 0px 416px 553px 799px 769px '../../../img/1152/sprites.png';
$_2_miniBottle_1152-x: 368px;
$_2_miniBottle_1152-y: 553px;
$_2_miniBottle_1152-offset-x: -368px;
$_2_miniBottle_1152-offset-y: -553px;
$_2_miniBottle_1152-width: 121px;
$_2_miniBottle_1152-height: 79px;
$_2_miniBottle_1152-total-width: 799px;
$_2_miniBottle_1152-total-height: 769px;
$_2_miniBottle_1152-image: '../../../img/1152/sprites.png';
$_2_miniBottle_1152: 368px 553px -368px -553px 121px 79px 799px 769px '../../../img/1152/sprites.png';
$_3_appl1_1152-x: 0px;
$_3_appl1_1152-y: 664px;
$_3_appl1_1152-offset-x: 0px;
$_3_appl1_1152-offset-y: -664px;
$_3_appl1_1152-width: 104px;
$_3_appl1_1152-height: 59px;
$_3_appl1_1152-total-width: 799px;
$_3_appl1_1152-total-height: 769px;
$_3_appl1_1152-image: '../../../img/1152/sprites.png';
$_3_appl1_1152: 0px 664px 0px -664px 104px 59px 799px 769px '../../../img/1152/sprites.png';
$_3_appl2_1152-x: 84px;
$_3_appl2_1152-y: 723px;
$_3_appl2_1152-offset-x: -84px;
$_3_appl2_1152-offset-y: -723px;
$_3_appl2_1152-width: 77px;
$_3_appl2_1152-height: 44px;
$_3_appl2_1152-total-width: 799px;
$_3_appl2_1152-total-height: 769px;
$_3_appl2_1152-image: '../../../img/1152/sprites.png';
$_3_appl2_1152: 84px 723px -84px -723px 77px 44px 799px 769px '../../../img/1152/sprites.png';
$_3_appl3_1152-x: 0px;
$_3_appl3_1152-y: 723px;
$_3_appl3_1152-offset-x: 0px;
$_3_appl3_1152-offset-y: -723px;
$_3_appl3_1152-width: 84px;
$_3_appl3_1152-height: 46px;
$_3_appl3_1152-total-width: 799px;
$_3_appl3_1152-total-height: 769px;
$_3_appl3_1152-image: '../../../img/1152/sprites.png';
$_3_appl3_1152: 0px 723px 0px -723px 84px 46px 799px 769px '../../../img/1152/sprites.png';
$_3_miniBottle_1152-x: 616px;
$_3_miniBottle_1152-y: 395px;
$_3_miniBottle_1152-offset-x: -616px;
$_3_miniBottle_1152-offset-y: -395px;
$_3_miniBottle_1152-width: 94px;
$_3_miniBottle_1152-height: 107px;
$_3_miniBottle_1152-total-width: 799px;
$_3_miniBottle_1152-total-height: 769px;
$_3_miniBottle_1152-image: '../../../img/1152/sprites.png';
$_3_miniBottle_1152: 616px 395px -616px -395px 94px 107px 799px 769px '../../../img/1152/sprites.png';
$_5_appl1_1152-x: 554px;
$_5_appl1_1152-y: 553px;
$_5_appl1_1152-offset-x: -554px;
$_5_appl1_1152-offset-y: -553px;
$_5_appl1_1152-width: 82px;
$_5_appl1_1152-height: 60px;
$_5_appl1_1152-total-width: 799px;
$_5_appl1_1152-total-height: 769px;
$_5_appl1_1152-image: '../../../img/1152/sprites.png';
$_5_appl1_1152: 554px 553px -554px -553px 82px 60px 799px 769px '../../../img/1152/sprites.png';
$_5_appl2_1152-x: 728px;
$_5_appl2_1152-y: 51px;
$_5_appl2_1152-offset-x: -728px;
$_5_appl2_1152-offset-y: -51px;
$_5_appl2_1152-width: 55px;
$_5_appl2_1152-height: 48px;
$_5_appl2_1152-total-width: 799px;
$_5_appl2_1152-total-height: 769px;
$_5_appl2_1152-image: '../../../img/1152/sprites.png';
$_5_appl2_1152: 728px 51px -728px -51px 55px 48px 799px 769px '../../../img/1152/sprites.png';
$_5_appl3_1152-x: 728px;
$_5_appl3_1152-y: 192px;
$_5_appl3_1152-offset-x: -728px;
$_5_appl3_1152-offset-y: -192px;
$_5_appl3_1152-width: 58px;
$_5_appl3_1152-height: 45px;
$_5_appl3_1152-total-width: 799px;
$_5_appl3_1152-total-height: 769px;
$_5_appl3_1152-image: '../../../img/1152/sprites.png';
$_5_appl3_1152: 728px 192px -728px -192px 58px 45px 799px 769px '../../../img/1152/sprites.png';
$_5_appl4_1152-x: 190px;
$_5_appl4_1152-y: 664px;
$_5_appl4_1152-offset-x: -190px;
$_5_appl4_1152-offset-y: -664px;
$_5_appl4_1152-width: 86px;
$_5_appl4_1152-height: 59px;
$_5_appl4_1152-total-width: 799px;
$_5_appl4_1152-total-height: 769px;
$_5_appl4_1152-image: '../../../img/1152/sprites.png';
$_5_appl4_1152: 190px 664px -190px -664px 86px 59px 799px 769px '../../../img/1152/sprites.png';
$_5_appl5_1152-x: 639px;
$_5_appl5_1152-y: 664px;
$_5_appl5_1152-offset-x: -639px;
$_5_appl5_1152-offset-y: -664px;
$_5_appl5_1152-width: 71px;
$_5_appl5_1152-height: 51px;
$_5_appl5_1152-total-width: 799px;
$_5_appl5_1152-total-height: 769px;
$_5_appl5_1152-image: '../../../img/1152/sprites.png';
$_5_appl5_1152: 639px 664px -639px -664px 71px 51px 799px 769px '../../../img/1152/sprites.png';
$_5_appl6_1152-x: 276px;
$_5_appl6_1152-y: 664px;
$_5_appl6_1152-offset-x: -276px;
$_5_appl6_1152-offset-y: -664px;
$_5_appl6_1152-width: 56px;
$_5_appl6_1152-height: 58px;
$_5_appl6_1152-total-width: 799px;
$_5_appl6_1152-total-height: 769px;
$_5_appl6_1152-image: '../../../img/1152/sprites.png';
$_5_appl6_1152: 276px 664px -276px -664px 56px 58px 799px 769px '../../../img/1152/sprites.png';
$_5_back_1152-x: 478px;
$_5_back_1152-y: 664px;
$_5_back_1152-offset-x: -478px;
$_5_back_1152-offset-y: -664px;
$_5_back_1152-width: 161px;
$_5_back_1152-height: 51px;
$_5_back_1152-total-width: 799px;
$_5_back_1152-total-height: 769px;
$_5_back_1152-image: '../../../img/1152/sprites.png';
$_5_back_1152: 478px 664px -478px -664px 161px 51px 799px 769px '../../../img/1152/sprites.png';
$_5_board_1152-x: 332px;
$_5_board_1152-y: 664px;
$_5_board_1152-offset-x: -332px;
$_5_board_1152-offset-y: -664px;
$_5_board_1152-width: 146px;
$_5_board_1152-height: 55px;
$_5_board_1152-total-width: 799px;
$_5_board_1152-total-height: 769px;
$_5_board_1152-image: '../../../img/1152/sprites.png';
$_5_board_1152: 332px 664px -332px -664px 146px 55px 799px 769px '../../../img/1152/sprites.png';
$_5_product1_1152-x: 498px;
$_5_product1_1152-y: 137px;
$_5_product1_1152-offset-x: -498px;
$_5_product1_1152-offset-y: -137px;
$_5_product1_1152-width: 150px;
$_5_product1_1152-height: 127px;
$_5_product1_1152-total-width: 799px;
$_5_product1_1152-total-height: 769px;
$_5_product1_1152-image: '../../../img/1152/sprites.png';
$_5_product1_1152: 498px 137px -498px -137px 150px 127px 799px 769px '../../../img/1152/sprites.png';
$_5_product2_1152-x: 651px;
$_5_product2_1152-y: 268px;
$_5_product2_1152-offset-x: -651px;
$_5_product2_1152-offset-y: -268px;
$_5_product2_1152-width: 67px;
$_5_product2_1152-height: 113px;
$_5_product2_1152-total-width: 799px;
$_5_product2_1152-total-height: 769px;
$_5_product2_1152-image: '../../../img/1152/sprites.png';
$_5_product2_1152: 651px 268px -651px -268px 67px 113px 799px 769px '../../../img/1152/sprites.png';
$_5_product3_1152-x: 538px;
$_5_product3_1152-y: 395px;
$_5_product3_1152-offset-x: -538px;
$_5_product3_1152-offset-y: -395px;
$_5_product3_1152-width: 78px;
$_5_product3_1152-height: 118px;
$_5_product3_1152-total-width: 799px;
$_5_product3_1152-total-height: 769px;
$_5_product3_1152-image: '../../../img/1152/sprites.png';
$_5_product3_1152: 538px 395px -538px -395px 78px 118px 799px 769px '../../../img/1152/sprites.png';
$_5_product4_1152-x: 416px;
$_5_product4_1152-y: 395px;
$_5_product4_1152-offset-x: -416px;
$_5_product4_1152-offset-y: -395px;
$_5_product4_1152-width: 122px;
$_5_product4_1152-height: 124px;
$_5_product4_1152-total-width: 799px;
$_5_product4_1152-total-height: 769px;
$_5_product4_1152-image: '../../../img/1152/sprites.png';
$_5_product4_1152: 416px 395px -416px -395px 122px 124px 799px 769px '../../../img/1152/sprites.png';
$book_1152-x: 648px;
$book_1152-y: 137px;
$book_1152-offset-x: -648px;
$book_1152-offset-y: -137px;
$book_1152-width: 41px;
$book_1152-height: 120px;
$book_1152-total-width: 799px;
$book_1152-total-height: 769px;
$book_1152-image: '../../../img/1152/sprites.png';
$book_1152: 648px 137px -648px -137px 41px 120px 799px 769px '../../../img/1152/sprites.png';
$close_1152-x: 728px;
$close_1152-y: 315px;
$close_1152-offset-x: -728px;
$close_1152-offset-y: -315px;
$close_1152-width: 36px;
$close_1152-height: 35px;
$close_1152-total-width: 799px;
$close_1152-total-height: 769px;
$close_1152-image: '../../../img/1152/sprites.png';
$close_1152: 728px 315px -728px -315px 36px 35px 799px 769px '../../../img/1152/sprites.png';
$drinkSens_1152-x: 728px;
$drinkSens_1152-y: 237px;
$drinkSens_1152-offset-x: -728px;
$drinkSens_1152-offset-y: -237px;
$drinkSens_1152-width: 43px;
$drinkSens_1152-height: 43px;
$drinkSens_1152-total-width: 799px;
$drinkSens_1152-total-height: 769px;
$drinkSens_1152-image: '../../../img/1152/sprites.png';
$drinkSens_1152: 728px 237px -728px -237px 43px 43px 799px 769px '../../../img/1152/sprites.png';
$fb_1152-x: 728px;
$fb_1152-y: 280px;
$fb_1152-offset-x: -728px;
$fb_1152-offset-y: -280px;
$fb_1152-width: 36px;
$fb_1152-height: 35px;
$fb_1152-total-width: 799px;
$fb_1152-total-height: 769px;
$fb_1152-image: '../../../img/1152/sprites.png';
$fb_1152: 728px 280px -728px -280px 36px 35px 799px 769px '../../../img/1152/sprites.png';
$logo_1152-x: 113px;
$logo_1152-y: 553px;
$logo_1152-offset-x: -113px;
$logo_1152-offset-y: -553px;
$logo_1152-width: 108px;
$logo_1152-height: 106px;
$logo_1152-total-width: 799px;
$logo_1152-total-height: 769px;
$logo_1152-image: '../../../img/1152/sprites.png';
$logo_1152: 113px 553px -113px -553px 108px 106px 799px 769px '../../../img/1152/sprites.png';
$logoBorder_1152-x: 0px;
$logoBorder_1152-y: 553px;
$logoBorder_1152-offset-x: 0px;
$logoBorder_1152-offset-y: -553px;
$logoBorder_1152-width: 113px;
$logoBorder_1152-height: 111px;
$logoBorder_1152-total-width: 799px;
$logoBorder_1152-total-height: 769px;
$logoBorder_1152-image: '../../../img/1152/sprites.png';
$logoBorder_1152: 0px 553px 0px -553px 113px 111px 799px 769px '../../../img/1152/sprites.png';
$nwProductsLogo_1152-x: 728px;
$nwProductsLogo_1152-y: 420px;
$nwProductsLogo_1152-offset-x: -728px;
$nwProductsLogo_1152-offset-y: -420px;
$nwProductsLogo_1152-width: 65px;
$nwProductsLogo_1152-height: 25px;
$nwProductsLogo_1152-total-width: 799px;
$nwProductsLogo_1152-total-height: 769px;
$nwProductsLogo_1152-image: '../../../img/1152/sprites.png';
$nwProductsLogo_1152: 728px 420px -728px -420px 65px 25px 799px 769px '../../../img/1152/sprites.png';
$nwProductsLogoH_1152-x: 728px;
$nwProductsLogoH_1152-y: 445px;
$nwProductsLogoH_1152-offset-x: -728px;
$nwProductsLogoH_1152-offset-y: -445px;
$nwProductsLogoH_1152-width: 69px;
$nwProductsLogoH_1152-height: 25px;
$nwProductsLogoH_1152-total-width: 799px;
$nwProductsLogoH_1152-total-height: 769px;
$nwProductsLogoH_1152-image: '../../../img/1152/sprites.png';
$nwProductsLogoH_1152: 728px 445px -728px -445px 69px 25px 799px 769px '../../../img/1152/sprites.png';
$vk_1152-x: 728px;
$vk_1152-y: 350px;
$vk_1152-offset-x: -728px;
$vk_1152-offset-y: -350px;
$vk_1152-width: 36px;
$vk_1152-height: 35px;
$vk_1152-total-width: 799px;
$vk_1152-total-height: 769px;
$vk_1152-image: '../../../img/1152/sprites.png';
$vk_1152: 728px 350px -728px -350px 36px 35px 799px 769px '../../../img/1152/sprites.png';
$yt_1152-x: 728px;
$yt_1152-y: 385px;
$yt_1152-offset-x: -728px;
$yt_1152-offset-y: -385px;
$yt_1152-width: 36px;
$yt_1152-height: 35px;
$yt_1152-total-width: 799px;
$yt_1152-total-height: 769px;
$yt_1152-image: '../../../img/1152/sprites.png';
$yt_1152: 728px 385px -728px -385px 36px 35px 799px 769px '../../../img/1152/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
