/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$_1_appl_2000-x: 181px;
$_1_appl_2000-y: 1152px;
$_1_appl_2000-offset-x: -181px;
$_1_appl_2000-offset-y: -1152px;
$_1_appl_2000-width: 149px;
$_1_appl_2000-height: 103px;
$_1_appl_2000-total-width: 1386px;
$_1_appl_2000-total-height: 1335px;
$_1_appl_2000-image: '../../../img/2000/sprites.png';
$_1_appl_2000: 181px 1152px -181px -1152px 149px 103px 1386px 1335px '../../../img/2000/sprites.png';
$_1_appl2_2000-x: 1105px;
$_1_appl2_2000-y: 960px;
$_1_appl2_2000-offset-x: -1105px;
$_1_appl2_2000-offset-y: -960px;
$_1_appl2_2000-width: 138px;
$_1_appl2_2000-height: 104px;
$_1_appl2_2000-total-width: 1386px;
$_1_appl2_2000-total-height: 1335px;
$_1_appl2_2000-image: '../../../img/2000/sprites.png';
$_1_appl2_2000: 1105px 960px -1105px -960px 138px 104px 1386px 1335px '../../../img/2000/sprites.png';
$_1_appl3_2000-x: 1263px;
$_1_appl3_2000-y: 0px;
$_1_appl3_2000-offset-x: -1263px;
$_1_appl3_2000-offset-y: 0px;
$_1_appl3_2000-width: 123px;
$_1_appl3_2000-height: 88px;
$_1_appl3_2000-total-width: 1386px;
$_1_appl3_2000-total-height: 1335px;
$_1_appl3_2000-image: '../../../img/2000/sprites.png';
$_1_appl3_2000: 1263px 0px -1263px 0px 123px 88px 1386px 1335px '../../../img/2000/sprites.png';
$_1_appl4_2000-x: 1263px;
$_1_appl4_2000-y: 256px;
$_1_appl4_2000-offset-x: -1263px;
$_1_appl4_2000-offset-y: -256px;
$_1_appl4_2000-width: 97px;
$_1_appl4_2000-height: 78px;
$_1_appl4_2000-total-width: 1386px;
$_1_appl4_2000-total-height: 1335px;
$_1_appl4_2000-image: '../../../img/2000/sprites.png';
$_1_appl4_2000: 1263px 256px -1263px -256px 97px 78px 1386px 1335px '../../../img/2000/sprites.png';
$_1_appl_half_2000-x: 1263px;
$_1_appl_half_2000-y: 172px;
$_1_appl_half_2000-offset-x: -1263px;
$_1_appl_half_2000-offset-y: -172px;
$_1_appl_half_2000-width: 96px;
$_1_appl_half_2000-height: 84px;
$_1_appl_half_2000-total-width: 1386px;
$_1_appl_half_2000-total-height: 1335px;
$_1_appl_half_2000-image: '../../../img/2000/sprites.png';
$_1_appl_half_2000: 1263px 172px -1263px -172px 96px 84px 1386px 1335px '../../../img/2000/sprites.png';
$_1_board_2000-x: 722px;
$_1_board_2000-y: 0px;
$_1_board_2000-offset-x: -722px;
$_1_board_2000-offset-y: 0px;
$_1_board_2000-width: 541px;
$_1_board_2000-height: 237px;
$_1_board_2000-total-width: 1386px;
$_1_board_2000-total-height: 1335px;
$_1_board_2000-image: '../../../img/2000/sprites.png';
$_1_board_2000: 722px 0px -722px 0px 541px 237px 1386px 1335px '../../../img/2000/sprites.png';
$_1_miniBottle_2000-x: 722px;
$_1_miniBottle_2000-y: 237px;
$_1_miniBottle_2000-offset-x: -722px;
$_1_miniBottle_2000-offset-y: -237px;
$_1_miniBottle_2000-width: 143px;
$_1_miniBottle_2000-height: 227px;
$_1_miniBottle_2000-total-width: 1386px;
$_1_miniBottle_2000-total-height: 1335px;
$_1_miniBottle_2000-image: '../../../img/2000/sprites.png';
$_1_miniBottle_2000: 722px 237px -722px -237px 143px 227px 1386px 1335px '../../../img/2000/sprites.png';
$_1_notebook_2000-x: 722px;
$_1_notebook_2000-y: 464px;
$_1_notebook_2000-offset-x: -722px;
$_1_notebook_2000-offset-y: -464px;
$_1_notebook_2000-width: 408px;
$_1_notebook_2000-height: 220px;
$_1_notebook_2000-total-width: 1386px;
$_1_notebook_2000-total-height: 1335px;
$_1_notebook_2000-image: '../../../img/2000/sprites.png';
$_1_notebook_2000: 722px 464px -722px -464px 408px 220px 1386px 1335px '../../../img/2000/sprites.png';
$_2_appl_2000-x: 509px;
$_2_appl_2000-y: 960px;
$_2_appl_2000-offset-x: -509px;
$_2_appl_2000-offset-y: -960px;
$_2_appl_2000-width: 130px;
$_2_appl_2000-height: 148px;
$_2_appl_2000-total-width: 1386px;
$_2_appl_2000-total-height: 1335px;
$_2_appl_2000-image: '../../../img/2000/sprites.png';
$_2_appl_2000: 509px 960px -509px -960px 130px 148px 1386px 1335px '../../../img/2000/sprites.png';
$_2_appl2_2000-x: 849px;
$_2_appl2_2000-y: 960px;
$_2_appl2_2000-offset-x: -849px;
$_2_appl2_2000-offset-y: -960px;
$_2_appl2_2000-width: 113px;
$_2_appl2_2000-height: 132px;
$_2_appl2_2000-total-width: 1386px;
$_2_appl2_2000-total-height: 1335px;
$_2_appl2_2000-image: '../../../img/2000/sprites.png';
$_2_appl2_2000: 849px 960px -849px -960px 113px 132px 1386px 1335px '../../../img/2000/sprites.png';
$_2_appl_half_2000-x: 384px;
$_2_appl_half_2000-y: 960px;
$_2_appl_half_2000-offset-x: -384px;
$_2_appl_half_2000-offset-y: -960px;
$_2_appl_half_2000-width: 125px;
$_2_appl_half_2000-height: 164px;
$_2_appl_half_2000-total-width: 1386px;
$_2_appl_half_2000-total-height: 1335px;
$_2_appl_half_2000-image: '../../../img/2000/sprites.png';
$_2_appl_half_2000: 384px 960px -384px -960px 125px 164px 1386px 1335px '../../../img/2000/sprites.png';
$_2_boardMen_2000-x: 0px;
$_2_boardMen_2000-y: 0px;
$_2_boardMen_2000-offset-x: 0px;
$_2_boardMen_2000-offset-y: 0px;
$_2_boardMen_2000-width: 722px;
$_2_boardMen_2000-height: 960px;
$_2_boardMen_2000-total-width: 1386px;
$_2_boardMen_2000-total-height: 1335px;
$_2_boardMen_2000-image: '../../../img/2000/sprites.png';
$_2_boardMen_2000: 0px 0px 0px 0px 722px 960px 1386px 1335px '../../../img/2000/sprites.png';
$_2_miniBottle_2000-x: 639px;
$_2_miniBottle_2000-y: 960px;
$_2_miniBottle_2000-offset-x: -639px;
$_2_miniBottle_2000-offset-y: -960px;
$_2_miniBottle_2000-width: 210px;
$_2_miniBottle_2000-height: 138px;
$_2_miniBottle_2000-total-width: 1386px;
$_2_miniBottle_2000-total-height: 1335px;
$_2_miniBottle_2000-image: '../../../img/2000/sprites.png';
$_2_miniBottle_2000: 639px 960px -639px -960px 210px 138px 1386px 1335px '../../../img/2000/sprites.png';
$_3_appl1_2000-x: 0px;
$_3_appl1_2000-y: 1152px;
$_3_appl1_2000-offset-x: 0px;
$_3_appl1_2000-offset-y: -1152px;
$_3_appl1_2000-width: 181px;
$_3_appl1_2000-height: 103px;
$_3_appl1_2000-total-width: 1386px;
$_3_appl1_2000-total-height: 1335px;
$_3_appl1_2000-image: '../../../img/2000/sprites.png';
$_3_appl1_2000: 0px 1152px 0px -1152px 181px 103px 1386px 1335px '../../../img/2000/sprites.png';
$_3_appl2_2000-x: 146px;
$_3_appl2_2000-y: 1255px;
$_3_appl2_2000-offset-x: -146px;
$_3_appl2_2000-offset-y: -1255px;
$_3_appl2_2000-width: 133px;
$_3_appl2_2000-height: 77px;
$_3_appl2_2000-total-width: 1386px;
$_3_appl2_2000-total-height: 1335px;
$_3_appl2_2000-image: '../../../img/2000/sprites.png';
$_3_appl2_2000: 146px 1255px -146px -1255px 133px 77px 1386px 1335px '../../../img/2000/sprites.png';
$_3_appl3_2000-x: 0px;
$_3_appl3_2000-y: 1255px;
$_3_appl3_2000-offset-x: 0px;
$_3_appl3_2000-offset-y: -1255px;
$_3_appl3_2000-width: 146px;
$_3_appl3_2000-height: 80px;
$_3_appl3_2000-total-width: 1386px;
$_3_appl3_2000-total-height: 1335px;
$_3_appl3_2000-image: '../../../img/2000/sprites.png';
$_3_appl3_2000: 0px 1255px 0px -1255px 146px 80px 1386px 1335px '../../../img/2000/sprites.png';
$_3_miniBottle_2000-x: 1070px;
$_3_miniBottle_2000-y: 684px;
$_3_miniBottle_2000-offset-x: -1070px;
$_3_miniBottle_2000-offset-y: -684px;
$_3_miniBottle_2000-width: 163px;
$_3_miniBottle_2000-height: 186px;
$_3_miniBottle_2000-total-width: 1386px;
$_3_miniBottle_2000-total-height: 1335px;
$_3_miniBottle_2000-image: '../../../img/2000/sprites.png';
$_3_miniBottle_2000: 1070px 684px -1070px -684px 163px 186px 1386px 1335px '../../../img/2000/sprites.png';
$_5_appl1_2000-x: 962px;
$_5_appl1_2000-y: 960px;
$_5_appl1_2000-offset-x: -962px;
$_5_appl1_2000-offset-y: -960px;
$_5_appl1_2000-width: 143px;
$_5_appl1_2000-height: 104px;
$_5_appl1_2000-total-width: 1386px;
$_5_appl1_2000-total-height: 1335px;
$_5_appl1_2000-image: '../../../img/2000/sprites.png';
$_5_appl1_2000: 962px 960px -962px -960px 143px 104px 1386px 1335px '../../../img/2000/sprites.png';
$_5_appl2_2000-x: 1263px;
$_5_appl2_2000-y: 88px;
$_5_appl2_2000-offset-x: -1263px;
$_5_appl2_2000-offset-y: -88px;
$_5_appl2_2000-width: 96px;
$_5_appl2_2000-height: 84px;
$_5_appl2_2000-total-width: 1386px;
$_5_appl2_2000-total-height: 1335px;
$_5_appl2_2000-image: '../../../img/2000/sprites.png';
$_5_appl2_2000: 1263px 88px -1263px -88px 96px 84px 1386px 1335px '../../../img/2000/sprites.png';
$_5_appl3_2000-x: 1263px;
$_5_appl3_2000-y: 334px;
$_5_appl3_2000-offset-x: -1263px;
$_5_appl3_2000-offset-y: -334px;
$_5_appl3_2000-width: 101px;
$_5_appl3_2000-height: 78px;
$_5_appl3_2000-total-width: 1386px;
$_5_appl3_2000-total-height: 1335px;
$_5_appl3_2000-image: '../../../img/2000/sprites.png';
$_5_appl3_2000: 1263px 334px -1263px -334px 101px 78px 1386px 1335px '../../../img/2000/sprites.png';
$_5_appl4_2000-x: 330px;
$_5_appl4_2000-y: 1152px;
$_5_appl4_2000-offset-x: -330px;
$_5_appl4_2000-offset-y: -1152px;
$_5_appl4_2000-width: 149px;
$_5_appl4_2000-height: 103px;
$_5_appl4_2000-total-width: 1386px;
$_5_appl4_2000-total-height: 1335px;
$_5_appl4_2000-image: '../../../img/2000/sprites.png';
$_5_appl4_2000: 330px 1152px -330px -1152px 149px 103px 1386px 1335px '../../../img/2000/sprites.png';
$_5_appl5_2000-x: 1110px;
$_5_appl5_2000-y: 1152px;
$_5_appl5_2000-offset-x: -1110px;
$_5_appl5_2000-offset-y: -1152px;
$_5_appl5_2000-width: 123px;
$_5_appl5_2000-height: 88px;
$_5_appl5_2000-total-width: 1386px;
$_5_appl5_2000-total-height: 1335px;
$_5_appl5_2000-image: '../../../img/2000/sprites.png';
$_5_appl5_2000: 1110px 1152px -1110px -1152px 123px 88px 1386px 1335px '../../../img/2000/sprites.png';
$_5_appl6_2000-x: 479px;
$_5_appl6_2000-y: 1152px;
$_5_appl6_2000-offset-x: -479px;
$_5_appl6_2000-offset-y: -1152px;
$_5_appl6_2000-width: 97px;
$_5_appl6_2000-height: 100px;
$_5_appl6_2000-total-width: 1386px;
$_5_appl6_2000-total-height: 1335px;
$_5_appl6_2000-image: '../../../img/2000/sprites.png';
$_5_appl6_2000: 479px 1152px -479px -1152px 97px 100px 1386px 1335px '../../../img/2000/sprites.png';
$_5_back_2000-x: 830px;
$_5_back_2000-y: 1152px;
$_5_back_2000-offset-x: -830px;
$_5_back_2000-offset-y: -1152px;
$_5_back_2000-width: 280px;
$_5_back_2000-height: 89px;
$_5_back_2000-total-width: 1386px;
$_5_back_2000-total-height: 1335px;
$_5_back_2000-image: '../../../img/2000/sprites.png';
$_5_back_2000: 830px 1152px -830px -1152px 280px 89px 1386px 1335px '../../../img/2000/sprites.png';
$_5_board_2000-x: 576px;
$_5_board_2000-y: 1152px;
$_5_board_2000-offset-x: -576px;
$_5_board_2000-offset-y: -1152px;
$_5_board_2000-width: 254px;
$_5_board_2000-height: 95px;
$_5_board_2000-total-width: 1386px;
$_5_board_2000-total-height: 1335px;
$_5_board_2000-image: '../../../img/2000/sprites.png';
$_5_board_2000: 576px 1152px -576px -1152px 254px 95px 1386px 1335px '../../../img/2000/sprites.png';
$_5_product1_2000-x: 865px;
$_5_product1_2000-y: 237px;
$_5_product1_2000-offset-x: -865px;
$_5_product1_2000-offset-y: -237px;
$_5_product1_2000-width: 261px;
$_5_product1_2000-height: 220px;
$_5_product1_2000-total-width: 1386px;
$_5_product1_2000-total-height: 1335px;
$_5_product1_2000-image: '../../../img/2000/sprites.png';
$_5_product1_2000: 865px 237px -865px -237px 261px 220px 1386px 1335px '../../../img/2000/sprites.png';
$_5_product2_2000-x: 1130px;
$_5_product2_2000-y: 464px;
$_5_product2_2000-offset-x: -1130px;
$_5_product2_2000-offset-y: -464px;
$_5_product2_2000-width: 117px;
$_5_product2_2000-height: 196px;
$_5_product2_2000-total-width: 1386px;
$_5_product2_2000-total-height: 1335px;
$_5_product2_2000-image: '../../../img/2000/sprites.png';
$_5_product2_2000: 1130px 464px -1130px -464px 117px 196px 1386px 1335px '../../../img/2000/sprites.png';
$_5_product3_2000-x: 934px;
$_5_product3_2000-y: 684px;
$_5_product3_2000-offset-x: -934px;
$_5_product3_2000-offset-y: -684px;
$_5_product3_2000-width: 136px;
$_5_product3_2000-height: 205px;
$_5_product3_2000-total-width: 1386px;
$_5_product3_2000-total-height: 1335px;
$_5_product3_2000-image: '../../../img/2000/sprites.png';
$_5_product3_2000: 934px 684px -934px -684px 136px 205px 1386px 1335px '../../../img/2000/sprites.png';
$_5_product4_2000-x: 722px;
$_5_product4_2000-y: 684px;
$_5_product4_2000-offset-x: -722px;
$_5_product4_2000-offset-y: -684px;
$_5_product4_2000-width: 212px;
$_5_product4_2000-height: 215px;
$_5_product4_2000-total-width: 1386px;
$_5_product4_2000-total-height: 1335px;
$_5_product4_2000-image: '../../../img/2000/sprites.png';
$_5_product4_2000: 722px 684px -722px -684px 212px 215px 1386px 1335px '../../../img/2000/sprites.png';
$book_2000-x: 1126px;
$book_2000-y: 237px;
$book_2000-offset-x: -1126px;
$book_2000-offset-y: -237px;
$book_2000-width: 71px;
$book_2000-height: 208px;
$book_2000-total-width: 1386px;
$book_2000-total-height: 1335px;
$book_2000-image: '../../../img/2000/sprites.png';
$book_2000: 1126px 237px -1126px -237px 71px 208px 1386px 1335px '../../../img/2000/sprites.png';
$close_2000-x: 1263px;
$close_2000-y: 547px;
$close_2000-offset-x: -1263px;
$close_2000-offset-y: -547px;
$close_2000-width: 62px;
$close_2000-height: 61px;
$close_2000-total-width: 1386px;
$close_2000-total-height: 1335px;
$close_2000-image: '../../../img/2000/sprites.png';
$close_2000: 1263px 547px -1263px -547px 62px 61px 1386px 1335px '../../../img/2000/sprites.png';
$drinkSens_2000-x: 1263px;
$drinkSens_2000-y: 412px;
$drinkSens_2000-offset-x: -1263px;
$drinkSens_2000-offset-y: -412px;
$drinkSens_2000-width: 75px;
$drinkSens_2000-height: 74px;
$drinkSens_2000-total-width: 1386px;
$drinkSens_2000-total-height: 1335px;
$drinkSens_2000-image: '../../../img/2000/sprites.png';
$drinkSens_2000: 1263px 412px -1263px -412px 75px 74px 1386px 1335px '../../../img/2000/sprites.png';
$fb_2000-x: 1263px;
$fb_2000-y: 486px;
$fb_2000-offset-x: -1263px;
$fb_2000-offset-y: -486px;
$fb_2000-width: 62px;
$fb_2000-height: 61px;
$fb_2000-total-width: 1386px;
$fb_2000-total-height: 1335px;
$fb_2000-image: '../../../img/2000/sprites.png';
$fb_2000: 1263px 486px -1263px -486px 62px 61px 1386px 1335px '../../../img/2000/sprites.png';
$logo_2000-x: 196px;
$logo_2000-y: 960px;
$logo_2000-offset-x: -196px;
$logo_2000-offset-y: -960px;
$logo_2000-width: 188px;
$logo_2000-height: 184px;
$logo_2000-total-width: 1386px;
$logo_2000-total-height: 1335px;
$logo_2000-image: '../../../img/2000/sprites.png';
$logo_2000: 196px 960px -196px -960px 188px 184px 1386px 1335px '../../../img/2000/sprites.png';
$logoBorder_2000-x: 0px;
$logoBorder_2000-y: 960px;
$logoBorder_2000-offset-x: 0px;
$logoBorder_2000-offset-y: -960px;
$logoBorder_2000-width: 196px;
$logoBorder_2000-height: 192px;
$logoBorder_2000-total-width: 1386px;
$logoBorder_2000-total-height: 1335px;
$logoBorder_2000-image: '../../../img/2000/sprites.png';
$logoBorder_2000: 0px 960px 0px -960px 196px 192px 1386px 1335px '../../../img/2000/sprites.png';
$nwProductsLogo_2000-x: 1263px;
$nwProductsLogo_2000-y: 730px;
$nwProductsLogo_2000-offset-x: -1263px;
$nwProductsLogo_2000-offset-y: -730px;
$nwProductsLogo_2000-width: 112px;
$nwProductsLogo_2000-height: 44px;
$nwProductsLogo_2000-total-width: 1386px;
$nwProductsLogo_2000-total-height: 1335px;
$nwProductsLogo_2000-image: '../../../img/2000/sprites.png';
$nwProductsLogo_2000: 1263px 730px -1263px -730px 112px 44px 1386px 1335px '../../../img/2000/sprites.png';
$nwProductsLogoH_2000-x: 1263px;
$nwProductsLogoH_2000-y: 774px;
$nwProductsLogoH_2000-offset-x: -1263px;
$nwProductsLogoH_2000-offset-y: -774px;
$nwProductsLogoH_2000-width: 120px;
$nwProductsLogoH_2000-height: 44px;
$nwProductsLogoH_2000-total-width: 1386px;
$nwProductsLogoH_2000-total-height: 1335px;
$nwProductsLogoH_2000-image: '../../../img/2000/sprites.png';
$nwProductsLogoH_2000: 1263px 774px -1263px -774px 120px 44px 1386px 1335px '../../../img/2000/sprites.png';
$vk_2000-x: 1263px;
$vk_2000-y: 608px;
$vk_2000-offset-x: -1263px;
$vk_2000-offset-y: -608px;
$vk_2000-width: 62px;
$vk_2000-height: 61px;
$vk_2000-total-width: 1386px;
$vk_2000-total-height: 1335px;
$vk_2000-image: '../../../img/2000/sprites.png';
$vk_2000: 1263px 608px -1263px -608px 62px 61px 1386px 1335px '../../../img/2000/sprites.png';
$yt_2000-x: 1263px;
$yt_2000-y: 669px;
$yt_2000-offset-x: -1263px;
$yt_2000-offset-y: -669px;
$yt_2000-width: 62px;
$yt_2000-height: 61px;
$yt_2000-total-width: 1386px;
$yt_2000-total-height: 1335px;
$yt_2000-image: '../../../img/2000/sprites.png';
$yt_2000: 1263px 669px -1263px -669px 62px 61px 1386px 1335px '../../../img/2000/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
