/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$_1_appl_1280-x: 211px;
$_1_appl_1280-y: 737px;
$_1_appl_1280-offset-x: -211px;
$_1_appl_1280-offset-y: -737px;
$_1_appl_1280-width: 95px;
$_1_appl_1280-height: 66px;
$_1_appl_1280-total-width: 887px;
$_1_appl_1280-total-height: 854px;
$_1_appl_1280-image: '../../../img/1280/sprites.png';
$_1_appl_1280: 211px 737px -211px -737px 95px 66px 887px 854px '../../../img/1280/sprites.png';
$_1_appl2_1280-x: 614px;
$_1_appl2_1280-y: 614px;
$_1_appl2_1280-offset-x: -614px;
$_1_appl2_1280-offset-y: -614px;
$_1_appl2_1280-width: 88px;
$_1_appl2_1280-height: 67px;
$_1_appl2_1280-total-width: 887px;
$_1_appl2_1280-total-height: 854px;
$_1_appl2_1280-image: '../../../img/1280/sprites.png';
$_1_appl2_1280: 614px 614px -614px -614px 88px 67px 887px 854px '../../../img/1280/sprites.png';
$_1_appl3_1280-x: 808px;
$_1_appl3_1280-y: 0px;
$_1_appl3_1280-offset-x: -808px;
$_1_appl3_1280-offset-y: 0px;
$_1_appl3_1280-width: 79px;
$_1_appl3_1280-height: 56px;
$_1_appl3_1280-total-width: 887px;
$_1_appl3_1280-total-height: 854px;
$_1_appl3_1280-image: '../../../img/1280/sprites.png';
$_1_appl3_1280: 808px 0px -808px 0px 79px 56px 887px 854px '../../../img/1280/sprites.png';
$_1_appl4_1280-x: 808px;
$_1_appl4_1280-y: 214px;
$_1_appl4_1280-offset-x: -808px;
$_1_appl4_1280-offset-y: -214px;
$_1_appl4_1280-width: 62px;
$_1_appl4_1280-height: 50px;
$_1_appl4_1280-total-width: 887px;
$_1_appl4_1280-total-height: 854px;
$_1_appl4_1280-image: '../../../img/1280/sprites.png';
$_1_appl4_1280: 808px 214px -808px -214px 62px 50px 887px 854px '../../../img/1280/sprites.png';
$_1_appl_half_1280-x: 808px;
$_1_appl_half_1280-y: 110px;
$_1_appl_half_1280-offset-x: -808px;
$_1_appl_half_1280-offset-y: -110px;
$_1_appl_half_1280-width: 61px;
$_1_appl_half_1280-height: 54px;
$_1_appl_half_1280-total-width: 887px;
$_1_appl_half_1280-total-height: 854px;
$_1_appl_half_1280-image: '../../../img/1280/sprites.png';
$_1_appl_half_1280: 808px 110px -808px -110px 61px 54px 887px 854px '../../../img/1280/sprites.png';
$_1_board_1280-x: 462px;
$_1_board_1280-y: 0px;
$_1_board_1280-offset-x: -462px;
$_1_board_1280-offset-y: 0px;
$_1_board_1280-width: 346px;
$_1_board_1280-height: 152px;
$_1_board_1280-total-width: 887px;
$_1_board_1280-total-height: 854px;
$_1_board_1280-image: '../../../img/1280/sprites.png';
$_1_board_1280: 462px 0px -462px 0px 346px 152px 887px 854px '../../../img/1280/sprites.png';
$_1_miniBottle_1280-x: 462px;
$_1_miniBottle_1280-y: 152px;
$_1_miniBottle_1280-offset-x: -462px;
$_1_miniBottle_1280-offset-y: -152px;
$_1_miniBottle_1280-width: 92px;
$_1_miniBottle_1280-height: 145px;
$_1_miniBottle_1280-total-width: 887px;
$_1_miniBottle_1280-total-height: 854px;
$_1_miniBottle_1280-image: '../../../img/1280/sprites.png';
$_1_miniBottle_1280: 462px 152px -462px -152px 92px 145px 887px 854px '../../../img/1280/sprites.png';
$_1_notebook_1280-x: 462px;
$_1_notebook_1280-y: 297px;
$_1_notebook_1280-offset-x: -462px;
$_1_notebook_1280-offset-y: -297px;
$_1_notebook_1280-width: 261px;
$_1_notebook_1280-height: 141px;
$_1_notebook_1280-total-width: 887px;
$_1_notebook_1280-total-height: 854px;
$_1_notebook_1280-image: '../../../img/1280/sprites.png';
$_1_notebook_1280: 462px 297px -462px -297px 261px 141px 887px 854px '../../../img/1280/sprites.png';
$_2_appl_1280-x: 325px;
$_2_appl_1280-y: 614px;
$_2_appl_1280-offset-x: -325px;
$_2_appl_1280-offset-y: -614px;
$_2_appl_1280-width: 83px;
$_2_appl_1280-height: 95px;
$_2_appl_1280-total-width: 887px;
$_2_appl_1280-total-height: 854px;
$_2_appl_1280-image: '../../../img/1280/sprites.png';
$_2_appl_1280: 325px 614px -325px -614px 83px 95px 887px 854px '../../../img/1280/sprites.png';
$_2_appl2_1280-x: 542px;
$_2_appl2_1280-y: 614px;
$_2_appl2_1280-offset-x: -542px;
$_2_appl2_1280-offset-y: -614px;
$_2_appl2_1280-width: 72px;
$_2_appl2_1280-height: 84px;
$_2_appl2_1280-total-width: 887px;
$_2_appl2_1280-total-height: 854px;
$_2_appl2_1280-image: '../../../img/1280/sprites.png';
$_2_appl2_1280: 542px 614px -542px -614px 72px 84px 887px 854px '../../../img/1280/sprites.png';
$_2_appl_half_1280-x: 245px;
$_2_appl_half_1280-y: 614px;
$_2_appl_half_1280-offset-x: -245px;
$_2_appl_half_1280-offset-y: -614px;
$_2_appl_half_1280-width: 80px;
$_2_appl_half_1280-height: 105px;
$_2_appl_half_1280-total-width: 887px;
$_2_appl_half_1280-total-height: 854px;
$_2_appl_half_1280-image: '../../../img/1280/sprites.png';
$_2_appl_half_1280: 245px 614px -245px -614px 80px 105px 887px 854px '../../../img/1280/sprites.png';
$_2_boardMen_1280-x: 0px;
$_2_boardMen_1280-y: 0px;
$_2_boardMen_1280-offset-x: 0px;
$_2_boardMen_1280-offset-y: 0px;
$_2_boardMen_1280-width: 462px;
$_2_boardMen_1280-height: 614px;
$_2_boardMen_1280-total-width: 887px;
$_2_boardMen_1280-total-height: 854px;
$_2_boardMen_1280-image: '../../../img/1280/sprites.png';
$_2_boardMen_1280: 0px 0px 0px 0px 462px 614px 887px 854px '../../../img/1280/sprites.png';
$_2_miniBottle_1280-x: 408px;
$_2_miniBottle_1280-y: 614px;
$_2_miniBottle_1280-offset-x: -408px;
$_2_miniBottle_1280-offset-y: -614px;
$_2_miniBottle_1280-width: 134px;
$_2_miniBottle_1280-height: 88px;
$_2_miniBottle_1280-total-width: 887px;
$_2_miniBottle_1280-total-height: 854px;
$_2_miniBottle_1280-image: '../../../img/1280/sprites.png';
$_2_miniBottle_1280: 408px 614px -408px -614px 134px 88px 887px 854px '../../../img/1280/sprites.png';
$_3_appl1_1280-x: 95px;
$_3_appl1_1280-y: 737px;
$_3_appl1_1280-offset-x: -95px;
$_3_appl1_1280-offset-y: -737px;
$_3_appl1_1280-width: 116px;
$_3_appl1_1280-height: 66px;
$_3_appl1_1280-total-width: 887px;
$_3_appl1_1280-total-height: 854px;
$_3_appl1_1280-image: '../../../img/1280/sprites.png';
$_3_appl1_1280: 95px 737px -95px -737px 116px 66px 887px 854px '../../../img/1280/sprites.png';
$_3_appl2_1280-x: 93px;
$_3_appl2_1280-y: 803px;
$_3_appl2_1280-offset-x: -93px;
$_3_appl2_1280-offset-y: -803px;
$_3_appl2_1280-width: 85px;
$_3_appl2_1280-height: 49px;
$_3_appl2_1280-total-width: 887px;
$_3_appl2_1280-total-height: 854px;
$_3_appl2_1280-image: '../../../img/1280/sprites.png';
$_3_appl2_1280: 93px 803px -93px -803px 85px 49px 887px 854px '../../../img/1280/sprites.png';
$_3_appl3_1280-x: 0px;
$_3_appl3_1280-y: 803px;
$_3_appl3_1280-offset-x: 0px;
$_3_appl3_1280-offset-y: -803px;
$_3_appl3_1280-width: 93px;
$_3_appl3_1280-height: 51px;
$_3_appl3_1280-total-width: 887px;
$_3_appl3_1280-total-height: 854px;
$_3_appl3_1280-image: '../../../img/1280/sprites.png';
$_3_appl3_1280: 0px 803px 0px -803px 93px 51px 887px 854px '../../../img/1280/sprites.png';
$_3_miniBottle_1280-x: 685px;
$_3_miniBottle_1280-y: 438px;
$_3_miniBottle_1280-offset-x: -685px;
$_3_miniBottle_1280-offset-y: -438px;
$_3_miniBottle_1280-width: 104px;
$_3_miniBottle_1280-height: 119px;
$_3_miniBottle_1280-total-width: 887px;
$_3_miniBottle_1280-total-height: 854px;
$_3_miniBottle_1280-image: '../../../img/1280/sprites.png';
$_3_miniBottle_1280: 685px 438px -685px -438px 104px 119px 887px 854px '../../../img/1280/sprites.png';
$_5_appl1_1280-x: 702px;
$_5_appl1_1280-y: 614px;
$_5_appl1_1280-offset-x: -702px;
$_5_appl1_1280-offset-y: -614px;
$_5_appl1_1280-width: 92px;
$_5_appl1_1280-height: 67px;
$_5_appl1_1280-total-width: 887px;
$_5_appl1_1280-total-height: 854px;
$_5_appl1_1280-image: '../../../img/1280/sprites.png';
$_5_appl1_1280: 702px 614px -702px -614px 92px 67px 887px 854px '../../../img/1280/sprites.png';
$_5_appl2_1280-x: 808px;
$_5_appl2_1280-y: 56px;
$_5_appl2_1280-offset-x: -808px;
$_5_appl2_1280-offset-y: -56px;
$_5_appl2_1280-width: 61px;
$_5_appl2_1280-height: 54px;
$_5_appl2_1280-total-width: 887px;
$_5_appl2_1280-total-height: 854px;
$_5_appl2_1280-image: '../../../img/1280/sprites.png';
$_5_appl2_1280: 808px 56px -808px -56px 61px 54px 887px 854px '../../../img/1280/sprites.png';
$_5_appl3_1280-x: 808px;
$_5_appl3_1280-y: 164px;
$_5_appl3_1280-offset-x: -808px;
$_5_appl3_1280-offset-y: -164px;
$_5_appl3_1280-width: 65px;
$_5_appl3_1280-height: 50px;
$_5_appl3_1280-total-width: 887px;
$_5_appl3_1280-total-height: 854px;
$_5_appl3_1280-image: '../../../img/1280/sprites.png';
$_5_appl3_1280: 808px 164px -808px -164px 65px 50px 887px 854px '../../../img/1280/sprites.png';
$_5_appl4_1280-x: 0px;
$_5_appl4_1280-y: 737px;
$_5_appl4_1280-offset-x: 0px;
$_5_appl4_1280-offset-y: -737px;
$_5_appl4_1280-width: 95px;
$_5_appl4_1280-height: 66px;
$_5_appl4_1280-total-width: 887px;
$_5_appl4_1280-total-height: 854px;
$_5_appl4_1280-image: '../../../img/1280/sprites.png';
$_5_appl4_1280: 0px 737px 0px -737px 95px 66px 887px 854px '../../../img/1280/sprites.png';
$_5_appl5_1280-x: 710px;
$_5_appl5_1280-y: 737px;
$_5_appl5_1280-offset-x: -710px;
$_5_appl5_1280-offset-y: -737px;
$_5_appl5_1280-width: 79px;
$_5_appl5_1280-height: 56px;
$_5_appl5_1280-total-width: 887px;
$_5_appl5_1280-total-height: 854px;
$_5_appl5_1280-image: '../../../img/1280/sprites.png';
$_5_appl5_1280: 710px 737px -710px -737px 79px 56px 887px 854px '../../../img/1280/sprites.png';
$_5_appl6_1280-x: 306px;
$_5_appl6_1280-y: 737px;
$_5_appl6_1280-offset-x: -306px;
$_5_appl6_1280-offset-y: -737px;
$_5_appl6_1280-width: 62px;
$_5_appl6_1280-height: 64px;
$_5_appl6_1280-total-width: 887px;
$_5_appl6_1280-total-height: 854px;
$_5_appl6_1280-image: '../../../img/1280/sprites.png';
$_5_appl6_1280: 306px 737px -306px -737px 62px 64px 887px 854px '../../../img/1280/sprites.png';
$_5_back_1280-x: 531px;
$_5_back_1280-y: 737px;
$_5_back_1280-offset-x: -531px;
$_5_back_1280-offset-y: -737px;
$_5_back_1280-width: 179px;
$_5_back_1280-height: 57px;
$_5_back_1280-total-width: 887px;
$_5_back_1280-total-height: 854px;
$_5_back_1280-image: '../../../img/1280/sprites.png';
$_5_back_1280: 531px 737px -531px -737px 179px 57px 887px 854px '../../../img/1280/sprites.png';
$_5_board_1280-x: 368px;
$_5_board_1280-y: 737px;
$_5_board_1280-offset-x: -368px;
$_5_board_1280-offset-y: -737px;
$_5_board_1280-width: 163px;
$_5_board_1280-height: 61px;
$_5_board_1280-total-width: 887px;
$_5_board_1280-total-height: 854px;
$_5_board_1280-image: '../../../img/1280/sprites.png';
$_5_board_1280: 368px 737px -368px -737px 163px 61px 887px 854px '../../../img/1280/sprites.png';
$_5_product1_1280-x: 554px;
$_5_product1_1280-y: 152px;
$_5_product1_1280-offset-x: -554px;
$_5_product1_1280-offset-y: -152px;
$_5_product1_1280-width: 167px;
$_5_product1_1280-height: 141px;
$_5_product1_1280-total-width: 887px;
$_5_product1_1280-total-height: 854px;
$_5_product1_1280-image: '../../../img/1280/sprites.png';
$_5_product1_1280: 554px 152px -554px -152px 167px 141px 887px 854px '../../../img/1280/sprites.png';
$_5_product2_1280-x: 723px;
$_5_product2_1280-y: 297px;
$_5_product2_1280-offset-x: -723px;
$_5_product2_1280-offset-y: -297px;
$_5_product2_1280-width: 75px;
$_5_product2_1280-height: 125px;
$_5_product2_1280-total-width: 887px;
$_5_product2_1280-total-height: 854px;
$_5_product2_1280-image: '../../../img/1280/sprites.png';
$_5_product2_1280: 723px 297px -723px -297px 75px 125px 887px 854px '../../../img/1280/sprites.png';
$_5_product3_1280-x: 598px;
$_5_product3_1280-y: 438px;
$_5_product3_1280-offset-x: -598px;
$_5_product3_1280-offset-y: -438px;
$_5_product3_1280-width: 87px;
$_5_product3_1280-height: 131px;
$_5_product3_1280-total-width: 887px;
$_5_product3_1280-total-height: 854px;
$_5_product3_1280-image: '../../../img/1280/sprites.png';
$_5_product3_1280: 598px 438px -598px -438px 87px 131px 887px 854px '../../../img/1280/sprites.png';
$_5_product4_1280-x: 462px;
$_5_product4_1280-y: 438px;
$_5_product4_1280-offset-x: -462px;
$_5_product4_1280-offset-y: -438px;
$_5_product4_1280-width: 136px;
$_5_product4_1280-height: 138px;
$_5_product4_1280-total-width: 887px;
$_5_product4_1280-total-height: 854px;
$_5_product4_1280-image: '../../../img/1280/sprites.png';
$_5_product4_1280: 462px 438px -462px -438px 136px 138px 887px 854px '../../../img/1280/sprites.png';
$book_1280-x: 721px;
$book_1280-y: 152px;
$book_1280-offset-x: -721px;
$book_1280-offset-y: -152px;
$book_1280-width: 45px;
$book_1280-height: 133px;
$book_1280-total-width: 887px;
$book_1280-total-height: 854px;
$book_1280-image: '../../../img/1280/sprites.png';
$book_1280: 721px 152px -721px -152px 45px 133px 887px 854px '../../../img/1280/sprites.png';
$close_1280-x: 808px;
$close_1280-y: 311px;
$close_1280-offset-x: -808px;
$close_1280-offset-y: -311px;
$close_1280-width: 40px;
$close_1280-height: 39px;
$close_1280-total-width: 887px;
$close_1280-total-height: 854px;
$close_1280-image: '../../../img/1280/sprites.png';
$close_1280: 808px 311px -808px -311px 40px 39px 887px 854px '../../../img/1280/sprites.png';
$drinkSens_1280-x: 808px;
$drinkSens_1280-y: 264px;
$drinkSens_1280-offset-x: -808px;
$drinkSens_1280-offset-y: -264px;
$drinkSens_1280-width: 48px;
$drinkSens_1280-height: 47px;
$drinkSens_1280-total-width: 887px;
$drinkSens_1280-total-height: 854px;
$drinkSens_1280-image: '../../../img/1280/sprites.png';
$drinkSens_1280: 808px 264px -808px -264px 48px 47px 887px 854px '../../../img/1280/sprites.png';
$fb_1280-x: 869px;
$fb_1280-y: 56px;
$fb_1280-offset-x: -869px;
$fb_1280-offset-y: -56px;
$fb_1280-width: 11px;
$fb_1280-height: 24px;
$fb_1280-total-width: 887px;
$fb_1280-total-height: 854px;
$fb_1280-image: '../../../img/1280/sprites.png';
$fb_1280: 869px 56px -869px -56px 11px 24px 887px 854px '../../../img/1280/sprites.png';
$logo_1280-x: 125px;
$logo_1280-y: 614px;
$logo_1280-offset-x: -125px;
$logo_1280-offset-y: -614px;
$logo_1280-width: 120px;
$logo_1280-height: 118px;
$logo_1280-total-width: 887px;
$logo_1280-total-height: 854px;
$logo_1280-image: '../../../img/1280/sprites.png';
$logo_1280: 125px 614px -125px -614px 120px 118px 887px 854px '../../../img/1280/sprites.png';
$logoBorder_1280-x: 0px;
$logoBorder_1280-y: 614px;
$logoBorder_1280-offset-x: 0px;
$logoBorder_1280-offset-y: -614px;
$logoBorder_1280-width: 125px;
$logoBorder_1280-height: 123px;
$logoBorder_1280-total-width: 887px;
$logoBorder_1280-total-height: 854px;
$logoBorder_1280-image: '../../../img/1280/sprites.png';
$logoBorder_1280: 0px 614px 0px -614px 125px 123px 887px 854px '../../../img/1280/sprites.png';
$nwProductsLogo_1280-x: 808px;
$nwProductsLogo_1280-y: 389px;
$nwProductsLogo_1280-offset-x: -808px;
$nwProductsLogo_1280-offset-y: -389px;
$nwProductsLogo_1280-width: 72px;
$nwProductsLogo_1280-height: 28px;
$nwProductsLogo_1280-total-width: 887px;
$nwProductsLogo_1280-total-height: 854px;
$nwProductsLogo_1280-image: '../../../img/1280/sprites.png';
$nwProductsLogo_1280: 808px 389px -808px -389px 72px 28px 887px 854px '../../../img/1280/sprites.png';
$nwProductsLogoH_1280-x: 808px;
$nwProductsLogoH_1280-y: 417px;
$nwProductsLogoH_1280-offset-x: -808px;
$nwProductsLogoH_1280-offset-y: -417px;
$nwProductsLogoH_1280-width: 77px;
$nwProductsLogoH_1280-height: 28px;
$nwProductsLogoH_1280-total-width: 887px;
$nwProductsLogoH_1280-total-height: 854px;
$nwProductsLogoH_1280-image: '../../../img/1280/sprites.png';
$nwProductsLogoH_1280: 808px 417px -808px -417px 77px 28px 887px 854px '../../../img/1280/sprites.png';
$soc-border_1280-x: 808px;
$soc-border_1280-y: 350px;
$soc-border_1280-offset-x: -808px;
$soc-border_1280-offset-y: -350px;
$soc-border_1280-width: 40px;
$soc-border_1280-height: 39px;
$soc-border_1280-total-width: 887px;
$soc-border_1280-total-height: 854px;
$soc-border_1280-image: '../../../img/1280/sprites.png';
$soc-border_1280: 808px 350px -808px -350px 40px 39px 887px 854px '../../../img/1280/sprites.png';
$vk_1280-x: 869px;
$vk_1280-y: 110px;
$vk_1280-offset-x: -869px;
$vk_1280-offset-y: -110px;
$vk_1280-width: 15px;
$vk_1280-height: 16px;
$vk_1280-total-width: 887px;
$vk_1280-total-height: 854px;
$vk_1280-image: '../../../img/1280/sprites.png';
$vk_1280: 869px 110px -869px -110px 15px 16px 887px 854px '../../../img/1280/sprites.png';
$yt_1280-x: 869px;
$yt_1280-y: 80px;
$yt_1280-offset-x: -869px;
$yt_1280-offset-y: -80px;
$yt_1280-width: 18px;
$yt_1280-height: 22px;
$yt_1280-total-width: 887px;
$yt_1280-total-height: 854px;
$yt_1280-image: '../../../img/1280/sprites.png';
$yt_1280: 869px 80px -869px -80px 18px 22px 887px 854px '../../../img/1280/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
