/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$_1_appl-x: 0px;
$_1_appl-y: 1270px;
$_1_appl-offset-x: 0px;
$_1_appl-offset-y: -1270px;
$_1_appl-width: 149px;
$_1_appl-height: 103px;
$_1_appl-total-width: 722px;
$_1_appl-total-height: 5592px;
$_1_appl-image: '../../img/2000/sprites.png';
$_1_appl: 0px 1270px 0px -1270px 149px 103px 722px 5592px '../../img/2000/sprites.png';
$_1_appl2-x: 0px;
$_1_appl2-y: 1484px;
$_1_appl2-offset-x: 0px;
$_1_appl2-offset-y: -1484px;
$_1_appl2-width: 138px;
$_1_appl2-height: 104px;
$_1_appl2-total-width: 722px;
$_1_appl2-total-height: 5592px;
$_1_appl2-image: '../../img/2000/sprites.png';
$_1_appl2: 0px 1484px 0px -1484px 138px 104px 722px 5592px '../../img/2000/sprites.png';
$_1_appl3-x: 0px;
$_1_appl3-y: 775px;
$_1_appl3-offset-x: 0px;
$_1_appl3-offset-y: -775px;
$_1_appl3-width: 123px;
$_1_appl3-height: 88px;
$_1_appl3-total-width: 722px;
$_1_appl3-total-height: 5592px;
$_1_appl3-image: '../../img/2000/sprites.png';
$_1_appl3: 0px 775px 0px -775px 123px 88px 722px 5592px '../../img/2000/sprites.png';
$_1_appl4-x: 0px;
$_1_appl4-y: 259px;
$_1_appl4-offset-x: 0px;
$_1_appl4-offset-y: -259px;
$_1_appl4-width: 97px;
$_1_appl4-height: 78px;
$_1_appl4-total-width: 722px;
$_1_appl4-total-height: 5592px;
$_1_appl4-image: '../../img/2000/sprites.png';
$_1_appl4: 0px 259px 0px -259px 97px 78px 722px 5592px '../../img/2000/sprites.png';
$_1_appl_half-x: 0px;
$_1_appl_half-y: 507px;
$_1_appl_half-offset-x: 0px;
$_1_appl_half-offset-y: -507px;
$_1_appl_half-width: 96px;
$_1_appl_half-height: 84px;
$_1_appl_half-total-width: 722px;
$_1_appl_half-total-height: 5592px;
$_1_appl_half-image: '../../img/2000/sprites.png';
$_1_appl_half: 0px 507px 0px -507px 96px 84px 722px 5592px '../../img/2000/sprites.png';
$_1_board-x: 0px;
$_1_board-y: 4391px;
$_1_board-offset-x: 0px;
$_1_board-offset-y: -4391px;
$_1_board-width: 541px;
$_1_board-height: 237px;
$_1_board-total-width: 722px;
$_1_board-total-height: 5592px;
$_1_board-image: '../../img/2000/sprites.png';
$_1_board: 0px 4391px 0px -4391px 541px 237px 722px 5592px '../../img/2000/sprites.png';
$_1_miniBottle-x: 0px;
$_1_miniBottle-y: 4160px;
$_1_miniBottle-offset-x: 0px;
$_1_miniBottle-offset-y: -4160px;
$_1_miniBottle-width: 143px;
$_1_miniBottle-height: 227px;
$_1_miniBottle-total-width: 722px;
$_1_miniBottle-total-height: 5592px;
$_1_miniBottle-image: '../../img/2000/sprites.png';
$_1_miniBottle: 0px 4160px 0px -4160px 143px 227px 722px 5592px '../../img/2000/sprites.png';
$_1_notebook-x: 0px;
$_1_notebook-y: 3936px;
$_1_notebook-offset-x: 0px;
$_1_notebook-offset-y: -3936px;
$_1_notebook-width: 408px;
$_1_notebook-height: 220px;
$_1_notebook-total-width: 722px;
$_1_notebook-total-height: 5592px;
$_1_notebook-image: '../../img/2000/sprites.png';
$_1_notebook: 0px 3936px 0px -3936px 408px 220px 722px 5592px '../../img/2000/sprites.png';
$_2_appl-x: 0px;
$_2_appl-y: 1978px;
$_2_appl-offset-x: 0px;
$_2_appl-offset-y: -1978px;
$_2_appl-width: 130px;
$_2_appl-height: 148px;
$_2_appl-total-width: 722px;
$_2_appl-total-height: 5592px;
$_2_appl-image: '../../img/2000/sprites.png';
$_2_appl: 0px 1978px 0px -1978px 130px 148px 722px 5592px '../../img/2000/sprites.png';
$_2_appl2-x: 0px;
$_2_appl2-y: 1700px;
$_2_appl2-offset-x: 0px;
$_2_appl2-offset-y: -1700px;
$_2_appl2-width: 113px;
$_2_appl2-height: 132px;
$_2_appl2-total-width: 722px;
$_2_appl2-total-height: 5592px;
$_2_appl2-image: '../../img/2000/sprites.png';
$_2_appl2: 0px 1700px 0px -1700px 113px 132px 722px 5592px '../../img/2000/sprites.png';
$_2_appl_half-x: 0px;
$_2_appl_half-y: 2130px;
$_2_appl_half-offset-x: 0px;
$_2_appl_half-offset-y: -2130px;
$_2_appl_half-width: 125px;
$_2_appl_half-height: 164px;
$_2_appl_half-total-width: 722px;
$_2_appl_half-total-height: 5592px;
$_2_appl_half-image: '../../img/2000/sprites.png';
$_2_appl_half: 0px 2130px 0px -2130px 125px 164px 722px 5592px '../../img/2000/sprites.png';
$_2_boardMen-x: 0px;
$_2_boardMen-y: 4632px;
$_2_boardMen-offset-x: 0px;
$_2_boardMen-offset-y: -4632px;
$_2_boardMen-width: 722px;
$_2_boardMen-height: 960px;
$_2_boardMen-total-width: 722px;
$_2_boardMen-total-height: 5592px;
$_2_boardMen-image: '../../img/2000/sprites.png';
$_2_boardMen: 0px 4632px 0px -4632px 722px 960px 722px 5592px '../../img/2000/sprites.png';
$_2_miniBottle-x: 0px;
$_2_miniBottle-y: 1836px;
$_2_miniBottle-offset-x: 0px;
$_2_miniBottle-offset-y: -1836px;
$_2_miniBottle-width: 210px;
$_2_miniBottle-height: 138px;
$_2_miniBottle-total-width: 722px;
$_2_miniBottle-total-height: 5592px;
$_2_miniBottle-image: '../../img/2000/sprites.png';
$_2_miniBottle: 0px 1836px 0px -1836px 210px 138px 722px 5592px '../../img/2000/sprites.png';
$_3_appl1-x: 0px;
$_3_appl1-y: 1377px;
$_3_appl1-offset-x: 0px;
$_3_appl1-offset-y: -1377px;
$_3_appl1-width: 181px;
$_3_appl1-height: 103px;
$_3_appl1-total-width: 722px;
$_3_appl1-total-height: 5592px;
$_3_appl1-image: '../../img/2000/sprites.png';
$_3_appl1: 0px 1377px 0px -1377px 181px 103px 722px 5592px '../../img/2000/sprites.png';
$_3_appl2-x: 0px;
$_3_appl2-y: 178px;
$_3_appl2-offset-x: 0px;
$_3_appl2-offset-y: -178px;
$_3_appl2-width: 133px;
$_3_appl2-height: 77px;
$_3_appl2-total-width: 722px;
$_3_appl2-total-height: 5592px;
$_3_appl2-image: '../../img/2000/sprites.png';
$_3_appl2: 0px 178px 0px -178px 133px 77px 722px 5592px '../../img/2000/sprites.png';
$_3_appl3-x: 0px;
$_3_appl3-y: 423px;
$_3_appl3-offset-x: 0px;
$_3_appl3-offset-y: -423px;
$_3_appl3-width: 146px;
$_3_appl3-height: 80px;
$_3_appl3-total-width: 722px;
$_3_appl3-total-height: 5592px;
$_3_appl3-image: '../../img/2000/sprites.png';
$_3_appl3: 0px 423px 0px -423px 146px 80px 722px 5592px '../../img/2000/sprites.png';
$_3_miniBottle-x: 0px;
$_3_miniBottle-y: 2486px;
$_3_miniBottle-offset-x: 0px;
$_3_miniBottle-offset-y: -2486px;
$_3_miniBottle-width: 163px;
$_3_miniBottle-height: 186px;
$_3_miniBottle-total-width: 722px;
$_3_miniBottle-total-height: 5592px;
$_3_miniBottle-image: '../../img/2000/sprites.png';
$_3_miniBottle: 0px 2486px 0px -2486px 163px 186px 722px 5592px '../../img/2000/sprites.png';
$_5_appl1-x: 0px;
$_5_appl1-y: 1592px;
$_5_appl1-offset-x: 0px;
$_5_appl1-offset-y: -1592px;
$_5_appl1-width: 143px;
$_5_appl1-height: 104px;
$_5_appl1-total-width: 722px;
$_5_appl1-total-height: 5592px;
$_5_appl1-image: '../../img/2000/sprites.png';
$_5_appl1: 0px 1592px 0px -1592px 143px 104px 722px 5592px '../../img/2000/sprites.png';
$_5_appl2-x: 0px;
$_5_appl2-y: 595px;
$_5_appl2-offset-x: 0px;
$_5_appl2-offset-y: -595px;
$_5_appl2-width: 96px;
$_5_appl2-height: 84px;
$_5_appl2-total-width: 722px;
$_5_appl2-total-height: 5592px;
$_5_appl2-image: '../../img/2000/sprites.png';
$_5_appl2: 0px 595px 0px -595px 96px 84px 722px 5592px '../../img/2000/sprites.png';
$_5_appl3-x: 0px;
$_5_appl3-y: 341px;
$_5_appl3-offset-x: 0px;
$_5_appl3-offset-y: -341px;
$_5_appl3-width: 101px;
$_5_appl3-height: 78px;
$_5_appl3-total-width: 722px;
$_5_appl3-total-height: 5592px;
$_5_appl3-image: '../../img/2000/sprites.png';
$_5_appl3: 0px 341px 0px -341px 101px 78px 722px 5592px '../../img/2000/sprites.png';
$_5_appl4-x: 0px;
$_5_appl4-y: 1163px;
$_5_appl4-offset-x: 0px;
$_5_appl4-offset-y: -1163px;
$_5_appl4-width: 149px;
$_5_appl4-height: 103px;
$_5_appl4-total-width: 722px;
$_5_appl4-total-height: 5592px;
$_5_appl4-image: '../../img/2000/sprites.png';
$_5_appl4: 0px 1163px 0px -1163px 149px 103px 722px 5592px '../../img/2000/sprites.png';
$_5_appl5-x: 0px;
$_5_appl5-y: 683px;
$_5_appl5-offset-x: 0px;
$_5_appl5-offset-y: -683px;
$_5_appl5-width: 123px;
$_5_appl5-height: 88px;
$_5_appl5-total-width: 722px;
$_5_appl5-total-height: 5592px;
$_5_appl5-image: '../../img/2000/sprites.png';
$_5_appl5: 0px 683px 0px -683px 123px 88px 722px 5592px '../../img/2000/sprites.png';
$_5_appl6-x: 0px;
$_5_appl6-y: 1059px;
$_5_appl6-offset-x: 0px;
$_5_appl6-offset-y: -1059px;
$_5_appl6-width: 97px;
$_5_appl6-height: 100px;
$_5_appl6-total-width: 722px;
$_5_appl6-total-height: 5592px;
$_5_appl6-image: '../../img/2000/sprites.png';
$_5_appl6: 0px 1059px 0px -1059px 97px 100px 722px 5592px '../../img/2000/sprites.png';
$_5_back-x: 0px;
$_5_back-y: 867px;
$_5_back-offset-x: 0px;
$_5_back-offset-y: -867px;
$_5_back-width: 280px;
$_5_back-height: 89px;
$_5_back-total-width: 722px;
$_5_back-total-height: 5592px;
$_5_back-image: '../../img/2000/sprites.png';
$_5_back: 0px 867px 0px -867px 280px 89px 722px 5592px '../../img/2000/sprites.png';
$_5_board-x: 0px;
$_5_board-y: 960px;
$_5_board-offset-x: 0px;
$_5_board-offset-y: -960px;
$_5_board-width: 254px;
$_5_board-height: 95px;
$_5_board-total-width: 722px;
$_5_board-total-height: 5592px;
$_5_board-image: '../../img/2000/sprites.png';
$_5_board: 0px 960px 0px -960px 254px 95px 722px 5592px '../../img/2000/sprites.png';
$_5_product1-x: 0px;
$_5_product1-y: 3712px;
$_5_product1-offset-x: 0px;
$_5_product1-offset-y: -3712px;
$_5_product1-width: 270px;
$_5_product1-height: 220px;
$_5_product1-total-width: 722px;
$_5_product1-total-height: 5592px;
$_5_product1-image: '../../img/2000/sprites.png';
$_5_product1: 0px 3712px 0px -3712px 270px 220px 722px 5592px '../../img/2000/sprites.png';
$_5_product2-x: 0px;
$_5_product2-y: 2872px;
$_5_product2-offset-x: 0px;
$_5_product2-offset-y: -2872px;
$_5_product2-width: 117px;
$_5_product2-height: 196px;
$_5_product2-total-width: 722px;
$_5_product2-total-height: 5592px;
$_5_product2-image: '../../img/2000/sprites.png';
$_5_product2: 0px 2872px 0px -2872px 117px 196px 722px 5592px '../../img/2000/sprites.png';
$_5_product3-x: 0px;
$_5_product3-y: 3072px;
$_5_product3-offset-x: 0px;
$_5_product3-offset-y: -3072px;
$_5_product3-width: 136px;
$_5_product3-height: 205px;
$_5_product3-total-width: 722px;
$_5_product3-total-height: 5592px;
$_5_product3-image: '../../img/2000/sprites.png';
$_5_product3: 0px 3072px 0px -3072px 136px 205px 722px 5592px '../../img/2000/sprites.png';
$_5_product4-x: 0px;
$_5_product4-y: 3493px;
$_5_product4-offset-x: 0px;
$_5_product4-offset-y: -3493px;
$_5_product4-width: 212px;
$_5_product4-height: 215px;
$_5_product4-total-width: 722px;
$_5_product4-total-height: 5592px;
$_5_product4-image: '../../img/2000/sprites.png';
$_5_product4: 0px 3493px 0px -3493px 212px 215px 722px 5592px '../../img/2000/sprites.png';
$book-x: 0px;
$book-y: 3281px;
$book-offset-x: 0px;
$book-offset-y: -3281px;
$book-width: 71px;
$book-height: 208px;
$book-total-width: 722px;
$book-total-height: 5592px;
$book-image: '../../img/2000/sprites.png';
$book: 0px 3281px 0px -3281px 71px 208px 722px 5592px '../../img/2000/sprites.png';
$fb-x: 0px;
$fb-y: 113px;
$fb-offset-x: 0px;
$fb-offset-y: -113px;
$fb-width: 62px;
$fb-height: 61px;
$fb-total-width: 722px;
$fb-total-height: 5592px;
$fb-image: '../../img/2000/sprites.png';
$fb: 0px 113px 0px -113px 62px 61px 722px 5592px '../../img/2000/sprites.png';
$logo-x: 0px;
$logo-y: 2298px;
$logo-offset-x: 0px;
$logo-offset-y: -2298px;
$logo-width: 188px;
$logo-height: 184px;
$logo-total-width: 722px;
$logo-total-height: 5592px;
$logo-image: '../../img/2000/sprites.png';
$logo: 0px 2298px 0px -2298px 188px 184px 722px 5592px '../../img/2000/sprites.png';
$logoBorder-x: 0px;
$logoBorder-y: 2676px;
$logoBorder-offset-x: 0px;
$logoBorder-offset-y: -2676px;
$logoBorder-width: 196px;
$logoBorder-height: 192px;
$logoBorder-total-width: 722px;
$logoBorder-total-height: 5592px;
$logoBorder-image: '../../img/2000/sprites.png';
$logoBorder: 0px 2676px 0px -2676px 196px 192px 722px 5592px '../../img/2000/sprites.png';
$nwProductsLogo-x: 0px;
$nwProductsLogo-y: 0px;
$nwProductsLogo-offset-x: 0px;
$nwProductsLogo-offset-y: 0px;
$nwProductsLogo-width: 109px;
$nwProductsLogo-height: 44px;
$nwProductsLogo-total-width: 722px;
$nwProductsLogo-total-height: 5592px;
$nwProductsLogo-image: '../../img/2000/sprites.png';
$nwProductsLogo: 0px 0px 0px 0px 109px 44px 722px 5592px '../../img/2000/sprites.png';
$vk-x: 0px;
$vk-y: 48px;
$vk-offset-x: 0px;
$vk-offset-y: -48px;
$vk-width: 62px;
$vk-height: 61px;
$vk-total-width: 722px;
$vk-total-height: 5592px;
$vk-image: '../../img/2000/sprites.png';
$vk: 0px 48px 0px -48px 62px 61px 722px 5592px '../../img/2000/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/

@import './spritesCode';
