@import '../bourbon/bourbon';
@import './variable';
@import 'sprites/allSprites';

// function spriteNames (sprite) {
//   var monitors = [1024, 1152, 1280, 1366, 1400, 1440, 1536, 1600, 1680, 1980, 2000];
//   var result = '';
//   monitors.forEach(function (monitor) {
//     result += sprite + '_' + monitor + ' ';
//   });
//   return console.log(result);
// }

@mixin spriteSize($sprites) {
    @for $i from 1 through length($monitors) {
        $monitor: nth($monitors, $i);
        $sprite: nth($sprites, $i);
        $query: '(min-width: #{$monitor}px)';

        @if $i == 1 {
            @include sprite-width($sprite);
            @include sprite-height($sprite);
        } @else {
            @media #{$query} {
                @include sprite-width($sprite);
                @include sprite-height($sprite);
            }
        }
    }
}

@mixin my-sprite($sprites) {
    @for $i from 1 through length($monitors) {
        $monitor: nth($monitors, $i);
        $query: '(min-width: #{$monitor}px)';
        $sprite: nth($sprites, $i);

        @if $i == 1 {
            @include sprite($sprite);
        } @else {
            @media #{$query} {
                @include sprite($sprite);
            }
        }
    }
}
