extends layout

block content
    .socNetworks
        .fb
        .vk
    div(id="modules")
    footer
        .newProducts
            a.logo(href="http://www.newproducts.ua/" target="_blank")
            .copyright= "© ГК \"Новые продукты\" Все права защищены."
        .healtWarn= "Надмiрне споживання алкоголю шкiдливе для вашого здоров'я"
