extends layout

block content
    .socNetworks
        a.fb(href="https://www.facebook.com/apps.cider" target="_blank")
        a.vk(href="https://vk.com/apps_cider" target="_blank")
        a.yt(href="https://www.youtube.com/user/APPScider" target="_blank")
    div(id="modules")
    footer
        .newProducts
            a.logo(href="http://www.newproducts.ua/" target="_blank")
            .copyright= "© ГК \"Новые продукты\" Все права защищены."
        .healtWarn= "Надмiрне споживання алкоголю шкiдливе для вашого здоров'я"
