extends layout

block content
    .socNetworks
        .fb
        .vk
    div(id="modules")
    footer
        .newProducts
            .logo
            .copyright= "© ГК \"Новые продукты\" Все права защищены."
        .healtWarn= "Надмiрне вживання алкоголю шкодить вашому здоров'ю"
